assets/cate-mb-life.html
<!DOCTYPE html>
<html lang="vi">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Kul News - Tin giải trí, giới trẻ, đời sống xã hội tổng hợp</title>
    <link rel="shortcut icon" href="images/k.ico" type="image/x-icon">
    <link rel="stylesheet" href="css/scroll-mobile.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="appmobile.css">
    <script type="text/javascript" src="js/jquery-2.1.4.min.js"></script>
  </head>
  <body>
    <div class="close-menu"></div>
    <header class="site-header fixed">
      <div class="main-navigation container-fluid">
        <div class="row">
          <div class="col-xs-3">
            <div class="navbar-header">
              <button type="button" data-toggle="collapse" class="navbar-toggle"><span class="ico icon-bar"></span><span class="ico icon-bar"></span><span class="ico icon-bar">          </span></button>
            </div>
          </div>
          <div class="col-xs-6"><a href="index-mb.html" title="Tin tức, giải trí, xã hội" class="min-logo"> <img src="images/icon/kul-mb.svg" alt="Kul trang tin tức giới trẻ"></a></div>
          <div class="col-xs-3">
            <div class="search-box">
              <form class="navbar-form navbar-right"><span id="search" class="glyphicon glyphicon-search-show">
                  <button id="search-button" class="search-button"></button></span><span id="close" class="glyphicon glyphicon-remove-hide">
                  <button id="close-search" class="close"></button></span></form>
            </div>
          </div>
          <div class="col-xs-12">
            <div class="box-search-input search-group">
              <form id="search-form" class="form-group">
                <div class="input-group">
                  <input type="text" name="search" value placeholder="Nhập nội dung.." autofocus class="form-control"><span class="search-mini">
                    <button type="submit" id="search-icon" title="Tìm" class="btn-search-mini"></button></span>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </header>
    <div class="btn-menu">
      <ul class="nav navbar-nav">
        <li class="icon-life"><a href="cate-mb-life.html">Đời Sống</a></li>
        <li class="icon-ent"><a href="cate-mb-life.html">Giải Trí</a></li>
        <li class="icon-tv"><a href="cate-mb-life.html">TV Shows</a></li>
        <li class="active icon-cine"><a href="cate-mb-life.html">Điện Ảnh</a></li>
        <li class="icon-fas"><a href="cate-mb-life.html">Thời Trang</a></li>
        <li class="icon-laydy"><a href="cate-mb-life.html">Phái Đẹp</a></li>
        <li class="icon-tech"><a href="cate-mb-life.html">Công Nghệ</a></li>
        <li class="icon-game"><a href="cate-mb-life.html">Game  </a></li>
        <li class="icon-car"><a href="cate-mb-life.html">Xe</a></li>
        <li class="icon-sport"><a href="cate-mb-life.html">Thể Thao</a></li>
        <li class="icon-video"><a href="video-mb-news.html">Video</a></li>
      </ul>
      <div class="info-page"><span>Kul News</span>
        <p>Giấy phép ICP số : 48/GP – TTĐT 14/05/2015 do Sở Thông Tin và Truyền Thông Tp HCM cấp.</p>
        <p>Chịu trách nhiệm quản lý nội dung: ông Trang Lan Anh Phương.</p>
        <p class="hotline">Hot line: 0987 955 990</p>
      </div>
    </div>
    <section class="cate-mb-life page-wrap">
      <div class="container-mobile">
        <div class="box-title-fixed menu-botom">
          <h1 class="title-main-2 bg-life">Đời sống</h1>
          <button id="btn-sub-of-sub-01" class="btn-sub-of-sub"><span class="glyphicon glyphicon-option-vertical"></span></button>
          <div class="box-btn-sub-cate">
            <ul id="sub-menu-01" class="sub-menu">
              <li><a href="cate-mb-life.html">Nhịp Sống</a></li>
              <li><a href="cate-mb-life.html">Nhân Vật</a></li>
              <li><a href="cate-mb-life.html">Giới Trẻ</a></li>
              <li><a href="cate-mb-life.html">Xem-Ăn-Chơi</a></li>
              <li><a href="cate-mb-life.html"> Sức Khỏe</a></li>
              <li><a href="cate-mb-life.html"> Khám phá</a></li>
            </ul>
          </div>
        </div>
        <div class="cate-large-highlight"><a href="detail-mb-life.html"><img src="images/category-life-02.png" alt="Cách mà người Pháp đã làm với đồ ăn thừa khiến cả thế giới phải ngả mũ kính nể"></a>
          <div class="text-paragrapth">
            <h3 class="title-main-3"><a href="detail-mb-life.html" title="Cách mà người Pháp đã làm với đồ ăn thừa khiến cả thế giới phải ngả mũ kính nể">Cách mà người Pháp đã làm với đồ ăn thừa khiến cả thế giới phải ngả mũ kính nể</a></h3>
            <p class="description">Mỗi 5 giây trôi đi, các siêu thị tại Mỹ vứt đi hơn 4 tấn thực phẩm có thể ăn được. Nhưng tại Pháp, con số lãng phí thức ăn thừa hầu như không có.</p>
          </div>
        </div>
        <div class="box-cate-small media"><a href="detail-mb-life.html" title="Thiên đường giữa chốn trần gian qua góc máy phượt thủ Việt"></a>
          <div class="media-left">
            <div class="box-img-cate"><img src="images/category-life-03.png" alt="Thiên đường giữa chốn trần gian qua góc máy phượt thủ Việt"></div>
          </div>
          <div class="media-body">
            <h3 class="title-cate-4">"Thiên đường" giữa chốn trần gian qua góc máy phượt thủ Việt</h3>
          </div>
        </div>
        <div class="box-cate-small media"><a href="detail-mb-life.html" title="Thiên đường giữa chốn trần gian qua góc máy phượt thủ Việt"></a>
          <div class="media-left">
            <div class="box-img-cate"><img src="images/category-life-04.png" alt="Thiên đường giữa chốn trần gian qua góc máy phượt thủ Việt"></div>
          </div>
          <div class="media-body">
            <h3 class="title-cate-4">Vợ chồng cảnh sát Pháp bị đâm chết: Hung thủ livestream Facebook trong khi gây án</h3>
          </div>
        </div>
        <div class="box-cate-small media"><a href="detail-mb-life.html" title="Thiên đường giữa chốn trần gian qua góc máy phượt thủ Việt"></a>
          <div class="media-left">
            <div class="box-img-cate"><img src="images/category-life-05.png" alt="Thiên đường giữa chốn trần gian qua góc máy phượt thủ Việt"></div>
          </div>
          <div class="media-body">
            <h3 class="title-cate-4">Bị bắt quả tang hai tên trộm khóc lóc, van xin người dân đừng báo công an</h3>
          </div>
        </div>
        <div class="box-cate-small media"><a href="detail-mb-life.html" title="Thiên đường giữa chốn trần gian qua góc máy phượt thủ Việt"></a>
          <div class="media-left">
            <div class="box-img-cate"><img src="images/category-life-06.png" alt="Thiên đường giữa chốn trần gian qua góc máy phượt thủ Việt"></div>
          </div>
          <div class="media-body">
            <h3 class="title-cate-4">Đây là lý do trẻ em các nước phương Tây biết bơi chỉ từ vài ngày tuổi</h3>
          </div>
        </div>
        <div class="box-cate-small media"><a href="detail-mb-life.html" title="Thiên đường giữa chốn trần gian qua góc máy phượt thủ Việt"></a>
          <div class="media-left">
            <div class="box-img-cate"><img src="images/category-life-07.png" alt="Thiên đường giữa chốn trần gian qua góc máy phượt thủ Việt"></div>
          </div>
          <div class="media-body">
            <h3 class="title-cate-4">Đường thẳng không phải là con đường... nhanh nhất!</h3>
          </div>
        </div>
        <div class="box-cate-small media"><a href="detail-mb-life.html" title="Thiên đường giữa chốn trần gian qua góc máy phượt thủ Việt"></a>
          <div class="media-left">
            <div class="box-img-cate"><img src="images/category-life-08.png" alt="Thiên đường giữa chốn trần gian qua góc máy phượt thủ Việt"></div>
          </div>
          <div class="media-body">
            <h3 class="title-cate-4">Tai bạn có dấu hiệu này thì hãy thật cẩn thận</h3>
          </div>
        </div>
        <div class="box-cate-small media"><a href="detail-mb-life.html" title="Thiên đường giữa chốn trần gian qua góc máy phượt thủ Việt"></a>
          <div class="media-left">
            <div class="box-img-cate"><img src="images/category-life-09.png" alt="Thiên đường giữa chốn trần gian qua góc máy phượt thủ Việt"></div>
          </div>
          <div class="media-body">
            <h3 class="title-cate-4">Cận cảnh đường hầm tàu hỏa dài và sâu nhất thế giới</h3>
          </div>
        </div>
        <div class="box-cate-small media"><a href="detail-mb-life.html" title="Thiên đường giữa chốn trần gian qua góc máy phượt thủ Việt"></a>
          <div class="media-left">
            <div class="box-img-cate"><img src="images/category-life-10.png" alt="Thiên đường giữa chốn trần gian qua góc máy phượt thủ Việt"></div>
          </div>
          <div class="media-body">
            <h3 class="title-cate-4">Nhiều phụ huynh lo lắng khi biết sữa Meiji tại Việt Nam có thể là hàng giả</h3>
          </div>
        </div>
        <div class="box-cate-small media"><a href="detail-mb-life.html" title="Thiên đường giữa chốn trần gian qua góc máy phượt thủ Việt"></a>
          <div class="media-left">
            <div class="box-img-cate"><img src="images/category-life-03.png" alt="Thiên đường giữa chốn trần gian qua góc máy phượt thủ Việt"></div>
          </div>
          <div class="media-body">
            <h3 class="title-cate-4">"Thiên đường" giữa chốn trần gian qua góc máy phượt thủ Việt</h3>
          </div>
        </div>
        <div class="box-cate-small media"><a href="detail-mb-life.html" title="Thiên đường giữa chốn trần gian qua góc máy phượt thủ Việt"></a>
          <div class="media-left">
            <div class="box-img-cate"><img src="images/category-life-04.png" alt="Thiên đường giữa chốn trần gian qua góc máy phượt thủ Việt"></div>
          </div>
          <div class="media-body">
            <h3 class="title-cate-4">Vợ chồng cảnh sát Pháp bị đâm chết: Hung thủ livestream Facebook trong khi gây án</h3>
          </div>
        </div>
        <div class="box-cate-small media"><a href="detail-mb-life.html" title="Thiên đường giữa chốn trần gian qua góc máy phượt thủ Việt"></a>
          <div class="media-left">
            <div class="box-img-cate"><img src="images/category-life-05.png" alt="Thiên đường giữa chốn trần gian qua góc máy phượt thủ Việt"></div>
          </div>
          <div class="media-body">
            <h3 class="title-cate-4">Bị bắt quả tang hai tên trộm khóc lóc, van xin người dân đừng báo công an</h3>
          </div>
        </div>
        <div class="box-cate-small media"><a href="detail-mb-life.html" title="Thiên đường giữa chốn trần gian qua góc máy phượt thủ Việt"></a>
          <div class="media-left">
            <div class="box-img-cate"><img src="images/category-life-06.png" alt="Thiên đường giữa chốn trần gian qua góc máy phượt thủ Việt"></div>
          </div>
          <div class="media-body">
            <h3 class="title-cate-4">Đây là lý do trẻ em các nước phương Tây biết bơi chỉ từ vài ngày tuổi</h3>
          </div>
        </div>
        <div class="box-cate-small media"><a href="detail-mb-life.html" title="Thiên đường giữa chốn trần gian qua góc máy phượt thủ Việt"></a>
          <div class="media-left">
            <div class="box-img-cate"><img src="images/category-life-07.png" alt="Thiên đường giữa chốn trần gian qua góc máy phượt thủ Việt"></div>
          </div>
          <div class="media-body">
            <h3 class="title-cate-4">Đường thẳng không phải là con đường... nhanh nhất!</h3>
          </div>
        </div>
        <div class="box-cate-small media"><a href="detail-mb-life.html" title="Thiên đường giữa chốn trần gian qua góc máy phượt thủ Việt"></a>
          <div class="media-left">
            <div class="box-img-cate"><img src="images/category-life-08.png" alt="Thiên đường giữa chốn trần gian qua góc máy phượt thủ Việt"></div>
          </div>
          <div class="media-body">
            <h3 class="title-cate-4">Tai bạn có dấu hiệu này thì hãy thật cẩn thận</h3>
          </div>
        </div>
        <div class="box-cate-small media"><a href="detail-mb-life.html" title="Thiên đường giữa chốn trần gian qua góc máy phượt thủ Việt"></a>
          <div class="media-left">
            <div class="box-img-cate"><img src="images/category-life-09.png" alt="Thiên đường giữa chốn trần gian qua góc máy phượt thủ Việt"></div>
          </div>
          <div class="media-body">
            <h3 class="title-cate-4">Cận cảnh đường hầm tàu hỏa dài và sâu nhất thế giới</h3>
          </div>
        </div>
        <div class="box-cate-small media"><a href="detail-mb-life.html" title="Thiên đường giữa chốn trần gian qua góc máy phượt thủ Việt"></a>
          <div class="media-left">
            <div class="box-img-cate"><img src="images/category-life-10.png" alt="Thiên đường giữa chốn trần gian qua góc máy phượt thủ Việt"></div>
          </div>
          <div class="media-body">
            <h3 class="title-cate-4">Nhiều phụ huynh lo lắng khi biết sữa Meiji tại Việt Nam có thể là hàng giả</h3>
          </div>
        </div>
        <ul class="paginations">
          <li class="active"><a href="#">1</a></li>
          <li><a href="#">2</a></li>
          <li><a href="#">3</a></li>
          <li><a href="#">...</a></li>
          <li><a href="#">99</a></li>
        </ul>
      </div>
    </section>
    <footer>
      <div class="container-mobile">
        <div class="main-footer">
          <div class="content-footer">
            <h3 class="title-footer">theo dõi kul news</h3>
            <div class="social-footer widget-socialize"><a href="https://www.facebook.com/kulnews" title="facebook" target="_blank" class="icon facebook">
                <div class="symbol"><span></span></div>
                <div class="text-footer">
                  <p>1.1M</p>
                  <p>Facebook</p>
                </div></a><a href="https://plus.google.com/u/0/110833293141518607946/" title="google" target="_blank" class="icon google">
                <div class="symbol"><span></span></div>
                <div class="text-footer">
                  <p>60</p>
                  <p>Google+</p>
                </div></a><a href="https://www.pinterest.com/" title="youtube" target="_blank" class="icon youtube">
                <div class="symbol"><span></span></div>
                <div class="text-footer">
                  <p>33.5k</p>
                  <p>Youtube</p>
                </div></a><a href="https://www.instagram.com/kulnews/" title="instagram" target="_blank" class="icon instagram">
                <div class="symbol"><span></span></div>
                <div class="text-footer">
                  <p>1.6k</p>
                  <p>Instagram</p>
                </div></a></div>
          </div>
        </div>
      </div>
    </footer>
    <div class="mobile-change">
      <div class="link-mobile">
        <div class="thumb-logo"><img src="images/icon/news.svg" alt="Kul News logo"></div>
        <p>Bạn cần chuyển qua giao diện máy tính để có được những trải nghiệm tốt hơn trên Kul News</p><a href="index.html">Chuyển về giao diện đầy đủ    </a>
      </div>
    </div>
    <script type="text/javascript" src="js/mCustomScrollbar.min.js"></script>
    <script type="text/javascript" src="js/main-mb.js"></script>
  </body>
</html>

assets/cate-mb-life.jade
doctype html
html(lang="vi")
	include ./head-mb.jade
	body
		include ./header-mb-life.jade
		section.cate-mb-life.page-wrap
			.container-mobile
				.box-title-fixed.menu-botom
					h1.title-main-2.bg-life Đời sống
					button.btn-sub-of-sub#btn-sub-of-sub-01
						span.glyphicon.glyphicon-option-vertical
					.box-btn-sub-cate
							ul.sub-menu#sub-menu-01
								li
									a(href="cate-mb-life.html") Nhịp Sống
								li
									a(href="cate-mb-life.html") Nhân Vật
								li
									a(href="cate-mb-life.html") Giới Trẻ
								li
									a(href="cate-mb-life.html") Xem-Ăn-Chơi
								li
									a(href="cate-mb-life.html")  Sức Khỏe
								li
									a(href="cate-mb-life.html")  Khám phá
				.cate-large-highlight
					a(href="detail-mb-life.html")
						img(src="images/category-life-02.png", alt="Cách mà người Pháp đã làm với đồ ăn thừa khiến cả thế giới phải ngả mũ kính nể")
					.text-paragrapth
						h3.title-main-3
							a(href="detail-mb-life.html" title="Cách mà người Pháp đã làm với đồ ăn thừa khiến cả thế giới phải ngả mũ kính nể") Cách mà người Pháp đã làm với đồ ăn thừa khiến cả thế giới phải ngả mũ kính nể
						p.description Mỗi 5 giây trôi đi, các siêu thị tại Mỹ vứt đi hơn 4 tấn thực phẩm có thể ăn được. Nhưng tại Pháp, con số lãng phí thức ăn thừa hầu như không có.
				.box-cate-small.media
					a(href="detail-mb-life.html" title="Thiên đường giữa chốn trần gian qua góc máy phượt thủ Việt")
					.media-left
						.box-img-cate
							img(src="images/category-life-03.png", alt="Thiên đường giữa chốn trần gian qua góc máy phượt thủ Việt")
					.media-body
						h3.title-cate-4 "Thiên đường" giữa chốn trần gian qua góc máy phượt thủ Việt
				.box-cate-small.media
					a(href="detail-mb-life.html" title="Thiên đường giữa chốn trần gian qua góc máy phượt thủ Việt")
					.media-left
						.box-img-cate
							img(src="images/category-life-04.png", alt="Thiên đường giữa chốn trần gian qua góc máy phượt thủ Việt")
					.media-body
						h3.title-cate-4 Vợ chồng cảnh sát Pháp bị đâm chết: Hung thủ livestream Facebook trong khi gây án
				.box-cate-small.media
					a(href="detail-mb-life.html" title="Thiên đường giữa chốn trần gian qua góc máy phượt thủ Việt")
					.media-left
						.box-img-cate
							img(src="images/category-life-05.png", alt="Thiên đường giữa chốn trần gian qua góc máy phượt thủ Việt")
					.media-body
						h3.title-cate-4 Bị bắt quả tang hai tên trộm khóc lóc, van xin người dân đừng báo công an
				.box-cate-small.media
					a(href="detail-mb-life.html" title="Thiên đường giữa chốn trần gian qua góc máy phượt thủ Việt")
					.media-left
						.box-img-cate
							img(src="images/category-life-06.png", alt="Thiên đường giữa chốn trần gian qua góc máy phượt thủ Việt")
					.media-body
						h3.title-cate-4 Đây là lý do trẻ em các nước phương Tây biết bơi chỉ từ vài ngày tuổi
				.box-cate-small.media
					a(href="detail-mb-life.html" title="Thiên đường giữa chốn trần gian qua góc máy phượt thủ Việt")
					.media-left
						.box-img-cate
							img(src="images/category-life-07.png", alt="Thiên đường giữa chốn trần gian qua góc máy phượt thủ Việt")
					.media-body
						h3.title-cate-4 Đường thẳng không phải là con đường... nhanh nhất!
				.box-cate-small.media
					a(href="detail-mb-life.html" title="Thiên đường giữa chốn trần gian qua góc máy phượt thủ Việt")
					.media-left
						.box-img-cate
							img(src="images/category-life-08.png", alt="Thiên đường giữa chốn trần gian qua góc máy phượt thủ Việt")
					.media-body
						h3.title-cate-4 Tai bạn có dấu hiệu này thì hãy thật cẩn thận
				.box-cate-small.media
					a(href="detail-mb-life.html" title="Thiên đường giữa chốn trần gian qua góc máy phượt thủ Việt")
					.media-left
						.box-img-cate
							img(src="images/category-life-09.png", alt="Thiên đường giữa chốn trần gian qua góc máy phượt thủ Việt")
					.media-body
						h3.title-cate-4 Cận cảnh đường hầm tàu hỏa dài và sâu nhất thế giới
				.box-cate-small.media
					a(href="detail-mb-life.html" title="Thiên đường giữa chốn trần gian qua góc máy phượt thủ Việt")
					.media-left
						.box-img-cate
							img(src="images/category-life-10.png", alt="Thiên đường giữa chốn trần gian qua góc máy phượt thủ Việt")
					.media-body
						h3.title-cate-4 Nhiều phụ huynh lo lắng khi biết sữa Meiji tại Việt Nam có thể là hàng giả
				.box-cate-small.media
					a(href="detail-mb-life.html" title="Thiên đường giữa chốn trần gian qua góc máy phượt thủ Việt")
					.media-left
						.box-img-cate
							img(src="images/category-life-03.png", alt="Thiên đường giữa chốn trần gian qua góc máy phượt thủ Việt")
					.media-body
						h3.title-cate-4 "Thiên đường" giữa chốn trần gian qua góc máy phượt thủ Việt
				.box-cate-small.media
					a(href="detail-mb-life.html" title="Thiên đường giữa chốn trần gian qua góc máy phượt thủ Việt")
					.media-left
						.box-img-cate
							img(src="images/category-life-04.png", alt="Thiên đường giữa chốn trần gian qua góc máy phượt thủ Việt")
					.media-body
						h3.title-cate-4 Vợ chồng cảnh sát Pháp bị đâm chết: Hung thủ livestream Facebook trong khi gây án
				.box-cate-small.media
					a(href="detail-mb-life.html" title="Thiên đường giữa chốn trần gian qua góc máy phượt thủ Việt")
					.media-left
						.box-img-cate
							img(src="images/category-life-05.png", alt="Thiên đường giữa chốn trần gian qua góc máy phượt thủ Việt")
					.media-body
						h3.title-cate-4 Bị bắt quả tang hai tên trộm khóc lóc, van xin người dân đừng báo công an
				.box-cate-small.media
					a(href="detail-mb-life.html" title="Thiên đường giữa chốn trần gian qua góc máy phượt thủ Việt")
					.media-left
						.box-img-cate
							img(src="images/category-life-06.png", alt="Thiên đường giữa chốn trần gian qua góc máy phượt thủ Việt")
					.media-body
						h3.title-cate-4 Đây là lý do trẻ em các nước phương Tây biết bơi chỉ từ vài ngày tuổi
				.box-cate-small.media
					a(href="detail-mb-life.html" title="Thiên đường giữa chốn trần gian qua góc máy phượt thủ Việt")
					.media-left
						.box-img-cate
							img(src="images/category-life-07.png", alt="Thiên đường giữa chốn trần gian qua góc máy phượt thủ Việt")
					.media-body
						h3.title-cate-4 Đường thẳng không phải là con đường... nhanh nhất!
				.box-cate-small.media
					a(href="detail-mb-life.html" title="Thiên đường giữa chốn trần gian qua góc máy phượt thủ Việt")
					.media-left
						.box-img-cate
							img(src="images/category-life-08.png", alt="Thiên đường giữa chốn trần gian qua góc máy phượt thủ Việt")
					.media-body
						h3.title-cate-4 Tai bạn có dấu hiệu này thì hãy thật cẩn thận
				.box-cate-small.media
					a(href="detail-mb-life.html" title="Thiên đường giữa chốn trần gian qua góc máy phượt thủ Việt")
					.media-left
						.box-img-cate
							img(src="images/category-life-09.png", alt="Thiên đường giữa chốn trần gian qua góc máy phượt thủ Việt")
					.media-body
						h3.title-cate-4 Cận cảnh đường hầm tàu hỏa dài và sâu nhất thế giới
				.box-cate-small.media
					a(href="detail-mb-life.html" title="Thiên đường giữa chốn trần gian qua góc máy phượt thủ Việt")
					.media-left
						.box-img-cate
							img(src="images/category-life-10.png", alt="Thiên đường giữa chốn trần gian qua góc máy phượt thủ Việt")
					.media-body
						h3.title-cate-4 Nhiều phụ huynh lo lắng khi biết sữa Meiji tại Việt Nam có thể là hàng giả
				ul.paginations
					li.active
						a(href="#") 1
					li
						a(href="#") 2
					li
						a(href="#") 3
					li
						a(href="#") ...
					li
						a(href="#") 99
		include ./footer-mb.jade
		include ./script-mb.jade
