assets/detail-mb-life.jade
doctype html
html(lang="vi")
	include ./head-mb.jade
	body
		link(href='https://fonts.googleapis.com/css?family=Noto+Serif&subset=vietnamese', rel='stylesheet', type='text/css')
		include ./header-mb.jade
		section.detail-mb-life.page-wrap
			.container-mobile
				.box-title-fixed.menu-botom
					h2.title-main-2.bg-life Đời sống
					button.btn-sub-of-sub#btn-sub-of-sub-01
						span.glyphicon.glyphicon-option-vertical
					.box-btn-sub-detail
						ul.sub-menu#sub-menu-01
							li 
								a(href="cate-mb-life.html") Nhịp Sống
							li
								a(href="cate-mb-life.html") Nhân Vật
							li
								a(href="cate-mb-life.html")  Giới Trẻ
							li
								a(href="cate-mb-life.html")  Xem-Ăn-Chơi
							li
								a(href="cate-mb-life.html")  Sức Khỏe
							li
								a(href="cate-mb-life.html")  Khám phá
				.detail-news-center
					h1.title-det-01 Vụ máy bay Vietnam Airlines hạ cánh tại Lào: Lãnh đạo chính thức lên tiếng
					.category-datetime
						a.life(href="category-life.html")
							span Nhịp sống
						span.author-name Theo Tuổi Trẻ
						span.date 06:58 09/09/2016
					h2.sapo Mù Cang Chải, Y Tý, Hà Giang chính là những địa điểm rất đáng để bạn xách balo lên và đi. Toàn những cái tên quen thôi, nhưng không đi thì sẽ tiếc thật!
					p
						strong Hà Giang
					p Hà Giang - mảnh đất địa đầu Tổ quốc đã và sẽ luôn là một điểm đến hấp dẫn không chỉ khách du lịch trong nước mà cả khách nước ngoài. Người ta vẫn bảo Hà Giang đẹp quanh năm, vào mỗi mùa, Hà Giang lại đẹp và thu hút theo một vẻ rất riêng biệt.
					.box-keyword.media
						.media-left
							a(href="detail-life.html" title="Vợ chồng cảnh sát Pháp bị đâm chết: Hung thủ livestream Facebook trong khi gây án")
								img(src="images/nn2.jpg", alt="Vợ chồng cảnh sát Pháp bị đâm chết: Hung thủ livestream Facebook trong khi gây án")
						.media-body
							h3.title-main-3
								a(href="detail-life.html") 4 hotboy gốc Việt 100% nhưng lại khiến nhiều người lầm tưởng là trai Hàn
					p Như mùa xuân, khắp nơi từ Quản Bạ, Yên Minh, Đồng Văn, Mèo Vạc đều là đào, là mận, là cải. Sắc hoa nở trên những cao nguyên đá rực rỡ, nhưng cũng rất mộc, rất... cao nguyên. Sang tháng 4, sẽ là Chợ tình Khâu Vai mỗi năm chỉ có một lần. Lúc đó, trên khắp các nẻo đường núi, người dân lại rộn ràng xuống chợ trong trang phục của dân tộc mình để tham gia Chợ tình.
					figure
						img(src="images/view1.jpg", alt="Chuyến bay VN168 hành trình Đà Nẵng – Hà Nội" )
						figcaption Ảnh từ bài dự thi chuyến đi Hà Giang của bạn Lê Giang.
					figure
						img(src="images/view2.jpg", alt="Chuyến bay VN168 hành trình Đà Nẵng – Hà Nội" )
						figcaption Ảnh từ bài dự thi chuyến đi Hà Giang của bạn Lê Giang.
					figure
						img(src="images/view3.jpg", alt="Chuyến bay VN168 hành trình Đà Nẵng – Hà Nội" )
						figcaption Ảnh từ bài dự thi chuyến đi Hà Giang của bạn Lê Giang.	
					p 
						| Tháng 5,6 là mùa nước đổ. Đẹp nhất cũng là vào tầm này, khi mà ruộng đang cấy dở. Rồi tháng 9,10 - là bây giờ đây, đang là mùa lúa chín. Những 
						a(href="#") thửa ruộng  
						|  bậc thang đồng loạt ngả sang màu vàng rực của mùa lúa. Cả vùng núi như thay sắc vào thời điểm này. Tháng 11 với mùa hoa tam giác mạch, cũng là "đặc sản" Hà Giang. Bước sang tháng 12, mùa lạnh, sẽ là lúc của tuyết rơi ở Hà Giang, nhiều chỗ đến trắng cả trời. 
					figure
						img(src="images/view4.jpg", alt="Chuyến bay VN168 hành trình Đà Nẵng – Hà Nội" )
					figure
						img(src="images/view5.jpg", alt="Chuyến bay VN168 hành trình Đà Nẵng – Hà Nội" )
					figure
						img(src="images/view6.jpg", alt="Chuyến bay VN168 hành trình Đà Nẵng – Hà Nội" )
						figcaption Ảnh từ bài dự thi chuyến đi Hà Giang của bạn Lê Giang.
					p Hà Giang chính là địa điểm mà đội "25" của Nguyễn Minh Ngọc và Nguyễn Hoàng Anh lựa chọn. Chia sẻ về lý do chọn Hà Giang cũng như sự chuẩn bị sắp tới, Minh Ngọc - đại diện cho đội thi chia sẻ: "Mình đã từng lên vùng núi 2 lần, mà có rất nhiều trải nghiệm thú vị, nên hi vọng rằng lần thứ 3 này với Hà Giang - cung đường khá phức tạp và có nhiều thứ để khám phá sẽ còn thú vị hơn nữa. Quan điểm về du lịch của mình là muốn tập trung vào con người hơn là cảnh sắc ở đấy. Phong cảnh có thể lặp lại ở nhiều chỗ, nhưng cảm nhận về con người chỉ có nơi đấy mới có thôi".
					//- .live-feeds
					//- 	.feeds-header 
					//- 		span.live-title Trực tiếp
					//- 		span.feeds-header-right#reload-timer Tự động cập nhật trong 5 giây
					//- 	.feeds-tooltip
					//- 		.feeds-tooltip-left
					//- 			a.type-live.all.active(href="#",data-action="all") Tất cả
					//- 			a.type-live.highlight(href="#",data-action="highlight") Nổi bật
					//- 			a.type-live.album-only(href="#",data-action="album-only") Ảnh
					//- 			a.type-live.clip-only(href="#",data-action="clip-only") Video
					//- 			a.sort-live.newest.active(href="#",data-action="newest") Mới nhất
					//- 			a.sort-life.oldest(href="#",data-action="oldest") Cũ nhất
					//- 		//- .feeds-tooltip-right
					//- 		//- 	a.sort-live.newest.active(href="#",data-action="newest") Mới nhất
					//- 		//- 	a.sort-life.oldest(href="#",data-action="oldest") Cũ nhất
					//- ul.feeds-list#feeds-list
					//- 	li.block.highlight-feed
					//- 		.time
					//- 			span 90'
					//- 			i.red-card
					//- 		.content
					//- 			strong EXO kết thúc MAMA với giải thưởng Album của năm
					//- 			p Các chàng trai BTS đã khóc hết nước mắt khi nhận được giải thưởng danh giá nhất năm .
					//- 			figure
					//- 				img(src="http://kul.vn/uploads/media/kul/5841/94/kul_news_mama-2016-28.png", alt="Chuyến bay VN168 hành trình Đà Nẵng – Hà Nội" )
					//- 			figure
					//- 				img(src="http://cdn.kul.vn/uploads/media/kul/5841/94/kul_news_mama-2016-30.png", alt="Chuyến bay VN168 hành trình Đà Nẵng – Hà Nội" )
					//- 	li.block.normal-feed
					//- 		.time
					//- 			span 30'
					//- 			i.yellow-card
					//- 		.content
					//- 			strong Giải nghệ sĩ của năm không thể thoát khỏi tay các chàng trai BTS
					//- 			p Các chàng trai BTS đã khóc hết nước mắt khi nhận được giải thưởng danh giá nhất năm .
					//- 			figure
					//- 				img(src="http://cdn.kul.vn/uploads/media/kul/5841/92/kul_news_mama-2016-22.png", alt="Chuyến bay VN168 hành trình Đà Nẵng – Hà Nội" )
					//- 			figure
					//- 				img(src="http://cdn.kul.vn/uploads/media/kul/5841/92/kul_news_mama-2016-24.png", alt="Chuyến bay VN168 hành trình Đà Nẵng – Hà Nội" )
					//- 	li.block.normal-feed
					//- 		.time
					//- 			span 25'
					//- 			i.soccer-goal
					//- 		.content
					//- 			strong Wiz Khalifa đem See You Again đến với sân khấu MAMA 2016
					//- 			p Là một trong những khách mời được chờ đợi nhất sự kiện, Wiz Khalifa đã có màn trình diễn kết hợp Young, Wild and Free cùng bản hit See You Again khiến cả khán đài cùng hòa giọng.
					//- 			figure
					//- 				img(src="http://cdn.kul.vn/uploads/media/kul/5841/8c/kul_news_mama-2016-13.png", alt="Chuyến bay VN168 hành trình Đà Nẵng – Hà Nội" )
					//- 	li.block.normal-feed
					//- 		.time
					//- 			span 10'
					//- 			i.time-over
					//- 		.content
					//- 			strong EXO "ẵm giải" phong cách Best Asian Style
					//- 			p Các chàng trai BTS đã khóc hết nước mắt khi nhận được giải thưởng danh giá nhất năm .
					//- 			figure
					//- 				img(src="http://cdn.kul.vn/uploads/media/kul/5841/5e/kul_news_15282068-1140189222683642-1295524715-n.jpg", alt="Chuyến bay VN168 hành trình Đà Nẵng – Hà Nội" )
					//- 	li.block.normal-feed
					//- 		.time
					//- 			span 115'
					//- 			i.change_player
					//- 		.content
					//- 			strong EXO "ẵm giải" phong cách Best Asian Style
					//- 			p Các chàng trai BTS đã khóc hết nước mắt khi nhận được giải thưởng danh giá nhất năm .
					//- 			figure
					//- 				img(src="http://cdn.kul.vn/uploads/media/kul/5841/5e/kul_news_15282068-1140189222683642-1295524715-n.jpg", alt="Chuyến bay VN168 hành trình Đà Nẵng – Hà Nội" )
					//- 	li.block.normal-feed
					//- 		.time
					//- 			span 10'
					//- 			i.penalty_kick
					//- 		.content
					//- 			strong EXO "ẵm giải" phong cách Best Asian Style
					//- 			p Các chàng trai BTS đã khóc hết nước mắt khi nhận được giải thưởng danh giá nhất năm .
					//- 			figure
					//- 				img(src="http://cdn.kul.vn/uploads/media/kul/5841/5e/kul_news_15282068-1140189222683642-1295524715-n.jpg", alt="Chuyến bay VN168 hành trình Đà Nẵng – Hà Nội" )
					//- 	li.block.normal-feed
					//- 		.time
					//- 			span 10'
					//- 			i.corner_kick
					//- 		.content
					//- 			strong EXO "ẵm giải" phong cách Best Asian Style
					//- 			p Các chàng trai BTS đã khóc hết nước mắt khi nhận được giải thưởng danh giá nhất năm .
					//- 			figure
					//- 				img(src="http://cdn.kul.vn/uploads/media/kul/5841/5e/kul_news_15282068-1140189222683642-1295524715-n.jpg", alt="Chuyến bay VN168 hành trình Đà Nẵng – Hà Nội" )
					p
						img(src="images/view6.jpg", alt="Chuyến bay VN168 hành trình Đà Nẵng – Hà Nội" )
					p Một số điểm du lịch ở Hà Giang phải kể đến là Dinh họ Vương, cột cờ Lũng Cú, phố cổ Đồng Văn... Đặc sản thì có bánh cuốn phố cổ Đồng Văn, cơm lam Bắc Mê, chè Shan Tuyết, xôi Ngũ Sắc...
					.name-ad-post 
						span THEO TRÍ THỨC TRẺ
					.share-likedbutton
						a(href="#")
							span.icon-minfb
							| Chia sẻ Facebook
					.tags-involve
						strong Từ khóa:
						a(href="#") du lịch
						a(href="#") phải đi hè này
						a(href="#") Sapa
						a(href="#") Hà Giang
						a(href="#") MinisoVietnam
					//- .icon-social-detail
					//- 	a(href="https://www.facebook.com/kulnews" title="facebook" class="icon facebook" target="_blank")
					//- 		span
					//- 	a(href="https://plus.google.com/u/0/110833293141518607946/" title="google" class="icon google" target="_blank")
					//- 		span
					//- 	a(href="#" title="envelope" class="icon envelope" target="_blank")
					//- 		span
					//- 	a(href="#" title="pinterest" class="icon pinterest" target="_blank")
					//- 		span
					//- 	a(href="https://www.instagram.com/kulnews/" title="twitter" class="icon twitter" target="_blank")
					//- 		span
					//- 	iframe(src="https://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&width=111&layout=button&action=like&show_faces=true&share=true&height=65&appId" width="111" height="65" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true")
					//- .post-comment
					//- 	.comment-total
					//- 		h3 Bình luận
					//- 	.comment-area
					//- 		.avat-image
					//- 			img(src="images/bava2.jpg" alt="avata")
					//- 		form.comment-boxarea
					//- 			.area-comment
					//- 				textarea(placeholder="Bình luận của bạn...")
					//- 			.buttom-comment
					//- 				button.button-submit(type="submit") Đăng
					//- 	.comment-section
					//- 		.avacm-img
					//- 			img(src="images/bava2.jpg" alt="avata")
					//- 		.comment-boxarea
					//- 			span.comment-account Nguyen Minh Tuan
					//- 			p.comment-contain Hoành tráng quá, nhất định phải đến rạp xem bộ phim này
					//- 			.cmtsecont
					//- 				span Trả lời
					//- 				span.alt-tab -
					//- 				span.icon-like
					//- 				span 346 Thích
					//- 		.comment-second
					//- 			.section-second
					//- 				.avacm-img
					//- 					img(src="images/bava3.jpg" alt="avata")
					//- 			.comment-boxarea
					//- 				span.comment-account Quang Bùi 
					//- 				p.comment-contain Hình như thiếu mấy con khủng long với mấy con quái vật nhỏ nữa bác :D
					//- 				.cmtsecont
					//- 					span.icon-like
					//- 					span 2 Thích
					//- 		.comment-second
					//- 			.section-second
					//- 				.avacm-img
					//- 					img(src="images/ava2.jpg" alt="avata")
					//- 			.comment-boxarea
					//- 				span.comment-account đỗ thành
					//- 				p.comment-contain yes hoàng tráng thiệt , xếp gạch hóng bản cam hay mini HD !!
					//- 				.cmtsecont
					//- 					span.icon-like
					//- 					span 2 Thích
					//- 		.comment-second
					//- 			.section-second
					//- 				.avacm-img
					//- 					img(src="images/ava1.jpg" alt="avata")
					//- 			.comment-boxarea
					//- 				span.comment-account Vtuyen
					//- 				p.comment-contain Rất tuyệt vời. Rất hoành tráng. Ngày rạp khởi chiếu bộ phim này ko thể bỏ qua được.
					//- 				.cmtsecont
					//- 					span.icon-like
					//- 					span 2 Thích
					//- 		form.comment-boxarea.add-cmt
					//- 			.area-comment
					//- 				textarea(placeholder="Bình luận của bạn...")
					//- 			.buttom-comment
					//- 				button.button-submit(type="submit") Đăng
					//- 		.loadMore-second Hiển thị thêm bình luận
					//- 			span.caret
					//- 	.comment-section
					//- 		.avacm-img
					//- 			img(src="images/avagirly.jpg" alt="avata")
					//- 		.comment-boxarea
					//- 			span.comment-account vietnam discover
					//- 			p.comment-contain Việt nam thô sơ thế, nhưng với điện anh Hollywood thì thật hùng vĩ và tự hào, quyết tâm dành tiền từ bây giờ để xem phim bom tấn
					//- 			.cmtsecont
					//- 				span Trả lời
					//- 				span.alt-tab -
					//- 				span.icon-like
					//- 				span 32 Thích
					//- 	.comment-section
					//- 		.avacm-img
					//- 			img(src="images/bava1.jpg" alt="avata")
					//- 		.comment-boxarea
					//- 			span.comment-account dinh hai pham
					//- 			p.comment-contain Vé xem phim rẻ mà bạn, nếu ít tiền có thể mua loại vé tầm 50k ở những giờ vắng khách, quá rẻ cho một sản phẩm giải trí hoành tráng.
					//- 			.cmtsecont
					//- 				span Trả lời
					//- 				span.alt-tab -
					//- 				span.icon-like
					//- 				span Thích
					//- 	.loadMore 
					//- 		span Tải thêm bình luận
			//- include ./video-detail-mb.jade
			include ./involve-detail-mb.jade
			.fix-social-navigation
				ul
					li
						<iframe src="https://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&width=101&layout=button_count&action=like&size=small&show_faces=false&share=false&height=21&appId=550665205082229" width="101" height="21" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
					li
						<iframe src="https://www.facebook.com/plugins/share_button.php?href=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&layout=button_count&size=small&mobile_iframe=true&appId=550665205082229&width=110&height=20" width="110" height="20" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
		include ./footer-mb.jade
		include ./script-mb.jade

assets/detail-mb-life.html
<!DOCTYPE html>
<html lang="vi">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Kul News - Tin giải trí, giới trẻ, đời sống xã hội tổng hợp</title>
    <link rel="shortcut icon" href="images/k.ico" type="image/x-icon">
    <link rel="stylesheet" href="css/scroll-mobile.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="appmobile.css">
    <script type="text/javascript" src="js/jquery-2.1.4.min.js"></script>
  </head>
  <body>
    <link href="https://fonts.googleapis.com/css?family=Noto+Serif&amp;subset=vietnamese" rel="stylesheet" type="text/css">
    <div class="close-menu"></div>
    <header class="site-header fixed">
      <div class="main-navigation container-fluid">
        <div class="row">
          <div class="col-xs-3">
            <div class="navbar-header">
              <button type="button" data-toggle="collapse" class="navbar-toggle"><span class="ico icon-bar"></span><span class="ico icon-bar"></span><span class="ico icon-bar">          </span></button>
            </div>
          </div>
          <div class="col-xs-6">
            <h1 class="logo-top-1"><a href="index-mb.html" title="Tin tức, giải trí, xã hội"> <img src="images/icon/kul-mb.svg" alt="Kul trang tin tức giới trẻ"><span>Kul News Tin tức, giải trí, xã hội</span></a></h1>
          </div>
          <div class="col-xs-3">
            <div class="search-box">
              <form class="navbar-form navbar-right"><span id="search" class="glyphicon glyphicon-search-show">
                  <button id="search-button" class="search-button"></button></span><span id="close" class="glyphicon glyphicon-remove-hide">
                  <button id="close-search" class="close"></button></span></form>
            </div>
          </div>
          <div class="col-xs-12">
            <div class="box-search-input search-group">
              <form id="search-form" class="form-group">
                <div class="input-group">
                  <input type="text" name="search" value placeholder="Nhập nội dung.." autofocus class="form-control"><span class="search-mini">
                    <button type="submit" id="search-icon" title="Tìm" class="btn-search-mini"></button></span>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </header>
    <div class="btn-menu">
      <ul class="nav navbar-nav">
        <li class="icon-video"><a href="video-mb-news.html">Video</a></li>
        <li class="icon-life"><a href="cate-mb-life.html">Đời Sống</a></li>
        <li class="icon-world"><a href="cate-mb-life.html">Thế giới</a></li>
        <li class="icon-ent"><a href="cate-mb-life.html">Giải Trí</a></li>
        <li class="icon-fas"><a href="cate-mb-life.html">Thời Trang</a></li>
        <li class="icon-game"><a href="cate-mb-life.html">Game</a></li>
        <li class="icon-sport"><a href="cate-mb-life.html">Thể Thao</a></li>
        <li class="icon-techuvuv"><a href="cate-mb-life.html">Công Nghệ    </a></li>
        <li class="icon-health"><a href="cate-mb-life.html">Sức khỏe</a></li>
        <li class="icon-laydy"><a href="cate-mb-life.html">Phái Đẹp</a></li>
        <li class="icon-laydy"><a href="cate-mb-life.html">Magazine</a></li>
        <li class="icon-baby"><a href="cate-mb-life.html">Mẹ và bé</a></li>
      </ul>
      <div class="info-page"><span>Kul News</span>
        <p>Giấy phép ICP số : 48/GP – TTĐT 14/05/2015 do Sở Thông Tin và Truyền Thông Tp HCM cấp.</p>
        <p>Chịu trách nhiệm quản lý nội dung: ông Trang Lan Anh Phương.</p>
        <p class="hotline">Hot line: 0987 955 990</p>
      </div>
    </div>
    <section class="detail-mb-life page-wrap">
      <div class="container-mobile">
        <div class="box-title-fixed menu-botom">
          <h2 class="title-main-2 bg-life">Đời sống</h2>
          <button id="btn-sub-of-sub-01" class="btn-sub-of-sub"><span class="glyphicon glyphicon-option-vertical"></span></button>
          <div class="box-btn-sub-detail">
            <ul id="sub-menu-01" class="sub-menu">
              <li> <a href="cate-mb-life.html">Nhịp Sống</a></li>
              <li><a href="cate-mb-life.html">Nhân Vật</a></li>
              <li><a href="cate-mb-life.html"> Giới Trẻ</a></li>
              <li><a href="cate-mb-life.html"> Xem-Ăn-Chơi</a></li>
              <li><a href="cate-mb-life.html"> Sức Khỏe</a></li>
              <li><a href="cate-mb-life.html"> Khám phá</a></li>
            </ul>
          </div>
        </div>
        <div class="detail-news-center">
          <h1 class="title-det-01">Vụ máy bay Vietnam Airlines hạ cánh tại Lào: Lãnh đạo chính thức lên tiếng</h1>
          <div class="category-datetime"><a href="category-life.html" class="life"><span>Nhịp sống</span></a><span class="author-name">Theo Tuổi Trẻ</span><span class="date">06:58 09/09/2016</span></div>
          <h2 class="sapo">Mù Cang Chải, Y Tý, Hà Giang chính là những địa điểm rất đáng để bạn xách balo lên và đi. Toàn những cái tên quen thôi, nhưng không đi thì sẽ tiếc thật!</h2>
          <p><strong>Hà Giang</strong></p>
          <p>Hà Giang - mảnh đất địa đầu Tổ quốc đã và sẽ luôn là một điểm đến hấp dẫn không chỉ khách du lịch trong nước mà cả khách nước ngoài. Người ta vẫn bảo Hà Giang đẹp quanh năm, vào mỗi mùa, Hà Giang lại đẹp và thu hút theo một vẻ rất riêng biệt.</p>
          <div class="box-keyword media">
            <div class="media-left"><a href="detail-life.html" title="Vợ chồng cảnh sát Pháp bị đâm chết: Hung thủ livestream Facebook trong khi gây án"><img src="images/nn2.jpg" alt="Vợ chồng cảnh sát Pháp bị đâm chết: Hung thủ livestream Facebook trong khi gây án"></a></div>
            <div class="media-body">
              <h3 class="title-main-3"><a href="detail-life.html">4 hotboy gốc Việt 100% nhưng lại khiến nhiều người lầm tưởng là trai Hàn</a></h3>
            </div>
          </div>
          <p>Như mùa xuân, khắp nơi từ Quản Bạ, Yên Minh, Đồng Văn, Mèo Vạc đều là đào, là mận, là cải. Sắc hoa nở trên những cao nguyên đá rực rỡ, nhưng cũng rất mộc, rất... cao nguyên. Sang tháng 4, sẽ là Chợ tình Khâu Vai mỗi năm chỉ có một lần. Lúc đó, trên khắp các nẻo đường núi, người dân lại rộn ràng xuống chợ trong trang phục của dân tộc mình để tham gia Chợ tình.</p>
          <figure><img src="images/view1.jpg" alt="Chuyến bay VN168 hành trình Đà Nẵng – Hà Nội">
            <figcaption>Ảnh từ bài dự thi chuyến đi Hà Giang của bạn Lê Giang.</figcaption>
          </figure>
          <figure><img src="images/view2.jpg" alt="Chuyến bay VN168 hành trình Đà Nẵng – Hà Nội">
            <figcaption>Ảnh từ bài dự thi chuyến đi Hà Giang của bạn Lê Giang.</figcaption>
          </figure>
          <figure><img src="images/view3.jpg" alt="Chuyến bay VN168 hành trình Đà Nẵng – Hà Nội">
            <figcaption>Ảnh từ bài dự thi chuyến đi Hà Giang của bạn Lê Giang.	</figcaption>
          </figure>
          <p>
             
            Tháng 5,6 là mùa nước đổ. Đẹp nhất cũng là vào tầm này, khi mà ruộng đang cấy dở. Rồi tháng 9,10 - là bây giờ đây, đang là mùa lúa chín. Những <a href="#">thửa ruộng  </a> bậc thang đồng loạt ngả sang màu vàng rực của mùa lúa. Cả vùng núi như thay sắc vào thời điểm này. Tháng 11 với mùa hoa tam giác mạch, cũng là "đặc sản" Hà Giang. Bước sang tháng 12, mùa lạnh, sẽ là lúc của tuyết rơi ở Hà Giang, nhiều chỗ đến trắng cả trời. 
          </p>
          <figure><img src="images/view4.jpg" alt="Chuyến bay VN168 hành trình Đà Nẵng – Hà Nội"></figure>
          <figure><img src="images/view5.jpg" alt="Chuyến bay VN168 hành trình Đà Nẵng – Hà Nội"></figure>
          <figure><img src="images/view6.jpg" alt="Chuyến bay VN168 hành trình Đà Nẵng – Hà Nội">
            <figcaption>Ảnh từ bài dự thi chuyến đi Hà Giang của bạn Lê Giang.</figcaption>
          </figure>
          <p>Hà Giang chính là địa điểm mà đội "25" của Nguyễn Minh Ngọc và Nguyễn Hoàng Anh lựa chọn. Chia sẻ về lý do chọn Hà Giang cũng như sự chuẩn bị sắp tới, Minh Ngọc - đại diện cho đội thi chia sẻ: "Mình đã từng lên vùng núi 2 lần, mà có rất nhiều trải nghiệm thú vị, nên hi vọng rằng lần thứ 3 này với Hà Giang - cung đường khá phức tạp và có nhiều thứ để khám phá sẽ còn thú vị hơn nữa. Quan điểm về du lịch của mình là muốn tập trung vào con người hơn là cảnh sắc ở đấy. Phong cảnh có thể lặp lại ở nhiều chỗ, nhưng cảm nhận về con người chỉ có nơi đấy mới có thôi".</p>
          <p><img src="images/view6.jpg" alt="Chuyến bay VN168 hành trình Đà Nẵng – Hà Nội"></p>
          <p>Một số điểm du lịch ở Hà Giang phải kể đến là Dinh họ Vương, cột cờ Lũng Cú, phố cổ Đồng Văn... Đặc sản thì có bánh cuốn phố cổ Đồng Văn, cơm lam Bắc Mê, chè Shan Tuyết, xôi Ngũ Sắc...</p>
          <div class="name-ad-post"> <span>THEO TRÍ THỨC TRẺ</span></div>
          <div class="share-likedbutton"><a href="#"><span class="icon-minfb"></span>Chia sẻ Facebook</a></div>
          <div class="tags-involve"><strong>Từ khóa:</strong><a href="#">du lịch</a><a href="#">phải đi hè này</a><a href="#">Sapa</a><a href="#">Hà Giang</a><a href="#">MinisoVietnam</a></div>
        </div>
      </div>
      <div class="container-mobile">
        <div class="involve-det-mb">
          <div class="sub-title-left">
            <h2>Tin liên quan</h2>
          </div>
          <div class="box-sm-invol media"><a href="#" title="Sẽ ra sao nếu 1 con ốc sên bò qua 1 chiếc dao cạo sắc?"></a>
            <div class="media-left">
              <div class="box-img-cate"><img src="images/detail-10.png" alt="Sẽ ra sao nếu 1 con ốc sên bò qua 1 chiếc dao cạo sắc?"></div>
            </div>
            <div class="media-body">
              <h3 class="title-cate-4">Sẽ ra sao nếu 1 con ốc sên bò qua 1 chiếc dao cạo sắc?</h3>
            </div>
          </div>
          <div class="box-sm-invol media"><a href="#" title="Sẽ ra sao nếu 1 con ốc sên bò qua 1 chiếc dao cạo sắc?"></a>
            <div class="media-left">
              <div class="box-img-cate"><img src="images/hot-news-day-03.png" alt="Tường thuật: Google I/O 2016 ngày thứ nhất"></div>
            </div>
            <div class="media-body">
              <h3 class="title-cate-4">Chùm ảnh: Obama đến thăm và cho cá ăn ở nhà sàn Hồ Chủ Tịch</h3>
            </div>
          </div>
          <div class="box-sm-invol media"><a href="#" title="Sẽ ra sao nếu 1 con ốc sên bò qua 1 chiếc dao cạo sắc?"></a>
            <div class="media-left">
              <div class="box-img-cate"><img src="images/hot-news-day-04.png" alt="Tường thuật: Google I/O 2016 ngày thứ nhất"></div>
            </div>
            <div class="media-body">
              <h3 class="title-cate-4">Giới trẻ 2 miền hào hứng khoe thư mời tham dự buổi giao lưu cùng tổng thống Obama</h3>
            </div>
          </div>
          <div class="box-sm-invol media"><a href="#" title="Sẽ ra sao nếu 1 con ốc sên bò qua 1 chiếc dao cạo sắc?"></a>
            <div class="media-left">
              <div class="box-img-cate"><img src="images/hot-news-day-05.png" alt="Tường thuật: Google I/O 2016 ngày thứ nhất"></div>
            </div>
            <div class="media-body">
              <h3 class="title-cate-4">Nữ tài xế lái Cadillac One hộ tống Tổng thống Obama ở Hà Nội</h3>
            </div>
          </div>
        </div>
        <div class="involve-det-mb">
          <div class="sub-title-left">
            <h2 class="more-border">Đời sống				</h2>
          </div>
        </div>
        <div class="life-box">
          <div class="life-min adjust-margin">
            <div class="box-img-life"><a href="detail-mb-life.html" title="Người nước ngoài, du học sinh tấn công vòng thử giọng Vietnam Idol 2016"><img src="images/life2.jpg" alt="Người nước ngoài, du học sinh tấn công vòng thử giọng Vietnam Idol 2016"></a></div>
            <div class="content-head">
              <h3 class="title-main-4"><a href="detail-mb-life.html" title="Người nước ngoài, du học sinh tấn công vòng thử giọng Vietnam Idol 2016">Bí mật bên trong món kem "đen như mực" gây sốt mạng xã hội</a></h3>
            </div>
          </div>
          <div class="life-min adjust-margin">
            <div class="box-img-life"><a href="detail-mb-life.html" title="Vietnam Idol Kids: Cậu bé hát đám cưới Hồ Văn Cường khiến Isaac bật khóc"><img src="images/life3.jpg" alt="Vietnam Idol Kids: Cậu bé hát đám cưới Hồ Văn Cường khiến Isaac bật khóc"></a></div>
            <div class="content-head">
              <h3 class="title-main-4"><a href="detail-mb-life.html" title="Vietnam Idol Kids: Cậu bé hát đám cưới Hồ Văn Cường khiến Isaac bật khóc">Ghé trại hòm để mua "xôi nhà xác" cực đông và hút khách liên tục.</a></h3>
            </div>
          </div>
          <div class="life-min adjust-margin">
            <div class="box-img-life"><a href="detail-mb-life.html" title="Người nước ngoài, du học sinh tấn công vòng thử giọng Vietnam Idol 2016"><img src="images/life2.jpg" alt="Người nước ngoài, du học sinh tấn công vòng thử giọng Vietnam Idol 2016"></a></div>
            <div class="content-head">
              <h3 class="title-main-4"><a href="detail-mb-life.html" title="Người nước ngoài, du học sinh tấn công vòng thử giọng Vietnam Idol 2016">Bí mật bên trong món kem "đen như mực" gây sốt mạng xã hội</a></h3>
            </div>
          </div>
          <div class="life-min adjust-margin">
            <div class="box-img-life"><a href="detail-mb-life.html" title="Vietnam Idol Kids: Cậu bé hát đám cưới Hồ Văn Cường khiến Isaac bật khóc"><img src="images/life3.jpg" alt="Vietnam Idol Kids: Cậu bé hát đám cưới Hồ Văn Cường khiến Isaac bật khóc"></a></div>
            <div class="content-head">
              <h3 class="title-main-4"><a href="detail-mb-life.html" title="Vietnam Idol Kids: Cậu bé hát đám cưới Hồ Văn Cường khiến Isaac bật khóc">Ghé trại hòm để mua "xôi nhà xác" cực đông và hút khách liên tục.</a></h3>
            </div>
          </div>
          <div class="life-min adjust-margin">
            <div class="box-img-life"><a href="detail-mb-life.html" title="Người nước ngoài, du học sinh tấn công vòng thử giọng Vietnam Idol 2016"><img src="images/life2.jpg" alt="Người nước ngoài, du học sinh tấn công vòng thử giọng Vietnam Idol 2016"></a></div>
            <div class="content-head">
              <h3 class="title-main-4"><a href="detail-mb-life.html" title="Người nước ngoài, du học sinh tấn công vòng thử giọng Vietnam Idol 2016">Bí mật bên trong món kem "đen như mực" gây sốt mạng xã hội</a></h3>
            </div>
          </div>
          <div class="life-min adjust-margin">
            <div class="box-img-life"><a href="detail-mb-life.html" title="Vietnam Idol Kids: Cậu bé hát đám cưới Hồ Văn Cường khiến Isaac bật khóc"><img src="images/life3.jpg" alt="Vietnam Idol Kids: Cậu bé hát đám cưới Hồ Văn Cường khiến Isaac bật khóc"></a></div>
            <div class="content-head">
              <h3 class="title-main-4"><a href="detail-mb-life.html" title="Vietnam Idol Kids: Cậu bé hát đám cưới Hồ Văn Cường khiến Isaac bật khóc">Ghé trại hòm để mua "xôi nhà xác" cực đông và hút khách liên tục.						</a></h3>
            </div>
          </div>
        </div>
        <div class="involve-det-mb">
          <div class="sub-title-left">
            <h2 class="more-border">Giải trí</h2>
          </div>
        </div>
        <div class="highligh-small third-detail">
          <div class="media">
            <h3 class="title-main-3"><a href="detail-mb-life.html">Hướng dẫn cách chơi Pokémon GO dành cho người mới</a></h3>
            <div class="media-left">
              <div class="box-img-highlight"><a href="detail-mb-life.html" title="Top 19 bức ảnh nghệ thuật đang được yêu thích nhất trên 500px"><img src="images/minslide1.jpg" alt="Top 19 bức ảnh nghệ thuật đang được yêu thích nhất trên 500px"></a></div>
            </div>
            <div class="media-body">
              <p class="description">Pokémon GO đã chính thức được phát hành và với gameplay đơn giản nhưng bắt người chơi phải vận động một cách hoàn toàn...</p>
            </div>
          </div>
          <div class="media">
            <h3 class="title-main-3"><a href="detail-mb-life.html">Siêu mẫu Gisele Bundchen toả sáng tại Lễ khai mạc Olympic 2016</a></h3>
            <div class="media-left">
              <div class="box-img-highlight"><a href="detail-mb-life.html" title="Top 19 bức ảnh nghệ thuật đang được yêu thích nhất trên 500px"><img src="images/minslide2.jpg" alt="Top 19 bức ảnh nghệ thuật đang được yêu thích nhất trên 500px"></a></div>
            </div>
            <div class="media-body">
              <p class="description">Cựu siêu mẫu Victoria Secret Gisele Bundchen tự tin trình diễn catwalk trên đường băng dài nhất thế giới trong đêm khai mạc Olympic Rio (Brazil).</p>
            </div>
          </div>
          <div class="media">
            <h3 class="title-main-3"><a href="detail-mb-life.html">Tuấn Hưng lên tiếng bênh vực Sơn Tùng về scandal đạo nhạc</a></h3>
            <div class="media-left">
              <div class="box-img-highlight"><a href="detail-mb-life.html" title="Top 19 bức ảnh nghệ thuật đang được yêu thích nhất trên 500px"><img src="images/minslide3.jpg" alt="Top 19 bức ảnh nghệ thuật đang được yêu thích nhất trên 500px"></a></div>
            </div>
            <div class="media-body">
              <p class="description">Giữa tâm bão về scandal MV mới của Sơn Tùng được cho là đạo nhạc. Ca sĩ Tuấn Hưng đã lên tiếng chia sẻ với đàn em...		</p>
            </div>
          </div>
          <div class="media">
            <h3 class="title-main-3"><a href="detail-mb-life.html">Hướng dẫn cách chơi Pokémon GO dành cho người mới</a></h3>
            <div class="media-left">
              <div class="box-img-highlight"><a href="detail-mb-life.html" title="Top 19 bức ảnh nghệ thuật đang được yêu thích nhất trên 500px"><img src="images/minslide1.jpg" alt="Top 19 bức ảnh nghệ thuật đang được yêu thích nhất trên 500px"></a></div>
            </div>
            <div class="media-body">
              <p class="description">Pokémon GO đã chính thức được phát hành và với gameplay đơn giản nhưng bắt người chơi phải vận động một cách hoàn toàn...		</p>
            </div>
          </div>
        </div>
      </div>
      <div class="fix-social-navigation">
        <ul>
          <li><iframe src="https://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&width=101&layout=button_count&action=like&size=small&show_faces=false&share=false&height=21&appId=550665205082229" width="101" height="21" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe></li>
          <li><iframe src="https://www.facebook.com/plugins/share_button.php?href=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&layout=button_count&size=small&mobile_iframe=true&appId=550665205082229&width=110&height=20" width="110" height="20" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe></li>
        </ul>
      </div>
    </section>
    <footer>
      <div class="container-mobile">
        <div class="main-footer">
          <div class="content-footer">
            <h3 class="title-footer">theo dõi kul news</h3>
            <div class="social-footer widget-socialize"><a href="https://www.facebook.com/kulnews" title="facebook" target="_blank" class="icon facebook">
                <div class="symbol"><span></span></div>
                <div class="text-footer">
                  <p>1.1M</p>
                  <p>Facebook</p>
                </div></a><a href="https://plus.google.com/u/0/110833293141518607946/" title="google" target="_blank" class="icon google">
                <div class="symbol"><span></span></div>
                <div class="text-footer">
                  <p>60</p>
                  <p>Google+</p>
                </div></a><a href="https://www.pinterest.com/" title="youtube" target="_blank" class="icon youtube">
                <div class="symbol"><span></span></div>
                <div class="text-footer">
                  <p>33.5k</p>
                  <p>Youtube</p>
                </div></a><a href="https://www.instagram.com/kulnews/" title="instagram" target="_blank" class="icon instagram">
                <div class="symbol"><span></span></div>
                <div class="text-footer">
                  <p>1.6k</p>
                  <p>Instagram</p>
                </div></a></div>
          </div>
        </div>
      </div>
    </footer>
    <div class="mobile-change">
      <div class="link-mobile">
        <div class="thumb-logo"><img src="images/icon/news.svg" alt="Kul News logo"></div>
        <p>Bạn cần chuyển qua giao diện máy tính để có được những trải nghiệm tốt hơn trên Kul News</p><a href="index.html">Chuyển về giao diện đầy đủ    </a>
      </div>
    </div>
    <script type="text/javascript" src="js/mCustomScrollbar.min.js"></script>
    <script type="text/javascript" src="js/main-mb.js"></script>
  </body>
</html>
