assets/detail-speacial.html
<!DOCTYPE html>
<html lang="vi">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Kul News - Tin giải trí, giới trẻ, đời sống xã hội tổng hợp</title>
    <link rel="shortcut icon" href="images/k.ico" type="image/x-icon">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="app.css">
    <script src="js/jquery-2.1.4.min.js"></script>
  </head>
  <link rel="stylesheet" href="css/jquery.fancybox.css">
  <link rel="stylesheet" href="css/jquery.fancybox-buttons.css">
  <body>
    <header class="site-header fixed header">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <ul class="nav navbar-nav nav-upright">
              <li class="active home-index"><a href="index.html">Trang chủ</a></li>
              <li class="dropdown"><a href="category-life.html">Đời Sống</a>
                <ul class="sub-menu">
                  <li><a href="category-life.html">Xã hội</a>
                    <ul class="menu_level_2">
                      <li><a href="#">Tin Trong nước</a></li>
                      <li><a href="#">Tin thế giới</a></li>
                    </ul>
                  </li>
                  <li><a href="category-life.html">Giới trẻ</a></li>
                  <li><a href="category-life.html">Nhân vật</a></li>
                  <li><a href="category-life.html">Khám phá</a></li>
                  <li><a href="category-life.html">Ảnh & Video</a></li>
                  <li><a href="category-life.html">Góc nhìn</a></li>
                </ul>
              </li>
              <li class="dropdown"><a href="category-life.html">Giải Trí</a>
                <ul class="sub-menu">
                  <li><a href="category-life.html">Sao</a>
                    <ul class="menu_level_2">
                      <li><a href="#">Sao Việt</a></li>
                      <li><a href="#">Sao Quốc tế</a></li>
                    </ul>
                  </li>
                  <li><a href="category-life.html">Âm nhạc</a></li>
                  <li><a href="category-life.html">Điện Ảnh</a>
                    <ul class="menu_level_2">
                      <li><a href="#">Phim Việt</a></li>
                      <li><a href="#">Phim Nước Ngoài</a></li>
                    </ul>
                  </li>
                  <li><a href="category-life.html">TV Show</a></li>
                </ul>
              </li>
              <li class="dropdown"><a href="category-life.html">Thời Trang</a>
                <ul class="sub-menu">
                  <li><a href="category-life.html">Phái Mạnh</a></li>
                  <li><a href="category-life.html">Fashion 360</a></li>
                  <li><a href="category-life.html">Xu Hướng</a>
                    <ul class="menu_level_2">
                      <li><a href="#">Bộ Sưu Tập</a></li>
                    </ul>
                  </li>
                  <li><a href="category-life.html">Thời Trang Sao</a></li>
                  <li><a href="category-life.html">Phụ Kiện</a></li>
                </ul>
              </li>
              <li class="dropdown"><a href="index-game.html">Games</a>
                <ul class="sub-menu">
                  <li><a href="category-life.html">Đánh giá game</a></li>
                  <li><a href="category-life.html">Game trong nước</a></li>
                  <li><a href="category-life.html">Game Nước ngoài</a></li>
                  <li><a href="category-life.html">Esports</a></li>
                  <li><a href="category-life.html">Clip Game Hay</a></li>
                  <li><a href="category-life.html">Gift Code</a></li>
                </ul>
              </li>
              <li class="dropdown"><a href="category-life.html">Thể Thao</a>
                <ul class="sub-menu">
                  <li><a href="category-life.html">Bóng Đá Việt Nam</a></li>
                  <li><a href="category-life.html">Bóng đá thế giới</a></li>
                  <li><a href="category-life.html">Các môn thể thao khác</a></li>
                  <li><a href="category-life.html">AFF Suzuki Cup</a></li>
                </ul>
              </li>
              <li class="dropdown"><a href="category-life.html">Công Nghệ</a>
                <ul class="sub-menu">
                  <li><a href="category-life.html">Tin Công Nghệ</a></li>
                  <li><a href="category-life.html">Review</a></li>
                  <li><a href="category-life.html">Thủ thuật</a></li>
                </ul>
              </li>
              <li class="dropdown"><a href="category-life.html">Sức khỏe</a>
                <ul class="sub-menu">
                  <li><a href="category-life.html">Bạn cần biết</a>
                    <ul class="menu_level_2">
                      <li><a href="#">Khỏe đẹp</a></li>
                      <li><a href="#">Dinh dưỡng</a></li>
                    </ul>
                  </li>
                  <li><a href="category-life.html">Kiến Thức Giới Tính</a></li>
                  <li><a href="category-life.html">Các bệnh thường gặp</a></li>
                </ul>
              </li>
              <li class="dropdown"><a href="index-beauty.html">Phái Đẹp</a>
                <ul class="sub-menu">
                  <li><a href="index-beauty.html">Làm đẹp</a></li>
                  <li><a href="index-beauty.html">Mẹ & Bé</a></li>
                  <li><a href="index-beauty.html">Vào bếp</a></li>
                  <li><a href="index-beauty.html">Khéo tay - DIY</a></li>
                  <li><a href="index-beauty.html">Sống & yêu</a>
                    <ul class="menu_level_2">
                      <li><a href="#">Bói vui</a></li>
                    </ul>
                  </li>
                  <li><a href="index-beauty.html">Video</a></li>
                  <li><a href="index-beauty.html">Cộng Đồng</a></li>
                </ul>
              </li>
              <li class="dropdown"><a href="index-beauty.html">Video  </a></li>
            </ul>
            <div class="search-box">
              <div class="navbar-form navbar-right"><span id="search" class="glyphicon glyphicon-search-show">
                  <button id="search-button" class="search-button"></button></span><span id="close" class="glyphicon glyphicon-remove-hide">
                  <button id="close-search" class="close"></button></span>
                <form id="search-form" class="form-group">
                  <div class="input-group">
                    <input type="text" autofocus name="search" placeholder="Nhập nội dung.." class="form-control"><span class="search-mini">
                      <button id="search-icon" title="Tìm" class="btn-search-mini">            </button></span>
                  </div>
                </form>
              </div>
            </div>
            <button id="btn-show-menu" type="button" data-toggle="collapse" class="navbar-toggle collapsed"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
          </div>
        </div>
      </div>
    </header>
    <section class="hot-news">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="row">
              <div class="col-xs-4 col-sm-12 col-md-4 col-lg-4">
                <div class="header-logo"><a href="index.html" title="Kul News Trang tin"><img src="images/icon/kul-life.svg" alt="Kul News Trang tin"><span>Kul News Tin tức, giải trí, xã hội</span></a></div>
              </div>
              <div class="col-xs-8 hidden-sm col-md-8 col-lg-8">
                <div class="qc-top"><img src="images/icon/qc728.jpg" alt="qctop"></div>
              </div>
            </div>
            <div class="view-more-event change-scroll">
              <h1>Đời sống</h1>
              <ul class="menu-cate">
                <li><a href="category-life.html">Nhịp Sống</a></li>
                <li><a href="category-life.html">Nhân Vật</a></li>
                <li><a href="category-life.html">Giới Trẻ</a></li>
                <li><a href="category-life.html">Xem - Ăn - Chơi</a></li>
                <li><a href="category-life.html">Sức Khỏe</a></li>
                <li><a href="category-life.html">Khám Phá</a></li>
                <li><a href="category-life.html">Góc Nhìn</a></li>
              </ul>
            </div>
            <ul class="menu-mini">
              <li>
                <h4>Nhịp sống</h4>
              </li>
              <li class="active"><a href="#">Chuyện thường</a></li>
              <li><a href="#">Góc nhìn</a></li>
              <li><a href="#">Phản ánh		</a></li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    <section class="detail-main page-wrap">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <div class="detail-news-center">
              <div style="background-image: url('http://cdn.kul.vn/data/gallery/2016/09/04/nghe_nhan_lam_roi_15.jpg')" class="cover-photo">
                <div class="meta-photo">
                  <h1 class="white-title">Người nghệ nhân già và những con rối nước cuối cùng của Sài Gòn</h1>
                  <div class="author-photo"><span>Bởi</span><span class="author-name">Thành Đạt</span><span>-</span><span>07:30 ngày 07/09/2016</span></div>
                </div>
              </div>
              <div class="summary-photo"> 
                <p>Nằm trong một con hẻm nhỏ ở đường Huỳnh Tấn Phát, cả cơ sở rộng chừng chục mét vuông với 3 nhân công, hẳn nhiều người sẽ bất ngờ khi tới thăm nhà của nghệ nhân làm rối Phùng Văn Oánh, người làm rối nước duy nhất tại Sài Gòn.</p>
              </div>
              <main id="lightgallery" class="main-article">
                <div class="box-keyword media">
                  <div class="media-left"><a href="detail-life.html" title="Vợ chồng cảnh sát Pháp bị đâm chết: Hung thủ livestream Facebook trong khi gây án"><img src="images/nn2.jpg" alt="Vợ chồng cảnh sát Pháp bị đâm chết: Hung thủ livestream Facebook trong khi gây án"></a></div>
                  <div class="media-body">
                    <h3 class="title-main-3"><a href="detail-life.html">4 hotboy gốc Việt 100% nhưng lại khiến nhiều người lầm tưởng là trai Hàn</a></h3><span class="content-news">Chị em cứ phải hóng đâu cho xa xôi, ở ngay Việt Nam mình vẫn có vô số trai đẹp để ngắm nghía và yêu thương thế này cơ mà!</span>
                  </div>
                </div>
                <figure><a href="http://cdn.kul.vn/data/gallery/2016/09/04/nghe_nhan_lam_roi_2.jpg" rel="fancybox-button" title="Sinh ra tại Hà Tây (cũ) trong một gia đình không có truyền thống làm rối, nhưng như được định mệnh sắp đặt, ông gắn bó với những con rối ngay từ khi còn ngồi trên ghế giảng đường trường Đại học mỹ thuật Hà Nội. Sau đó, ông khăn gói vào Nam lập nghiệp với những con rối trong balo và sứ mệnh mang loại hình giải trí dân gian này đến với Sài Gòn." class="article"><img src="http://cdn.kul.vn/data/gallery/2016/09/04/nghe_nhan_lam_roi_2.jpg" alt="Chuyến bay VN168 hành trình Đà Nẵng – Hà Nội"></a>
                  <figcaption>Sinh ra tại Hà Tây (cũ) trong một gia đình không có truyền thống làm rối</figcaption>
                </figure>
                <p>Ấn tượng đầu tiên của người viết đó là khu vực cafe sân vườn vô cùng mát mẻ, nó đem lại một không gian thư giãn tuyệt vời cho bạn sau những giờ chinh chiến ác liệt trên chiến trường ảo. Có thể nói, bao nhiêu mệt mỏi của bạn lúc&nbsp;gánh team&nbsp;sẽ nhanh chóng tan biến&nbsp;khi thưởng thức&nbsp;một ly soda và hòa mình vào&nbsp;không khí yên tỉnh&nbsp;tại Misa Coffee.&nbsp;</p>
                <figure><a href="http://cdn.kul.vn/data/gallery/2016/09/04/nghe_nhan_lam_roi_3.jpg" rel="fancybox-button" title="Gắn bó với những con rối gỗ hơn 20 năm, ông trầm ngâm cho biết: Nghề làm rối này cực lắm, phải có đam mê mới gắn bó được. Tôi làm mấy con rối này đúng 25 năm, nói thật là không đủ ăn, phải làm thêm đủ nghề khác để nuôi gia dinh." class="article"><img src="http://cdn.kul.vn/data/gallery/2016/09/04/nghe_nhan_lam_roi_3.jpg" alt="Chuyến bay VN168 hành trình Đà Nẵng – Hà Nội"></a>
                  <p>Gắn bó với những con rối gỗ hơn 20 năm, ông trầm ngâm cho biết: "Nghề làm rối này cực lắm, phải có đam mê mới gắn bó được. Tôi làm mấy con rối này đúng 25 năm, nói thật là không đủ ăn, phải làm thêm đủ nghề khác để nuôi gia dinh".</p>
                </figure>
                <figure><a href="images/maxresdefault.jpg" rel="fancybox-button" title="Nghề làm rối có gắn bó mật thiết với nghề thợ mộc nhưng không phải người thợ mộc nào cũng có thể làm rối. Để làm nên một con rối hoàn chỉnh, bên cạnh tay nghề cần phải có một sự am hiểu sâu rộng về văn hóa dân gian từng vùng miền. Có như vậy, con rối làm ra mới đúng với những chi tiết lịch sử cũng như có được cái hồn." class="article"><img src="images/maxresdefault.jpg" alt="Chuyến bay VN168 hành trình Đà Nẵng – Hà Nội"></a>
                  <p>Nghề làm rối có gắn bó mật thiết với nghề thợ mộc nhưng không phải người thợ mộc nào cũng có thể làm rối. Để làm nên một con rối hoàn chỉnh, bên cạnh tay nghề cần phải có một sự am hiểu sâu rộng về văn hóa dân gian từng vùng miền. Có như vậy, con rối làm ra mới đúng với những chi tiết lịch sử cũng như có được cái hồn.</p>
                </figure>
                <figure><a href="http://cdn.kul.vn/data/gallery/2016/09/04/nghe_nhan_lam_roi_13.jpg" rel="fancybox-button" title="Những con rối phải được làm từ gỗ sung vì nhẹ và chịu nước. Tuổi thọ trung bình của mỗi con rối là khoảng 6 tháng. Để làm ra một con rối hoàn chỉnh, người thợ mất khoảng 3 ngày với các công đoạn đẽo, sơn, lắp máy." class="article"><img src="http://cdn.kul.vn/data/gallery/2016/09/04/nghe_nhan_lam_roi_13.jpg" alt="Chuyến bay VN168 hành trình Đà Nẵng – Hà Nội"></a>
                  <p>Những con rối phải được làm từ gỗ sung vì nhẹ và chịu nước. Tuổi thọ trung bình của mỗi con rối là khoảng 6 tháng. Để làm ra một con rối hoàn chỉnh, người thợ mất khoảng 3 ngày với các công đoạn đẽo, sơn, lắp máy.</p>
                </figure>
                <p class="source-link"><a href="#">http://khoeplus.vn/tam-su/chuyen-nha-sao/hoai-lam-toi-khong-bao-gio-bong-bot-trong-chuyen-tinh-cam-9716.html</a></p>
              </main>
            </div>
            <div class="share-likedbutton share-center"><a href="#"><span class="icon-minfb"></span>Chia sẻ Facebook</a></div>
            <div class="tags-involve"><strong>Từ khóa:</strong><a href="#">du lịch</a><a href="#">phải đi hè này</a><a href="#">Sapa</a><a href="#">Hà Giang</a><a href="#">MinisoVietnam</a></div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="relate-title"><span>Tin tức liên quan</span></div>
          </div>
          <div class="col-xs-12">
            <div class="row equal">
              <div class="col-xs-3 box-invol">
                <div class="box-img-invol"><a href="#" title="Sẽ ra sao nếu 1 con ốc sên bò qua 1 chiếc dao cạo sắc?"><img src="images/lf1.jpg" alt="Với Van Gaal, cúp FA là sự ngụy biện tủi hổ"></a></div>
                <h3><a href="#">Có một Sài Gòn xinh xắn, bình yên như thế qua ống kính Instagram của 4 bạn trẻ</a></h3>
              </div>
              <div class="col-xs-3 box-invol">
                <div class="box-img-invol"><a href="#" title="Sẽ ra sao nếu 1 con ốc sên bò qua 1 chiếc dao cạo sắc?"><img src="images/lf2.jpg" alt="Đấu súng nghẹt thở, Bayern Munich đả bại Dortmund đoạt Cúp quốc gia"></a></div>
                <h3><a href="#"> 11 đội xuất sắc của Here We Go đã có buổi gặp gỡ trực tiếp tại hai đầu Nam, Bắc</a></h3>
              </div>
              <div class="col-xs-3 box-invol">
                <div class="box-img-invol"><a href="#" title="Sẽ ra sao nếu 1 con ốc sên bò qua 1 chiếc dao cạo sắc?"><img src="images/lf3.jpg" alt="Trọng tài tưởng tượng ra 11 m: Tôi ngàn lần xin lỗi"></a></div>
                <h3><a href="#">"Đừng yêu lại người cũ, đừng yêu lần thứ hai" - Là con gái, ai cũng phải tâm đắc với lời khuyên này!</a></h3>
              </div>
              <div class="col-xs-3 box-invol">
                <div class="box-img-invol"><a href="#" title="Sẽ ra sao nếu 1 con ốc sên bò qua 1 chiếc dao cạo sắc?"><img src="images/lf4.jpg" alt="2 trọng tài bị treo còi hết lượt đi V.League và chờ án phạt tiếp"></a></div>
                <h3><a href="#">Bàn ghế làm từ băng, không gian âm 10 độ C</a></h3>
              </div>
              <div class="col-xs-3 box-invol">
                <div class="box-img-invol"><a href="#" title="Sẽ ra sao nếu 1 con ốc sên bò qua 1 chiếc dao cạo sắc?"><img src="images/lf5.png" alt="Với Van Gaal, cúp FA là sự ngụy biện tủi hổ"></a></div>
                <h3><a href="#">Da trắng, môi dày, mặt nét: Đó là lý do cô bạn từ Thái Nguyên này luôn bị nhầm là gái Tây!</a></h3>
              </div>
              <div class="col-xs-3 box-invol">
                <div class="box-img-invol"><a href="#" title="Sẽ ra sao nếu 1 con ốc sên bò qua 1 chiếc dao cạo sắc?"><img src="images/lf6.jpg" alt="Đấu súng nghẹt thở, Bayern Munich đả bại Dortmund đoạt Cúp quốc gia"></a></div>
                <h3><a href="#"> Hãy theo dõi Instagram của cô gái 1 chân vô cùng xinh đẹp này, nếu bạn đang cần một mục tiêu sống</a></h3>
              </div>
              <div class="col-xs-3 box-invol">
                <div class="box-img-invol"><a href="#" title="Sẽ ra sao nếu 1 con ốc sên bò qua 1 chiếc dao cạo sắc?"><img src="images/lf7.jpg" alt="Trọng tài tưởng tượng ra 11 m: Tôi ngàn lần xin lỗi"></a></div>
                <h3><a href="#">Spa tại Việt Nam đạt danh hiệu tốt nhất châu Á</a></h3>
              </div>
              <div class="col-xs-3 box-invol">
                <div class="box-img-invol"><a href="#" title="Sẽ ra sao nếu 1 con ốc sên bò qua 1 chiếc dao cạo sắc?"><img src="images/lf8.jpg" alt="2 trọng tài bị treo còi hết lượt đi V.League và chờ án phạt tiếp"></a></div>
                <h3><a href="#">Anh chàng nước ngoài gây tranh cãi khi hướng dẫn ăn phở: Ăn phải cuộn tròn như mỳ Ý</a></h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <footer class="main-footer">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <div class="row">
              <div class="col-xs-3">
                <h3 class="title-footer">Kul News</h3>
                <p class="info-footer">Giấy phép ICP số : 48/GP – TTĐT 14/05/2015 do Sở Thông Tin và Truyền Thông Tp HCM cấp.</p>
                <p class="info-footer">Chịu trách nhiệm quản lý nội dung: Trang Lan Anh Phương.</p>
              </div>
              <div class="col-xs-3">
                <h3 class="title-footer">Đơn vị chủ quán</h3>
                <p class="info-footer">CÔNG TY CP TRỰC TUYẾN CMN VIỆT NAM</p>
                <p class="info-footer">Địa chỉ: Số 549 Điện Biên Phủ, Phường 3, Quận 3, Tp Hồ Chí Minh.</p>
                <p class="info-footer">Điện thoại: 08 38335466</p>
              </div>
              <div class="col-xs-3">
                <h3 class="title-footer">Liên Hệ quảng cáo</h3>
                <p class="info-footer">Mail: Ads@kul.vn</p>
                <p class="info-footer">MS Quỳnh My: 0934 862 882</p>
                <p class="info-footer">Skype: Quynhmy0802</p>
              </div>
              <div class="col-xs-3">
                <h3 class="title-footer">theo dõi kul news</h3>
                <div class="social-footer widget-socialize"><a href="https://www.facebook.com/kulnews" title="facebook" target="_blank" class="icon facebook">
                    <div class="symbol"><span></span></div>
                    <div class="text-footer">
                      <p>1.1M</p>
                      <p>Facebook</p>
                    </div></a><a href="https://plus.google.com/u/0/110833293141518607946/" title="google" target="_blank" class="icon google">
                    <div class="symbol"><span></span></div>
                    <div class="text-footer">
                      <p>60</p>
                      <p>Google+</p>
                    </div></a><a href="https://www.youtube.com/channel/UC-gfYPmX-4hagkRmUF5YxTA" title="youtube" target="_blank" class="icon youtube">
                    <div class="symbol"><span></span></div>
                    <div class="text-footer">
                      <p>33.5k</p>
                      <p>Youtube</p>
                    </div></a><a href="https://www.instagram.com/kulnews/" title="instagram" target="_blank" class="icon instagram">
                    <div class="symbol"><span></span></div>
                    <div class="text-footer">
                      <p>1.6k</p>
                      <p>Instagram</p>
                    </div></a></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <div class="back-top">
      <div class="icon-scrolltop"><span></span></div>
    </div>
    <div class="mobile-change">
      <div class="link-mobile">
        <div class="thumb-logo"><img src="images/icon/news.svg" alt="Kul News logo"></div>
        <p>Bạn cần chuyển qua giao diện Mobile để có được những trải nghiệm tốt hơn trên Kul News</p><a href="index-mb.html">Chuyển sang giao diện Mobile</a>
      </div>
    </div>
    <script src="js/jquery.fancybox.js"></script>
    <script src="js/jquery.fancybox-buttons.js"></script>
    <script src="js/jquery-scrolltofixed.js"></script>
    <script src="js/main.js"></script>
    <script type="text/javascript">
      $('.main-article figure a').fancybox({
      prevEffect    : 'none',
      nextEffect    : 'none',
      closeBtn    : false,
      helpers   : {
      title : { type : 'inside' },
      buttons : {}
      }
      });
    </script>
  </body>
</html>

assets/detail-speacial.jade
doctype html
html(lang="vi")
	include ./head.jade
	link(rel='stylesheet', href='css/jquery.fancybox.css')
	link(rel='stylesheet', href='css/jquery.fancybox-buttons.css')
	body
		include ./header.jade
		section.hot-news
			.container
				.row
					.col-xs-12.col-sm-12.col-md-12.col-lg-12
						.row
							.col-xs-4.col-sm-12.col-md-4.col-lg-4
								.header-logo
									a(href='index.html' title='Kul News Trang tin')
										img(src="images/icon/kul-life.svg" alt="Kul News Trang tin")
										span Kul News Tin tức, giải trí, xã hội
							.col-xs-8.hidden-sm.col-md-8.col-lg-8
								.qc-top
									img(src="images/icon/qc728.jpg" alt="qctop")
						.view-more-event.change-scroll
							h1 Đời sống
							ul.menu-cate
								each val in ['Nhịp Sống', 'Nhân Vật','Giới Trẻ','Xem - Ăn - Chơi','Sức Khỏe', 'Khám Phá','Góc Nhìn']
									li
										a(href="category-life.html")= val
						ul.menu-mini
							li
								h4 Nhịp sống
							li.active
								a(href="#") Chuyện thường
							li
								a(href="#") Góc nhìn
							li
								a(href="#") Phản ánh		
		section.detail-main.page-wrap
			.container
				.row
					.col-xs-12
						.detail-news-center
							.cover-photo(style="background-image: url('http://cdn.kul.vn/data/gallery/2016/09/04/nghe_nhan_lam_roi_15.jpg')")
								.meta-photo
									h1.white-title Người nghệ nhân già và những con rối nước cuối cùng của Sài Gòn
									.author-photo
										span Bởi
										span.author-name Thành Đạt
										span -
										span 07:30 ngày 07/09/2016
							.summary-photo 
								p Nằm trong một con hẻm nhỏ ở đường Huỳnh Tấn Phát, cả cơ sở rộng chừng chục mét vuông với 3 nhân công, hẳn nhiều người sẽ bất ngờ khi tới thăm nhà của nghệ nhân làm rối Phùng Văn Oánh, người làm rối nước duy nhất tại Sài Gòn.
							main#lightgallery.main-article
								.box-keyword.media
									.media-left
										a(href="detail-life.html" title="Vợ chồng cảnh sát Pháp bị đâm chết: Hung thủ livestream Facebook trong khi gây án")
											img(src="images/nn2.jpg", alt="Vợ chồng cảnh sát Pháp bị đâm chết: Hung thủ livestream Facebook trong khi gây án")
									.media-body
										h3.title-main-3
											a(href="detail-life.html") 4 hotboy gốc Việt 100% nhưng lại khiến nhiều người lầm tưởng là trai Hàn
										span.content-news Chị em cứ phải hóng đâu cho xa xôi, ở ngay Việt Nam mình vẫn có vô số trai đẹp để ngắm nghía và yêu thương thế này cơ mà!
								figure
									a(href="http://cdn.kul.vn/data/gallery/2016/09/04/nghe_nhan_lam_roi_2.jpg" class="article" rel="fancybox-button" title="Sinh ra tại Hà Tây (cũ) trong một gia đình không có truyền thống làm rối, nhưng như được định mệnh sắp đặt, ông gắn bó với những con rối ngay từ khi còn ngồi trên ghế giảng đường trường Đại học mỹ thuật Hà Nội. Sau đó, ông khăn gói vào Nam lập nghiệp với những con rối trong balo và sứ mệnh mang loại hình giải trí dân gian này đến với Sài Gòn.")
										img(src="http://cdn.kul.vn/data/gallery/2016/09/04/nghe_nhan_lam_roi_2.jpg", alt="Chuyến bay VN168 hành trình Đà Nẵng – Hà Nội" )
									figcaption Sinh ra tại Hà Tây (cũ) trong một gia đình không có truyền thống làm rối
								p Ấn tượng đầu tiên của người viết đó là khu vực cafe sân vườn vô cùng mát mẻ, nó đem lại một không gian thư giãn tuyệt vời cho bạn sau những giờ chinh chiến ác liệt trên chiến trường ảo. Có thể nói, bao nhiêu mệt mỏi của bạn lúc&nbsp;gánh team&nbsp;sẽ nhanh chóng tan biến&nbsp;khi thưởng thức&nbsp;một ly soda và hòa mình vào&nbsp;không khí yên tỉnh&nbsp;tại Misa Coffee.&nbsp;
								figure
									a(href="http://cdn.kul.vn/data/gallery/2016/09/04/nghe_nhan_lam_roi_3.jpg" class="article" rel="fancybox-button" title="Gắn bó với những con rối gỗ hơn 20 năm, ông trầm ngâm cho biết: Nghề làm rối này cực lắm, phải có đam mê mới gắn bó được. Tôi làm mấy con rối này đúng 25 năm, nói thật là không đủ ăn, phải làm thêm đủ nghề khác để nuôi gia dinh.")
										img(src="http://cdn.kul.vn/data/gallery/2016/09/04/nghe_nhan_lam_roi_3.jpg", alt="Chuyến bay VN168 hành trình Đà Nẵng – Hà Nội" )
									p Gắn bó với những con rối gỗ hơn 20 năm, ông trầm ngâm cho biết: "Nghề làm rối này cực lắm, phải có đam mê mới gắn bó được. Tôi làm mấy con rối này đúng 25 năm, nói thật là không đủ ăn, phải làm thêm đủ nghề khác để nuôi gia dinh".
								figure
									a(href="images/maxresdefault.jpg" class="article" rel="fancybox-button" title="Nghề làm rối có gắn bó mật thiết với nghề thợ mộc nhưng không phải người thợ mộc nào cũng có thể làm rối. Để làm nên một con rối hoàn chỉnh, bên cạnh tay nghề cần phải có một sự am hiểu sâu rộng về văn hóa dân gian từng vùng miền. Có như vậy, con rối làm ra mới đúng với những chi tiết lịch sử cũng như có được cái hồn.")
										img(src="images/maxresdefault.jpg", alt="Chuyến bay VN168 hành trình Đà Nẵng – Hà Nội" )
									p Nghề làm rối có gắn bó mật thiết với nghề thợ mộc nhưng không phải người thợ mộc nào cũng có thể làm rối. Để làm nên một con rối hoàn chỉnh, bên cạnh tay nghề cần phải có một sự am hiểu sâu rộng về văn hóa dân gian từng vùng miền. Có như vậy, con rối làm ra mới đúng với những chi tiết lịch sử cũng như có được cái hồn.
								figure
									a(href="http://cdn.kul.vn/data/gallery/2016/09/04/nghe_nhan_lam_roi_13.jpg" class="article" rel="fancybox-button" title="Những con rối phải được làm từ gỗ sung vì nhẹ và chịu nước. Tuổi thọ trung bình của mỗi con rối là khoảng 6 tháng. Để làm ra một con rối hoàn chỉnh, người thợ mất khoảng 3 ngày với các công đoạn đẽo, sơn, lắp máy.")
										img(src="http://cdn.kul.vn/data/gallery/2016/09/04/nghe_nhan_lam_roi_13.jpg", alt="Chuyến bay VN168 hành trình Đà Nẵng – Hà Nội" )
									p Những con rối phải được làm từ gỗ sung vì nhẹ và chịu nước. Tuổi thọ trung bình của mỗi con rối là khoảng 6 tháng. Để làm ra một con rối hoàn chỉnh, người thợ mất khoảng 3 ngày với các công đoạn đẽo, sơn, lắp máy.
								p.source-link
									a(href="#") http://khoeplus.vn/tam-su/chuyen-nha-sao/hoai-lam-toi-khong-bao-gio-bong-bot-trong-chuyen-tinh-cam-9716.html
						//- .name-ad-speacial
						//- 	span Thành Đạt
						.share-likedbutton.share-center
							a(href="#")
								span.icon-minfb
								| Chia sẻ Facebook
						.tags-involve
							strong Từ khóa:
							a(href="#") du lịch
							a(href="#") phải đi hè này
							a(href="#") Sapa
							a(href="#") Hà Giang
							a(href="#") MinisoVietnam
						//- .icon-social-detail
						//- 	a(href="https://www.facebook.com/kulnews" title="facebook" class="icon facebook" target="_blank")
						//- 	a(href="https://plus.google.com/u/0/110833293141518607946/" title="google" class="icon google" target="_blank")
						//- 	a(href="https://plus.google.com/u/0/110833293141518607946/" title="google" class="icon envelope" target="_blank")
						//- 	a(href="https://www.youtube.com/channel/UC-gfYPmX-4hagkRmUF5YxTA" title="pinterest" class="icon pinterest" target="_blank")
						//- 	a(href="https://twitter.com/?lang=vi" title="twitter" class="icon twitter" target="_blank")
						//- 	iframe(src='https://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&width=154&layout=button_count&action=like&size=small&show_faces=false&share=true&height=46&appId=550665205082229', width='200', height='21', style='border:none;overflow:hidden', scrolling='no', frameborder='0', allowtransparency='true')
						//- .post-comment
						//- 	.comment-total
						//- 		h3 Bình luận
						//- 	.comment-area
						//- 		.avat-image
						//- 			img(src='images/ava1.jpg', alt='ava')
						//- 		form.comment-boxarea
						//- 			.area-comment
						//- 				textarea(placeholder='Bình luận của bạn...')
						//- 			.buttom-comment
						//- 				button.button-submit(type='submit') Đăng	
						//- 	.comment-section
						//- 		.avacm-img
						//- 			img(src='images/ava1.jpg', alt='ava')
						//- 		.comment-boxarea
						//- 			span.comment-account Lee Cường
						//- 			p.comment-contain Chúng ta đề cao tinh thần nhân đạo, yêu chuộng hòa bình nhưng đối vs họ thì đụng vào tàu cá cướp hàng và phương tiện, vô nhân đạo khi thấy chúng ta gặp quy hiểm. Những ngư dân này khi về tới nhà suy nghi như thế nào về hành động của chính phủ họ đối với ngư dân VN nhỉ?
						//- 			.cmtsecont 
						//- 				span Trả lời
						//- 				span.alt-tab -
						//- 				span.icon-like
						//- 				span 346 Thích
						//- 			form.comment-boxsecond
						//- 				.area-comment
						//- 					textarea(placeholder='Phản hồi của bạn')
						//- 				.buttom-comment
						//- 					button.button-submit(type='submit') Đăng
						//- 		.comment-second
						//- 			.section-second
						//- 				.avacm-img
						//- 					img(src='images/ava2.jpg', alt='ava')
						//- 				.comment-boxarea
						//- 					span.comment-account Vinh Nguyễn
						//- 					p.comment-contain Họ làm gì được biết cách mà chính phủ họ đối với ngủ dân VN mà suy nghĩ ))
						//- 					.cmtsecont 
						//- 						span.icon-like
						//- 						span 2 Thích
						//- 		.comment-second
						//- 			.section-second
						//- 				.avacm-img
						//- 					img(src='images/ava2.jpg', alt='ava')
						//- 				.comment-boxarea
						//- 					span.comment-account Trinh Sinh
						//- 					p.comment-contain Tôi và hàng triệu người dân việt nam rất vui khí nhận đựơc tin này rất mong những người làm nhiệm vụ thực thi trên biển hãy làm nhiều việc làm như thế để bảo vệ ngư trường biển đảo của Việt Nam.
						//- 					.cmtsecont 
						//- 						span.icon-like
						//- 						span 12 Thích
						//- 		.comment-second
						//- 			.section-second
						//- 				.avacm-img
						//- 					img(src='images/ava2.jpg', alt='ava')
						//- 				.comment-boxarea
						//- 					span.comment-account Linh Nguyệt
						//- 					p.comment-contain Tôi tán thành cách xử lý của các đồng chí, chỉ cần đuổi thôi là họ cảm thấy nhục và phục rồi, cần chi dùng vũ lực.
						//- 					.cmtsecont 
						//- 						span.icon-like
						//- 						span 6 Thích
						//- 	.loadMore
						//- 		span Tải thêm bình luận
			.container
				.row
					.col-md-12
						.relate-title
							span Tin tức liên quan
					.col-xs-12
						.row.equal
							.col-xs-3.box-invol
								.box-img-invol
									a(href="#" title="Sẽ ra sao nếu 1 con ốc sên bò qua 1 chiếc dao cạo sắc?")
										img(src="images/lf1.jpg", alt="Với Van Gaal, cúp FA là sự ngụy biện tủi hổ")
								h3
									a(href="#") Có một Sài Gòn xinh xắn, bình yên như thế qua ống kính Instagram của 4 bạn trẻ
							.col-xs-3.box-invol
								.box-img-invol
									a(href="#" title="Sẽ ra sao nếu 1 con ốc sên bò qua 1 chiếc dao cạo sắc?")
										img(src="images/lf2.jpg", alt="Đấu súng nghẹt thở, Bayern Munich đả bại Dortmund đoạt Cúp quốc gia")
								h3
									a(href="#")  11 đội xuất sắc của Here We Go đã có buổi gặp gỡ trực tiếp tại hai đầu Nam, Bắc
							.col-xs-3.box-invol
								.box-img-invol
									a(href="#" title="Sẽ ra sao nếu 1 con ốc sên bò qua 1 chiếc dao cạo sắc?")
										img(src="images/lf3.jpg", alt="Trọng tài tưởng tượng ra 11 m: Tôi ngàn lần xin lỗi")
								h3
									a(href="#") "Đừng yêu lại người cũ, đừng yêu lần thứ hai" - Là con gái, ai cũng phải tâm đắc với lời khuyên này!
							.col-xs-3.box-invol
								.box-img-invol
									a(href="#" title="Sẽ ra sao nếu 1 con ốc sên bò qua 1 chiếc dao cạo sắc?")
										img(src="images/lf4.jpg", alt="2 trọng tài bị treo còi hết lượt đi V.League và chờ án phạt tiếp")
								h3
									a(href="#") Bàn ghế làm từ băng, không gian âm 10 độ C
							.col-xs-3.box-invol
								.box-img-invol
									a(href="#" title="Sẽ ra sao nếu 1 con ốc sên bò qua 1 chiếc dao cạo sắc?")
										img(src="images/lf5.png", alt="Với Van Gaal, cúp FA là sự ngụy biện tủi hổ")
								h3
									a(href="#") Da trắng, môi dày, mặt nét: Đó là lý do cô bạn từ Thái Nguyên này luôn bị nhầm là gái Tây!
							.col-xs-3.box-invol
								.box-img-invol
									a(href="#" title="Sẽ ra sao nếu 1 con ốc sên bò qua 1 chiếc dao cạo sắc?")
										img(src="images/lf6.jpg", alt="Đấu súng nghẹt thở, Bayern Munich đả bại Dortmund đoạt Cúp quốc gia")
								h3
									a(href="#")  Hãy theo dõi Instagram của cô gái 1 chân vô cùng xinh đẹp này, nếu bạn đang cần một mục tiêu sống
							.col-xs-3.box-invol
								.box-img-invol
									a(href="#" title="Sẽ ra sao nếu 1 con ốc sên bò qua 1 chiếc dao cạo sắc?")
										img(src="images/lf7.jpg", alt="Trọng tài tưởng tượng ra 11 m: Tôi ngàn lần xin lỗi")
								h3
									a(href="#") Spa tại Việt Nam đạt danh hiệu tốt nhất châu Á
							.col-xs-3.box-invol
								.box-img-invol
									a(href="#" title="Sẽ ra sao nếu 1 con ốc sên bò qua 1 chiếc dao cạo sắc?")
										img(src="images/lf8.jpg", alt="2 trọng tài bị treo còi hết lượt đi V.League và chờ án phạt tiếp")
								h3
									a(href="#") Anh chàng nước ngoài gây tranh cãi khi hướng dẫn ăn phở: Ăn phải cuộn tròn như mỳ Ý
		include ./footer.jade
		script(src='js/jquery.fancybox.js')
		script(src='js/jquery.fancybox-buttons.js')
		include ./script.jade
		script(type='text/javascript').
			$('.main-article figure a').fancybox({
			prevEffect    : 'none',
			nextEffect    : 'none',
			closeBtn    : false,
			helpers   : {
			title : { type : 'inside' },
			buttons : {}
			}
			});
