assets/detail-mb-speacial.html
<!DOCTYPE html>
<html lang="vi">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Kul News - Tin giải trí, giới trẻ, đời sống xã hội tổng hợp</title>
    <link rel="shortcut icon" href="images/k.ico" type="image/x-icon">
    <link rel="stylesheet" href="css/scroll-mobile.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="appmobile.css">
    <script type="text/javascript" src="js/jquery-2.1.4.min.js"></script>
  </head>
  <body>
    <div class="close-menu"></div>
    <header class="site-header fixed">
      <div class="main-navigation container-fluid">
        <div class="row">
          <div class="col-xs-3">
            <div class="navbar-header">
              <button type="button" data-toggle="collapse" class="navbar-toggle"><span class="ico icon-bar"></span><span class="ico icon-bar"></span><span class="ico icon-bar">          </span></button>
            </div>
          </div>
          <div class="col-xs-6">
            <h1 class="logo-top-1"><a href="index-mb.html" title="Tin tức, giải trí, xã hội"> <img src="images/icon/kul-mb.svg" alt="Kul trang tin tức giới trẻ"><span>Kul News Tin tức, giải trí, xã hội</span></a></h1>
          </div>
          <div class="col-xs-3">
            <div class="search-box">
              <form class="navbar-form navbar-right"><span id="search" class="glyphicon glyphicon-search-show">
                  <button id="search-button" class="search-button"></button></span><span id="close" class="glyphicon glyphicon-remove-hide">
                  <button id="close-search" class="close"></button></span></form>
            </div>
          </div>
          <div class="col-xs-12">
            <div class="box-search-input search-group">
              <form id="search-form" class="form-group">
                <div class="input-group">
                  <input type="text" name="search" value placeholder="Nhập nội dung.." autofocus class="form-control"><span class="search-mini">
                    <button type="submit" id="search-icon" title="Tìm" class="btn-search-mini"></button></span>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </header>
    <div class="btn-menu">
      <ul class="nav navbar-nav">
        <li class="icon-video"><a href="video-mb-news.html">Video</a></li>
        <li class="icon-life"><a href="cate-mb-life.html">Đời Sống</a></li>
        <li class="icon-world"><a href="cate-mb-life.html">Thế giới</a></li>
        <li class="icon-ent"><a href="cate-mb-life.html">Giải Trí</a></li>
        <li class="icon-fas"><a href="cate-mb-life.html">Thời Trang</a></li>
        <li class="icon-game"><a href="cate-mb-life.html">Game</a></li>
        <li class="icon-sport"><a href="cate-mb-life.html">Thể Thao</a></li>
        <li class="icon-tech"><a href="cate-mb-life.html">Công Nghệ    </a></li>
        <li class="icon-health"><a href="cate-mb-life.html">Sức khỏe</a></li>
        <li class="icon-laydy"><a href="cate-mb-life.html">Phái Đẹp</a></li>
        <li class="icon-laydy"><a href="cate-mb-life.html">Magazine</a></li>
      </ul>
      <div class="info-page"><span>Kul News</span>
        <p>Giấy phép ICP số : 48/GP – TTĐT 14/05/2015 do Sở Thông Tin và Truyền Thông Tp HCM cấp.</p>
        <p>Chịu trách nhiệm quản lý nội dung: ông Trang Lan Anh Phương.</p>
        <p class="hotline">Hot line: 0987 955 990</p>
      </div>
    </div>
    <link href="https://fonts.googleapis.com/css?family=Noto+Serif&amp;subset=vietnamese" rel="stylesheet" type="text/css">
    <section class="detail-mb-life page-wrap">
      <div class="container-mobile">
        <div class="box-title-fixed menu-botom">
          <h2 class="title-main-2 bg-life">Đời sống</h2>
          <button id="btn-sub-of-sub-01" class="btn-sub-of-sub"><span class="glyphicon glyphicon-option-vertical"></span></button>
          <div class="box-btn-sub-cate">
            <ul id="sub-menu-01" class="sub-menu">
              <li> <a href="cate-mb-life.html">Nhịp Sống</a></li>
              <li><a href="cate-mb-life.html">Nhân Vật</a></li>
              <li><a href="cate-mb-life.html"> Giới Trẻ</a></li>
              <li><a href="cate-mb-life.html"> Xem-Ăn-Chơi</a></li>
              <li><a href="cate-mb-life.html"> Sức Khỏe</a></li>
              <li><a href="cate-mb-life.html"> Khám phá</a></li>
            </ul>
          </div>
        </div>
        <div class="detail-news-center">
          <div style="background-image: url('http://cdn.kul.vn/data/gallery/2016/09/04/nghe_nhan_lam_roi_15.jpg')" class="cover-photo">
            <div class="meta-photo">
              <h1 class="white-title">Người nghệ nhân già và những con rối nước cuối cùng của Sài Gòn</h1>
              <div class="author-photo"><span>Bởi</span><span class="author-name">Thành Đạt</span><span>-</span><span>07:30 ngày 07/09/2016</span></div>
            </div>
          </div>
          <div class="summary-photo"> 
            <p>Nằm trong một con hẻm nhỏ ở đường Huỳnh Tấn Phát, cả cơ sở rộng chừng chục mét vuông với 3 nhân công, hẳn nhiều người sẽ bất ngờ khi tới thăm nhà của nghệ nhân làm rối Phùng Văn Oánh, người làm rối nước duy nhất tại Sài Gòn.</p>
          </div>
          <main id="lightgallery" class="main-article">
            <figure><img src="http://cdn.kul.vn/data/gallery/2016/09/04/nghe_nhan_lam_roi_2.jpg" alt="Chuyến bay VN168 hành trình Đà Nẵng – Hà Nội">
              <figcaption>Sinh ra tại Hà Tây (cũ) trong một gia đình không có truyền thống làm rối, nhưng như được định mệnh sắp đặt, ông gắn bó với những con rối ngay từ khi còn ngồi trên ghế giảng đường trường Đại học mỹ thuật Hà Nội. Sau đó, ông khăn gói vào Nam lập nghiệp với những con rối trong balo và sứ mệnh mang loại hình giải trí dân gian này đến với Sài Gòn.</figcaption>
            </figure>
            <figure><img src="http://cdn.kul.vn/data/gallery/2016/09/04/nghe_nhan_lam_roi_3.jpg" alt="Chuyến bay VN168 hành trình Đà Nẵng – Hà Nội">
              <p>Gắn bó với những con rối gỗ hơn 20 năm, ông trầm ngâm cho biết: "Nghề làm rối này cực lắm, phải có đam mê mới gắn bó được. Tôi làm mấy con rối này đúng 25 năm, nói thật là không đủ ăn, phải làm thêm đủ nghề khác để nuôi gia dinh".</p>
            </figure>
            <figure><img src="http://cdn.kul.vn/data/gallery/2016/09/04/nghe_nhan_lam_roi_11.jpg" alt="Chuyến bay VN168 hành trình Đà Nẵng – Hà Nội">
              <p>Nghề làm rối có gắn bó mật thiết với nghề thợ mộc nhưng không phải người thợ mộc nào cũng có thể làm rối. Để làm nên một con rối hoàn chỉnh, bên cạnh tay nghề cần phải có một sự am hiểu sâu rộng về văn hóa dân gian từng vùng miền. Có như vậy, con rối làm ra mới đúng với những chi tiết lịch sử cũng như có được cái hồn.</p>
            </figure>
            <figure><img src="http://cdn.kul.vn/data/gallery/2016/09/04/nghe_nhan_lam_roi_13.jpg" alt="Chuyến bay VN168 hành trình Đà Nẵng – Hà Nội">
              <p>Những con rối phải được làm từ gỗ sung vì nhẹ và chịu nước. Tuổi thọ trung bình của mỗi con rối là khoảng 6 tháng. Để làm ra một con rối hoàn chỉnh, người thợ mất khoảng 3 ngày với các công đoạn đẽo, sơn, lắp máy.</p>
            </figure>
            <div class="box-assess">
              <div class="avata-game"><img src="images/avata-game.jpg" alt="Kul News Trang tin"></div>
              <div class="row">
                <div class="col-sm-5"><strong class="devision">Ưu Điểm:</strong>
                  <div class="strong-point">
                    <ul>
                      <li>Bối cảnh 3D tối tân nhất, giao diện đẹp, hoành tráng</li>
                      <li>Cốt truyện hấp dẫn, dẫn dắt kịch tính </li>
                      <li>Assassin's Creed IV đưa người chơi nhập vai vào những pha hành động hấp dẫn.</li>
                      <li>Người chơi có thể tùy chỉnh nhân vật Assassin theo như ý thích của mình</li>
                    </ul>
                  </div>
                </div>
                <div class="col-sm-4"><strong class="devision less">Khuyết Điểm:</strong>
                  <div class="weak-point">
                    <ul>
                      <li>Vẫn còn tồn tại kha khá lỗi cả về hình ảnh và gameplay</li>
                      <li>Thời lượng chơi tương đối ngắn</li>
                    </ul>
                  </div>
                </div>
                <div class="col-sm-3"><strong class="devision text-center final-point">Điểm Trung bình</strong>
                  <div class="box-gs-score">
                    <div class="gs-score gs-score-large score-9">
                      <div class="gs-score_clip">
                        <div class="gs-score_pie gs-score_spinner"></div>
                      </div>
                      <div class="gs-score_clip gs-score_clip2">
                        <div class="gs-score_pie gs-score_filler"></div>
                      </div>
                      <div class="gs-score_inner"><span>9</span></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </main>
          <div class="name-ad-speacial"><span>Thành Đạt</span></div>
          <div class="share-likedbutton"><a href="#"><span class="icon-minfb"></span>Chia sẻ Facebook</a></div>
          <div class="tags-involve"><strong>Từ khóa:</strong><a href="#">du lịch</a><a href="#">phải đi hè này</a><a href="#">Sapa</a><a href="#">Hà Giang</a><a href="#">MinisoVietnam</a></div>
        </div>
      </div>
      <div class="container-mobile">
        <div class="involve-det-mb">
          <div class="sub-title-left">
            <h2>Tin liên quan</h2>
          </div>
          <div class="box-sm-invol media"><a href="#" title="Sẽ ra sao nếu 1 con ốc sên bò qua 1 chiếc dao cạo sắc?"></a>
            <div class="media-left">
              <div class="box-img-cate"><img src="images/detail-10.png" alt="Sẽ ra sao nếu 1 con ốc sên bò qua 1 chiếc dao cạo sắc?"></div>
            </div>
            <div class="media-body">
              <h3 class="title-cate-4">Sẽ ra sao nếu 1 con ốc sên bò qua 1 chiếc dao cạo sắc?</h3>
            </div>
          </div>
          <div class="box-sm-invol media"><a href="#" title="Sẽ ra sao nếu 1 con ốc sên bò qua 1 chiếc dao cạo sắc?"></a>
            <div class="media-left">
              <div class="box-img-cate"><img src="images/hot-news-day-03.png" alt="Tường thuật: Google I/O 2016 ngày thứ nhất"></div>
            </div>
            <div class="media-body">
              <h3 class="title-cate-4">Chùm ảnh: Obama đến thăm và cho cá ăn ở nhà sàn Hồ Chủ Tịch</h3>
            </div>
          </div>
          <div class="box-sm-invol media"><a href="#" title="Sẽ ra sao nếu 1 con ốc sên bò qua 1 chiếc dao cạo sắc?"></a>
            <div class="media-left">
              <div class="box-img-cate"><img src="images/hot-news-day-04.png" alt="Tường thuật: Google I/O 2016 ngày thứ nhất"></div>
            </div>
            <div class="media-body">
              <h3 class="title-cate-4">Giới trẻ 2 miền hào hứng khoe thư mời tham dự buổi giao lưu cùng tổng thống Obama</h3>
            </div>
          </div>
          <div class="box-sm-invol media"><a href="#" title="Sẽ ra sao nếu 1 con ốc sên bò qua 1 chiếc dao cạo sắc?"></a>
            <div class="media-left">
              <div class="box-img-cate"><img src="images/hot-news-day-05.png" alt="Tường thuật: Google I/O 2016 ngày thứ nhất"></div>
            </div>
            <div class="media-body">
              <h3 class="title-cate-4">Nữ tài xế lái Cadillac One hộ tống Tổng thống Obama ở Hà Nội</h3>
            </div>
          </div>
        </div>
        <div class="involve-det-mb">
          <div class="sub-title-left">
            <h2 class="more-border">Đời sống				</h2>
          </div>
        </div>
        <div class="life-box">
          <div class="life-min adjust-margin">
            <div class="box-img-life"><a href="detail-mb-life.html" title="Người nước ngoài, du học sinh tấn công vòng thử giọng Vietnam Idol 2016"><img src="images/life2.jpg" alt="Người nước ngoài, du học sinh tấn công vòng thử giọng Vietnam Idol 2016"></a></div>
            <div class="content-head">
              <h3 class="title-main-4"><a href="detail-mb-life.html" title="Người nước ngoài, du học sinh tấn công vòng thử giọng Vietnam Idol 2016">Bí mật bên trong món kem "đen như mực" gây sốt mạng xã hội</a></h3>
            </div>
          </div>
          <div class="life-min adjust-margin">
            <div class="box-img-life"><a href="detail-mb-life.html" title="Vietnam Idol Kids: Cậu bé hát đám cưới Hồ Văn Cường khiến Isaac bật khóc"><img src="images/life3.jpg" alt="Vietnam Idol Kids: Cậu bé hát đám cưới Hồ Văn Cường khiến Isaac bật khóc"></a></div>
            <div class="content-head">
              <h3 class="title-main-4"><a href="detail-mb-life.html" title="Vietnam Idol Kids: Cậu bé hát đám cưới Hồ Văn Cường khiến Isaac bật khóc">Ghé trại hòm để mua "xôi nhà xác" cực đông và hút khách liên tục.</a></h3>
            </div>
          </div>
          <div class="life-min adjust-margin">
            <div class="box-img-life"><a href="detail-mb-life.html" title="Người nước ngoài, du học sinh tấn công vòng thử giọng Vietnam Idol 2016"><img src="images/life2.jpg" alt="Người nước ngoài, du học sinh tấn công vòng thử giọng Vietnam Idol 2016"></a></div>
            <div class="content-head">
              <h3 class="title-main-4"><a href="detail-mb-life.html" title="Người nước ngoài, du học sinh tấn công vòng thử giọng Vietnam Idol 2016">Bí mật bên trong món kem "đen như mực" gây sốt mạng xã hội</a></h3>
            </div>
          </div>
          <div class="life-min adjust-margin">
            <div class="box-img-life"><a href="detail-mb-life.html" title="Vietnam Idol Kids: Cậu bé hát đám cưới Hồ Văn Cường khiến Isaac bật khóc"><img src="images/life3.jpg" alt="Vietnam Idol Kids: Cậu bé hát đám cưới Hồ Văn Cường khiến Isaac bật khóc"></a></div>
            <div class="content-head">
              <h3 class="title-main-4"><a href="detail-mb-life.html" title="Vietnam Idol Kids: Cậu bé hát đám cưới Hồ Văn Cường khiến Isaac bật khóc">Ghé trại hòm để mua "xôi nhà xác" cực đông và hút khách liên tục.</a></h3>
            </div>
          </div>
          <div class="life-min adjust-margin">
            <div class="box-img-life"><a href="detail-mb-life.html" title="Người nước ngoài, du học sinh tấn công vòng thử giọng Vietnam Idol 2016"><img src="images/life2.jpg" alt="Người nước ngoài, du học sinh tấn công vòng thử giọng Vietnam Idol 2016"></a></div>
            <div class="content-head">
              <h3 class="title-main-4"><a href="detail-mb-life.html" title="Người nước ngoài, du học sinh tấn công vòng thử giọng Vietnam Idol 2016">Bí mật bên trong món kem "đen như mực" gây sốt mạng xã hội</a></h3>
            </div>
          </div>
          <div class="life-min adjust-margin">
            <div class="box-img-life"><a href="detail-mb-life.html" title="Vietnam Idol Kids: Cậu bé hát đám cưới Hồ Văn Cường khiến Isaac bật khóc"><img src="images/life3.jpg" alt="Vietnam Idol Kids: Cậu bé hát đám cưới Hồ Văn Cường khiến Isaac bật khóc"></a></div>
            <div class="content-head">
              <h3 class="title-main-4"><a href="detail-mb-life.html" title="Vietnam Idol Kids: Cậu bé hát đám cưới Hồ Văn Cường khiến Isaac bật khóc">Ghé trại hòm để mua "xôi nhà xác" cực đông và hút khách liên tục.						</a></h3>
            </div>
          </div>
        </div>
        <div class="involve-det-mb">
          <div class="sub-title-left">
            <h2 class="more-border">Giải trí</h2>
          </div>
        </div>
        <div class="highligh-small third-detail">
          <div class="media">
            <h3 class="title-main-3"><a href="detail-mb-life.html">Hướng dẫn cách chơi Pokémon GO dành cho người mới</a></h3>
            <div class="media-left">
              <div class="box-img-highlight"><a href="detail-mb-life.html" title="Top 19 bức ảnh nghệ thuật đang được yêu thích nhất trên 500px"><img src="images/minslide1.jpg" alt="Top 19 bức ảnh nghệ thuật đang được yêu thích nhất trên 500px"></a></div>
            </div>
            <div class="media-body">
              <p class="description">Pokémon GO đã chính thức được phát hành và với gameplay đơn giản nhưng bắt người chơi phải vận động một cách hoàn toàn...</p>
            </div>
          </div>
          <div class="media">
            <h3 class="title-main-3"><a href="detail-mb-life.html">Siêu mẫu Gisele Bundchen toả sáng tại Lễ khai mạc Olympic 2016</a></h3>
            <div class="media-left">
              <div class="box-img-highlight"><a href="detail-mb-life.html" title="Top 19 bức ảnh nghệ thuật đang được yêu thích nhất trên 500px"><img src="images/minslide2.jpg" alt="Top 19 bức ảnh nghệ thuật đang được yêu thích nhất trên 500px"></a></div>
            </div>
            <div class="media-body">
              <p class="description">Cựu siêu mẫu Victoria Secret Gisele Bundchen tự tin trình diễn catwalk trên đường băng dài nhất thế giới trong đêm khai mạc Olympic Rio (Brazil).</p>
            </div>
          </div>
          <div class="media">
            <h3 class="title-main-3"><a href="detail-mb-life.html">Tuấn Hưng lên tiếng bênh vực Sơn Tùng về scandal đạo nhạc</a></h3>
            <div class="media-left">
              <div class="box-img-highlight"><a href="detail-mb-life.html" title="Top 19 bức ảnh nghệ thuật đang được yêu thích nhất trên 500px"><img src="images/minslide3.jpg" alt="Top 19 bức ảnh nghệ thuật đang được yêu thích nhất trên 500px"></a></div>
            </div>
            <div class="media-body">
              <p class="description">Giữa tâm bão về scandal MV mới của Sơn Tùng được cho là đạo nhạc. Ca sĩ Tuấn Hưng đã lên tiếng chia sẻ với đàn em...		</p>
            </div>
          </div>
          <div class="media">
            <h3 class="title-main-3"><a href="detail-mb-life.html">Hướng dẫn cách chơi Pokémon GO dành cho người mới</a></h3>
            <div class="media-left">
              <div class="box-img-highlight"><a href="detail-mb-life.html" title="Top 19 bức ảnh nghệ thuật đang được yêu thích nhất trên 500px"><img src="images/minslide1.jpg" alt="Top 19 bức ảnh nghệ thuật đang được yêu thích nhất trên 500px"></a></div>
            </div>
            <div class="media-body">
              <p class="description">Pokémon GO đã chính thức được phát hành và với gameplay đơn giản nhưng bắt người chơi phải vận động một cách hoàn toàn...		</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <footer>
      <div class="container-mobile">
        <div class="main-footer">
          <div class="content-footer">
            <h3 class="title-footer">theo dõi kul news</h3>
            <div class="social-footer widget-socialize"><a href="https://www.facebook.com/kulnews" title="facebook" target="_blank" class="icon facebook">
                <div class="symbol"><span></span></div>
                <div class="text-footer">
                  <p>1.1M</p>
                  <p>Facebook</p>
                </div></a><a href="https://plus.google.com/u/0/110833293141518607946/" title="google" target="_blank" class="icon google">
                <div class="symbol"><span></span></div>
                <div class="text-footer">
                  <p>60</p>
                  <p>Google+</p>
                </div></a><a href="https://www.pinterest.com/" title="youtube" target="_blank" class="icon youtube">
                <div class="symbol"><span></span></div>
                <div class="text-footer">
                  <p>33.5k</p>
                  <p>Youtube</p>
                </div></a><a href="https://www.instagram.com/kulnews/" title="instagram" target="_blank" class="icon instagram">
                <div class="symbol"><span></span></div>
                <div class="text-footer">
                  <p>1.6k</p>
                  <p>Instagram</p>
                </div></a></div>
          </div>
        </div>
      </div>
    </footer>
    <div class="mobile-change">
      <div class="link-mobile">
        <div class="thumb-logo"><img src="images/icon/news.svg" alt="Kul News logo"></div>
        <p>Bạn cần chuyển qua giao diện máy tính để có được những trải nghiệm tốt hơn trên Kul News</p><a href="index.html">Chuyển về giao diện đầy đủ    </a>
      </div>
    </div>
    <script type="text/javascript" src="js/mCustomScrollbar.min.js"></script>
    <script type="text/javascript" src="js/main-mb.js"></script>
  </body>
</html>

assets/detail-mb-speacial.jade
doctype html
html(lang="vi")
	include ./head-mb.jade
	body
		include ./header-mb.jade
		link(href='https://fonts.googleapis.com/css?family=Noto+Serif&subset=vietnamese', rel='stylesheet', type='text/css')
		section.detail-mb-life.page-wrap
			.container-mobile
				.box-title-fixed.menu-botom
					h2.title-main-2.bg-life Đời sống
					button.btn-sub-of-sub#btn-sub-of-sub-01
						span.glyphicon.glyphicon-option-vertical
					.box-btn-sub-cate
						ul.sub-menu#sub-menu-01
							li 
								a(href="cate-mb-life.html") Nhịp Sống
							li
								a(href="cate-mb-life.html") Nhân Vật
							li
								a(href="cate-mb-life.html")  Giới Trẻ
							li
								a(href="cate-mb-life.html")  Xem-Ăn-Chơi
							li
								a(href="cate-mb-life.html")  Sức Khỏe
							li
								a(href="cate-mb-life.html")  Khám phá
				.detail-news-center
					.cover-photo(style="background-image: url('http://cdn.kul.vn/data/gallery/2016/09/04/nghe_nhan_lam_roi_15.jpg')")
						.meta-photo
							h1.white-title Người nghệ nhân già và những con rối nước cuối cùng của Sài Gòn
							.author-photo
								span Bởi
								span.author-name Thành Đạt
								span -
								span 07:30 ngày 07/09/2016
					.summary-photo 
						p Nằm trong một con hẻm nhỏ ở đường Huỳnh Tấn Phát, cả cơ sở rộng chừng chục mét vuông với 3 nhân công, hẳn nhiều người sẽ bất ngờ khi tới thăm nhà của nghệ nhân làm rối Phùng Văn Oánh, người làm rối nước duy nhất tại Sài Gòn.
					main#lightgallery.main-article
						figure
							img(src="http://cdn.kul.vn/data/gallery/2016/09/04/nghe_nhan_lam_roi_2.jpg", alt="Chuyến bay VN168 hành trình Đà Nẵng – Hà Nội" )
							figcaption Sinh ra tại Hà Tây (cũ) trong một gia đình không có truyền thống làm rối, nhưng như được định mệnh sắp đặt, ông gắn bó với những con rối ngay từ khi còn ngồi trên ghế giảng đường trường Đại học mỹ thuật Hà Nội. Sau đó, ông khăn gói vào Nam lập nghiệp với những con rối trong balo và sứ mệnh mang loại hình giải trí dân gian này đến với Sài Gòn.
						figure
							img(src="http://cdn.kul.vn/data/gallery/2016/09/04/nghe_nhan_lam_roi_3.jpg", alt="Chuyến bay VN168 hành trình Đà Nẵng – Hà Nội" )
							p Gắn bó với những con rối gỗ hơn 20 năm, ông trầm ngâm cho biết: "Nghề làm rối này cực lắm, phải có đam mê mới gắn bó được. Tôi làm mấy con rối này đúng 25 năm, nói thật là không đủ ăn, phải làm thêm đủ nghề khác để nuôi gia dinh".
						figure
							img(src="http://cdn.kul.vn/data/gallery/2016/09/04/nghe_nhan_lam_roi_11.jpg", alt="Chuyến bay VN168 hành trình Đà Nẵng – Hà Nội" )
							p Nghề làm rối có gắn bó mật thiết với nghề thợ mộc nhưng không phải người thợ mộc nào cũng có thể làm rối. Để làm nên một con rối hoàn chỉnh, bên cạnh tay nghề cần phải có một sự am hiểu sâu rộng về văn hóa dân gian từng vùng miền. Có như vậy, con rối làm ra mới đúng với những chi tiết lịch sử cũng như có được cái hồn.
						figure
							img(src="http://cdn.kul.vn/data/gallery/2016/09/04/nghe_nhan_lam_roi_13.jpg", alt="Chuyến bay VN168 hành trình Đà Nẵng – Hà Nội" )
							p Những con rối phải được làm từ gỗ sung vì nhẹ và chịu nước. Tuổi thọ trung bình của mỗi con rối là khoảng 6 tháng. Để làm ra một con rối hoàn chỉnh, người thợ mất khoảng 3 ngày với các công đoạn đẽo, sơn, lắp máy.
						.box-assess
							.avata-game
								img(src="images/avata-game.jpg" alt="Kul News Trang tin")
							.row
								.col-sm-5
									strong.devision Ưu Điểm:
									.strong-point
										ul
											li Bối cảnh 3D tối tân nhất, giao diện đẹp, hoành tráng
											li Cốt truyện hấp dẫn, dẫn dắt kịch tính 
											li Assassin's Creed IV đưa người chơi nhập vai vào những pha hành động hấp dẫn.
											li Người chơi có thể tùy chỉnh nhân vật Assassin theo như ý thích của mình
								.col-sm-4
									strong.devision.less Khuyết Điểm:
									.weak-point
										ul
											li Vẫn còn tồn tại kha khá lỗi cả về hình ảnh và gameplay
											li Thời lượng chơi tương đối ngắn
								.col-sm-3
									strong.devision.text-center.final-point Điểm Trung bình
									.box-gs-score
										.gs-score.gs-score-large.score-9
											.gs-score_clip
												.gs-score_pie.gs-score_spinner
											.gs-score_clip.gs-score_clip2
												.gs-score_pie.gs-score_filler
											.gs-score_inner
												span 9
					.name-ad-speacial
						span Thành Đạt
					.share-likedbutton
						a(href="#")
							span.icon-minfb
							| Chia sẻ Facebook
					.tags-involve
						strong Từ khóa:
						a(href="#") du lịch
						a(href="#") phải đi hè này
						a(href="#") Sapa
						a(href="#") Hà Giang
						a(href="#") MinisoVietnam
				//- .icon-social-detail
				//- 	a(href="https://www.facebook.com/kulnews" title="facebook" class="icon facebook" target="_blank")
				//- 		span
				//- 	a(href="https://plus.google.com/u/0/110833293141518607946/" title="google" class="icon google" target="_blank")
				//- 		span
				//- 	a(href="#" title="envelope" class="icon envelope" target="_blank")
				//- 		span
				//- 	a(href="#" title="pinterest" class="icon pinterest" target="_blank")
				//- 		span
				//- 	a(href="https://www.instagram.com/kulnews/" title="twitter" class="icon twitter" target="_blank")
				//- 		span
				//- 	iframe(src="https://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&width=111&layout=button&action=like&show_faces=true&share=true&height=65&appId" width="111" height="65" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true")
			//- include ./video-detail-mb.jade
			include ./involve-detail-mb.jade
		include ./footer-mb.jade
		include ./script-mb.jade
