assets/game-speacial.html
<!DOCTYPE html>
<html lang="vi">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Kul News - Tin giải trí, giới trẻ, đời sống xã hội tổng hợp</title>
    <link rel="shortcut icon" href="images/k.ico" type="image/x-icon">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="app.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Slab">
    <script src="js/jquery-2.1.4.min.js"></script>
  </head>
  <link rel="stylesheet" href="css/jquery.fancybox.css">
  <link rel="stylesheet" href="css/jquery.fancybox-thumbs.css">
  <body>
    <header class="site-header fixed header">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <ul class="nav navbar-nav nav-upright">
              <li class="active home-index"><a href="index.html">Trang chủ</a></li>
              <li class="dropdown"><a href="video-news.html">Video</a>
                <ul class="sub-menu">
                  <li><a href="video-detail.html">Showbiz</a></li>
                  <li><a href="video-detail.html">MV & Trailer</a></li>
                  <li><a href="video-detail.html">Giải trí</a></li>
                  <li><a href="video-detail.html">Hài</a></li>
                  <li><a href="video-detail.html">Thời sự</a></li>
                </ul>
              </li>
              <li class="dropdown"><a href="category-life.html">Đời Sống</a>
                <ul class="sub-menu">
                  <li><a href="category-life.html">Xã hội</a>
                    <ul class="menu_level_2">
                      <li><a href="#">Tin Trong nước</a></li>
                      <li><a href="#">Tin thế giới</a></li>
                    </ul>
                  </li>
                  <li><a href="category-life.html">Giới trẻ</a></li>
                  <li><a href="category-life.html">Nhân vật</a></li>
                  <li><a href="category-life.html">Khám phá</a></li>
                  <li><a href="category-life.html">Ảnh & Video</a></li>
                  <li><a href="category-life.html">Góc nhìn</a></li>
                </ul>
              </li>
              <li class="dropdown"><a href="category-life.html">Tin thế giới      </a></li>
              <li class="dropdown"><a href="category-life.html">Giải Trí</a>
                <ul class="sub-menu">
                  <li><a href="category-life.html">Sao</a>
                    <ul class="menu_level_2">
                      <li><a href="#">Sao Việt</a></li>
                      <li><a href="#">Sao Quốc tế</a></li>
                    </ul>
                  </li>
                  <li><a href="category-life.html">Âm nhạc</a></li>
                  <li><a href="category-life.html">Điện Ảnh</a>
                    <ul class="menu_level_2">
                      <li><a href="#">Phim Việt</a></li>
                      <li><a href="#">Phim Nước Ngoài</a></li>
                    </ul>
                  </li>
                  <li><a href="category-life.html">TV Show</a></li>
                </ul>
              </li>
              <li class="dropdown"><a href="category-life.html">Thời Trang</a>
                <ul class="sub-menu">
                  <li><a href="category-life.html">Phái Mạnh</a></li>
                  <li><a href="category-life.html">Fashion 360</a></li>
                  <li><a href="category-life.html">Xu Hướng</a>
                    <ul class="menu_level_2">
                      <li><a href="#">Bộ Sưu Tập</a></li>
                    </ul>
                  </li>
                  <li><a href="category-life.html">Thời Trang Sao</a></li>
                  <li><a href="category-life.html">Phụ Kiện</a></li>
                </ul>
              </li>
              <li class="dropdown"><a href="index-game.html">Game</a>
                <ul class="sub-menu">
                  <li><a href="category-life.html">Đánh giá game</a></li>
                  <li><a href="category-life.html">Game trong nước</a></li>
                  <li><a href="category-life.html">Game Nước ngoài</a></li>
                  <li><a href="category-life.html">Esports</a></li>
                  <li><a href="category-life.html">Clip Game Hay</a></li>
                  <li><a href="category-life.html">Gift Code</a></li>
                </ul>
              </li>
              <li class="dropdown"><a href="category-life.html">Thể Thao</a>
                <ul class="sub-menu">
                  <li><a href="category-life.html">Bóng Đá Việt Nam</a></li>
                  <li><a href="category-life.html">Bóng đá thế giới</a></li>
                  <li><a href="category-life.html">Các môn thể thao khác</a></li>
                  <li><a href="category-life.html">AFF Suzuki Cup</a></li>
                </ul>
              </li>
              <li class="dropdown"><a href="category-life.html">Công Nghệ</a>
                <ul class="sub-menu">
                  <li><a href="category-life.html">Tin Công Nghệ</a></li>
                  <li><a href="category-life.html">Review</a></li>
                  <li><a href="category-life.html">Thủ thuật</a></li>
                </ul>
              </li>
              <li class="dropdown"><a href="category-life.html">Sức khỏe</a>
                <ul class="sub-menu">
                  <li><a href="category-life.html">Bạn cần biết</a>
                    <ul class="menu_level_2">
                      <li><a href="#">Khỏe đẹp</a></li>
                      <li><a href="#">Dinh dưỡng</a></li>
                    </ul>
                  </li>
                  <li><a href="category-life.html">Kiến Thức Giới Tính</a></li>
                  <li><a href="category-life.html">Các bệnh thường gặp</a></li>
                </ul>
              </li>
              <li class="dropdown"><a href="index-beauty.html">Phái Đẹp</a>
                <ul class="sub-menu">
                  <li><a href="index-beauty.html">Làm đẹp</a></li>
                  <li><a href="index-beauty.html">Mẹ & Bé</a></li>
                  <li><a href="index-beauty.html">Vào bếp</a></li>
                  <li><a href="index-beauty.html">Khéo tay - DIY</a></li>
                  <li><a href="index-beauty.html">Sống & yêu</a>
                    <ul class="menu_level_2">
                      <li><a href="#">Bói vui</a></li>
                    </ul>
                  </li>
                  <li><a href="index-beauty.html">Video</a></li>
                  <li><a href="index-beauty.html">Cộng Đồng</a></li>
                </ul>
              </li>
              <li class="dropdown"><a href="index-beauty.html">Editor's Choice</a>
                <ul class="sub-menu">
                  <li><a href="index-beauty.html">Top 5</a></li>
                  <li><a href="index-beauty.html">Insprite         </a></li>
                </ul>
              </li>
            </ul>
            <div class="search-box">
              <form class="navbar-form navbar-right">
                <div id="search-form" class="form-group">
                  <div class="input-group">
                    <input type="text" name="search" value placeholder="Nhập nội dung.." autofocus class="form-control"><span class="search-mini">
                      <button id="search-icon" title="Tìm" class="btn-search-mini"></button></span>
                  </div>
                </div><span id="search" class="glyphicon glyphicon-search-show">
                  <button id="search-button" class="search-button"></button></span><span id="close" class="glyphicon glyphicon-remove-hide">
                  <button id="close-search" class="close">            </button></span>
              </form>
            </div>
            <button id="btn-show-menu" type="button" data-toggle="collapse" class="navbar-toggle collapsed"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
          </div>
        </div>
      </div>
    </header>
    <section class="hot-news">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="row">
              <div class="col-xs-4 col-sm-12 col-md-4 col-lg-4">
                <div class="header-logo"><a href="index.html" title="Kul News Trang tin"><img src="images/icon/kul-life.svg" alt="Kul News Trang tin"><span>Kul News Tin tức, giải trí, xã hội</span></a></div>
              </div>
              <div class="col-xs-8 hidden-sm col-md-8 col-lg-8">
                <div class="qc-top"><img src="images/icon/qc728.jpg" alt="qctop"></div>
              </div>
            </div>
            <div class="view-more-event">
              <h1>Đời sống</h1>
              <ul class="menu-cate">
                <li><a href="category-life.html">Nhịp Sống</a></li>
                <li><a href="category-life.html">Nhân Vật</a></li>
                <li><a href="category-life.html">Giới Trẻ</a></li>
                <li><a href="category-life.html">Xem - Ăn - Chơi</a></li>
                <li><a href="category-life.html">Sức Khỏe</a></li>
                <li><a href="category-life.html">Khám Phá</a></li>
                <li><a href="category-life.html">Góc Nhìn</a></li>
              </ul>
            </div>
            <ul class="menu-mini">
              <li>
                <h4>Game</h4>
              </li>
              <li class="active"><a href="#">Game online</a></li>
              <li><a href="#">Game Offline</a></li>
              <li><a href="#">eSports</a></li>
              <li><a href="#">Cosplay</a></li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    <section class="detail-main page-wrap">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <div class="detail-news-center">
              <div style="background-image: url('images/game-speacal-01.jpg" class="cover-photo">
                <div class="meta-photo">
                  <h1 class="white-title">Người nghệ nhân già và những con rối nước cuối cùng của Sài Gòn</h1>
                  <div class="author-photo"><span class="like-g">1234</span><span class="views-g">4321</span></div>
                  <div class="box-gs-score">
                    <div class="gs-score gs-score-large score-9">
                      <div class="gs-score_clip">
                        <div class="gs-score_pie gs-score_spinner"></div>
                      </div>
                      <div class="gs-score_clip gs-score_clip2">
                        <div class="gs-score_pie gs-score_filler"></div>
                      </div>
                      <div class="gs-score_inner"><span>9	</span></div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="summary-photo"> 
                <p>Không để người hâm mộ phải chờ đời thêm 1 giây phút nào, đúng như những gì đã hẹn trước thì Assassin's Creed Identity đã chính thức đặt chân tới nền tảng iOS vào 25/2 vừa qua. Với mục đích phát hành ít nhất 1 phiên bản thuộc series Assassin's Creed mỗi năm thì Ubisoft đã phải đau đầu, vật lộn để cân bằng giữa số lượng và chất lượng. Dĩ nhiên thì việc phát hành Assassin's Creed Identity đã được nghiên cứu rất kỹ để người chơi không phải phàn nàn, chê trách.</p>
              </div>
              <main id="lightgallery" class="main-article">
                <figure><a href="#"><img src="images/game-speacal-02.jpg" alt="Chuyến bay VN168 hành trình Đà Nẵng – Hà Nội"></a>
                  <figcaption>Trước hết, chúng ta cần phải khen ngợi đội ngũ phát triển Assassin's Creed Identity, họ đã xây dựng trò chơi với 3D tối tân nhất. Mọi chi tiết, cảnh vật trong game đều được thiết kế tỉ mỉ từ đổ bóng cho tới góc cạnh các công trình. Thậm chỉ cả quy luật ngày và đêm cũng được chăm chút không thua kém gì các phiên bản của game trên PC/ Console. Tuy nhiên, để chơi được game bạn cần phải sở hữu iPad 3 và iPhone 5 trở lên và trang bị hệ điều hành iOS 7 và 8.</figcaption>
                </figure>
                <figure><img src="images/game-speacal-03.jpg" alt="Chuyến bay VN168 hành trình Đà Nẵng – Hà Nội">
                  <p>Về lối chơi, Assassin's Creed Identity sẽ đưa người chơi vào những pha hành động nhập vai khác hoàn toàn so với lối chơi hành động lén lút như đã từng làm với dòng game Assassin's Creed. Game mobile này đưa người chơi đến với Thời Phục Hưng ở nước Ý như đã từng làm với Assassin's Creed 2 và Assassin's Creed Brotherhood. Đặc biệt trong Assassin's Creed Identity, người chơi có thể tùy chỉnh nhân vật Assassin theo như ý thích của mình từ 4 lớp nhân vật là Berserker, Shadow Blade, Trickster và Thief.</p>
                </figure>
                <figure><img src="images/game-speacal-04.jpg" alt="Chuyến bay VN168 hành trình Đà Nẵng – Hà Nội">
                  <p>Assassin's Creed Identity vẫn đi theo mô tuýp luyện cấp truyền thống đối với những trò chơi cùng thể loại trên di động. Game thủ có thể thu thập thêm kinh nghiệm thông qua những nhiệm vụ và các sự kiện mà hệ thống mang tới. Chính vì thế, dù có lựa chọn lớp nhân vật nào thì bạn vẫn có quyền đặt tay lên bộ kỹ năng đa dạng thể, phát triển qua quá trình tích lũy kinh nghiệm và lên cấp như một sản phẩm nhập vai thực thụ.</p>
                </figure>
                <figure><img src="images/game-speacal-05.jpg" alt="Chuyến bay VN168 hành trình Đà Nẵng – Hà Nội">
                  <p>Cơ chế điều khiển trong game sẽ được tích hợp ngay trên màn hình và game thủ chỉ cần chạm vuốt để di chuyển và tấn công kẻ thù. Bạn có thể sử dụng Hidden Blade để hạ gục đối phương một cách âm thầm hay sử dụng các kỹ năng cận chiến nếu như bị phát hiện.</p>
                </figure>
                <figure><img src="images/game-speacal-06.jpg" alt="Chuyến bay VN168 hành trình Đà Nẵng – Hà Nội">
                  <p>Tuy nhiên thì Assassin's Creed Identity đã mắc phải một điểm trừ nhỏ và sẽ khiến cho những game thủ phải cảm thấy khó chịu. Trò chơi không cho phép game thủ thoải mái di chuyển, bạn chỉ có thể khám phá thành phố trong một khu vực nhất định tùy vào từng nhiệm vụ. Có lẽ đây cũng là lý do dẫn tới việc tương tác giữa nhân vật với các bức tường, anh chàng sát thủ của chúng ta sẽ lựa chọn hình thức leo trò dù có thể đi bộ qua địa điểm chỉ định 1 cách dễ dàng.v</p>
                </figure>
                <figure><img src="images/game-speacal-07.jpg" alt="Chuyến bay VN168 hành trình Đà Nẵng – Hà Nội">
                  <p>Nhìn chung, Assassin's Creed Identity vẫn nhận được những lời khen từ phía cộng đồng game thủ, đánh giá cao từ giới chuyên môn. Mặc dù những lỗi nhỏ có xuất hiện nhưng đó là điều hoàn toàn dễ hiểu vì chẳng có điều gì là hoàn hảo hết. Dù sao, chỉ có tải về và tự trải nghiệm bạn mới có thể cảm nhận được hết tất cả những gì thú vị mà trò chơi mang lại.</p>
                </figure>
              </main>
            </div>
            <div class="box-assess">
              <div class="avata-game"><img src="images/avata-game.jpg" alt="Kul News Trang tin"><span>Assassin's Creed IV</span></div>
              <div class="row">
                <div class="col-sm-5"><strong class="devision">Ưu Điểm:</strong>
                  <div class="strong-point">
                    <ul>
                      <li>Bối cảnh 3D tối tân nhất, giao diện đẹp, hoành tráng</li>
                      <li>Cốt truyện hấp dẫn, dẫn dắt kịch tính </li>
                      <li>Assassin's Creed IV đưa người chơi nhập vai vào những pha hành động hấp dẫn.</li>
                      <li>Người chơi có thể tùy chỉnh nhân vật Assassin theo như ý thích của mình</li>
                    </ul>
                  </div>
                </div>
                <div class="col-sm-4"><strong class="devision less">Khuyết Điểm:</strong>
                  <div class="weak-point">
                    <ul>
                      <li>Vẫn còn tồn tại kha khá lỗi cả về hình ảnh và gameplay</li>
                      <li>Thời lượng chơi tương đối ngắn</li>
                    </ul>
                  </div>
                </div>
                <div class="col-sm-3"><strong class="devision text-center">Điểm Trung bình</strong>
                  <div class="box-gs-score">
                    <div class="gs-score gs-score-large score-9">
                      <div class="gs-score_clip">
                        <div class="gs-score_pie gs-score_spinner"></div>
                      </div>
                      <div class="gs-score_clip gs-score_clip2">
                        <div class="gs-score_pie gs-score_filler"></div>
                      </div>
                      <div class="gs-score_inner"><span>9</span></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="share-likedbutton share-center"><a href="#"><span class="icon-minfb"></span>Chia sẻ Facebook</a></div>
            <div class="tags-involve"><strong>Từ khóa:</strong><a href="#">du lịch</a><a href="#">phải đi hè này</a><a href="#">Sapa</a><a href="#">Hà Giang</a><a href="#">MinisoVietnam</a></div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="relate-title"><span>Tin tức liên quan</span></div>
          </div>
          <div class="col-xs-12">
            <div class="row equal">
              <div class="col-xs-3 box-invol">
                <div class="box-img-invol"><a href="#" title="Sẽ ra sao nếu 1 con ốc sên bò qua 1 chiếc dao cạo sắc?"><img src="images/lf1.jpg" alt="Với Van Gaal, cúp FA là sự ngụy biện tủi hổ"></a></div>
                <h3><a href="#">Có một Sài Gòn xinh xắn, bình yên như thế qua ống kính Instagram của 4 bạn trẻ</a></h3>
              </div>
              <div class="col-xs-3 box-invol">
                <div class="box-img-invol"><a href="#" title="Sẽ ra sao nếu 1 con ốc sên bò qua 1 chiếc dao cạo sắc?"><img src="images/lf2.jpg" alt="Đấu súng nghẹt thở, Bayern Munich đả bại Dortmund đoạt Cúp quốc gia"></a></div>
                <h3><a href="#"> 11 đội xuất sắc của Here We Go đã có buổi gặp gỡ trực tiếp tại hai đầu Nam, Bắc</a></h3>
              </div>
              <div class="col-xs-3 box-invol">
                <div class="box-img-invol"><a href="#" title="Sẽ ra sao nếu 1 con ốc sên bò qua 1 chiếc dao cạo sắc?"><img src="images/lf3.jpg" alt="Trọng tài tưởng tượng ra 11 m: Tôi ngàn lần xin lỗi"></a></div>
                <h3><a href="#">"Đừng yêu lại người cũ, đừng yêu lần thứ hai" - Là con gái, ai cũng phải tâm đắc với lời khuyên này!</a></h3>
              </div>
              <div class="col-xs-3 box-invol">
                <div class="box-img-invol"><a href="#" title="Sẽ ra sao nếu 1 con ốc sên bò qua 1 chiếc dao cạo sắc?"><img src="images/lf4.jpg" alt="2 trọng tài bị treo còi hết lượt đi V.League và chờ án phạt tiếp"></a></div>
                <h3><a href="#">Bàn ghế làm từ băng, không gian âm 10 độ C</a></h3>
              </div>
              <div class="col-xs-3 box-invol">
                <div class="box-img-invol"><a href="#" title="Sẽ ra sao nếu 1 con ốc sên bò qua 1 chiếc dao cạo sắc?"><img src="images/lf5.png" alt="Với Van Gaal, cúp FA là sự ngụy biện tủi hổ"></a></div>
                <h3><a href="#">Da trắng, môi dày, mặt nét: Đó là lý do cô bạn từ Thái Nguyên này luôn bị nhầm là gái Tây!</a></h3>
              </div>
              <div class="col-xs-3 box-invol">
                <div class="box-img-invol"><a href="#" title="Sẽ ra sao nếu 1 con ốc sên bò qua 1 chiếc dao cạo sắc?"><img src="images/lf6.jpg" alt="Đấu súng nghẹt thở, Bayern Munich đả bại Dortmund đoạt Cúp quốc gia"></a></div>
                <h3><a href="#"> Hãy theo dõi Instagram của cô gái 1 chân vô cùng xinh đẹp này, nếu bạn đang cần một mục tiêu sống</a></h3>
              </div>
              <div class="col-xs-3 box-invol">
                <div class="box-img-invol"><a href="#" title="Sẽ ra sao nếu 1 con ốc sên bò qua 1 chiếc dao cạo sắc?"><img src="images/lf7.jpg" alt="Trọng tài tưởng tượng ra 11 m: Tôi ngàn lần xin lỗi"></a></div>
                <h3><a href="#">Spa tại Việt Nam đạt danh hiệu tốt nhất châu Á</a></h3>
              </div>
              <div class="col-xs-3 box-invol">
                <div class="box-img-invol"><a href="#" title="Sẽ ra sao nếu 1 con ốc sên bò qua 1 chiếc dao cạo sắc?"><img src="images/lf8.jpg" alt="2 trọng tài bị treo còi hết lượt đi V.League và chờ án phạt tiếp"></a></div>
                <h3><a href="#">Anh chàng nước ngoài gây tranh cãi khi hướng dẫn ăn phở: Ăn phải cuộn tròn như mỳ Ý</a></h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <footer class="main-footer">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <div class="row">
              <div class="col-xs-3">
                <h3 class="title-footer">Kul News</h3>
                <p class="info-footer">Giấy phép ICP số : 48/GP – TTĐT 14/05/2015 do Sở Thông Tin và Truyền Thông Tp HCM cấp.</p>
                <p class="info-footer">Chịu trách nhiệm quản lý nội dung: Trang Lan Anh Phương.</p>
              </div>
              <div class="col-xs-3">
                <h3 class="title-footer">Đơn vị chủ quán</h3>
                <p class="info-footer">CÔNG TY CP TRỰC TUYẾN CMN VIỆT NAM</p>
                <p class="info-footer">Địa chỉ: Số 549 Điện Biên Phủ, Phường 3, Quận 3, Tp Hồ Chí Minh.</p>
                <p class="info-footer">Điện thoại: 08 38335466</p>
              </div>
              <div class="col-xs-3">
                <h3 class="title-footer">liên kết</h3>
                <ul class="link-extra">
                  <li><a href="#" class="link-footer">Tuyển dụng</a></li>
                  <li><a href="#" class="link-footer">Liên hệ và Quảng cáo</a></li>
                  <li><a href="#" class="link-footer">Điều khoản sử dụng</a></li>
                  <li><a href="#" class="link-footer">Chính sách về Quyền riêng tư</a></li>
                </ul>
              </div>
              <div class="col-xs-3">
                <h3 class="title-footer">theo dõi kul news</h3>
                <div class="social-footer widget-socialize"><a href="https://www.facebook.com/kulnews" title="facebook" target="_blank" class="icon facebook">
                    <div class="symbol"><span></span></div>
                    <div class="text-footer">
                      <p>1.1M</p>
                      <p>Facebook</p>
                    </div></a><a href="https://plus.google.com/u/0/110833293141518607946/" title="google" target="_blank" class="icon google">
                    <div class="symbol"><span></span></div>
                    <div class="text-footer">
                      <p>60</p>
                      <p>Google+</p>
                    </div></a><a href="https://www.youtube.com/channel/UC-gfYPmX-4hagkRmUF5YxTA" title="youtube" target="_blank" class="icon youtube">
                    <div class="symbol"><span></span></div>
                    <div class="text-footer">
                      <p>33.5k</p>
                      <p>Youtube</p>
                    </div></a><a href="https://www.instagram.com/kulnews/" title="instagram" target="_blank" class="icon instagram">
                    <div class="symbol"><span></span></div>
                    <div class="text-footer">
                      <p>1.6k</p>
                      <p>Instagram</p>
                    </div></a></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <div class="back-top">
      <div class="icon-scrolltop"><span></span></div>
    </div>
    <div class="mobile-change">
      <div class="link-mobile">
        <div class="thumb-logo"><img src="images/icon/news.svg" alt="Kul News logo"></div>
        <p>Bạn cần chuyển qua giao diện Mobile để có được những trải nghiệm tốt hơn trên Kul News</p><a href="index-mb.html">Chuyển sang giao diện Mobile</a>
      </div>
    </div>
    <script src="js/jquery.fancybox.js"></script>
    <script src="js/jquery.fancybox-thumbs.js"></script>
    <script src="js/jquery-scrolltofixed.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>

assets/game-speacial.jade
doctype html
html(lang="vi")
	include ./head.jade
	link(rel='stylesheet', href='css/jquery.fancybox.css')
	link(rel='stylesheet', href='css/jquery.fancybox-thumbs.css')
	body
		include ./header.jade
		section.hot-news
			.container
				.row
					.col-xs-12.col-sm-12.col-md-12.col-lg-12
						.row
							.col-xs-4.col-sm-12.col-md-4.col-lg-4
								.header-logo
									a(href='index.html' title='Kul News Trang tin')
										img(src="images/icon/kul-life.svg" alt="Kul News Trang tin")
										span Kul News Tin tức, giải trí, xã hội
							.col-xs-8.hidden-sm.col-md-8.col-lg-8
								.qc-top
									img(src="images/icon/qc728.jpg" alt="qctop")
						.view-more-event
							h1 Đời sống
							ul.menu-cate
								each val in ['Nhịp Sống', 'Nhân Vật','Giới Trẻ','Xem - Ăn - Chơi','Sức Khỏe', 'Khám Phá','Góc Nhìn']
									li
										a(href="category-life.html")= val
						ul.menu-mini
							li
								h4 Game
							li.active
								a(href="#") Game online
							li
								a(href="#") Game Offline
							li
								a(href="#") eSports
							li
								a(href="#") Cosplay
		section.detail-main.page-wrap
			.container
				.row
					.col-xs-12
						.detail-news-center
							.cover-photo(style="background-image: url('images/game-speacal-01.jpg")
								.meta-photo
									h1.white-title Người nghệ nhân già và những con rối nước cuối cùng của Sài Gòn
									.author-photo
										span.like-g 1234
										span.views-g 4321
									.box-gs-score
										.gs-score.gs-score-large.score-9
											.gs-score_clip
												.gs-score_pie.gs-score_spinner
											.gs-score_clip.gs-score_clip2
												.gs-score_pie.gs-score_filler
											.gs-score_inner
												span 9	
							.summary-photo 
								p Không để người hâm mộ phải chờ đời thêm 1 giây phút nào, đúng như những gì đã hẹn trước thì Assassin's Creed Identity đã chính thức đặt chân tới nền tảng iOS vào 25/2 vừa qua. Với mục đích phát hành ít nhất 1 phiên bản thuộc series Assassin's Creed mỗi năm thì Ubisoft đã phải đau đầu, vật lộn để cân bằng giữa số lượng và chất lượng. Dĩ nhiên thì việc phát hành Assassin's Creed Identity đã được nghiên cứu rất kỹ để người chơi không phải phàn nàn, chê trách.
							main#lightgallery.main-article
								figure
									a(href="#")
										img(src="images/game-speacal-02.jpg", alt="Chuyến bay VN168 hành trình Đà Nẵng – Hà Nội" )
									figcaption Trước hết, chúng ta cần phải khen ngợi đội ngũ phát triển Assassin's Creed Identity, họ đã xây dựng trò chơi với 3D tối tân nhất. Mọi chi tiết, cảnh vật trong game đều được thiết kế tỉ mỉ từ đổ bóng cho tới góc cạnh các công trình. Thậm chỉ cả quy luật ngày và đêm cũng được chăm chút không thua kém gì các phiên bản của game trên PC/ Console. Tuy nhiên, để chơi được game bạn cần phải sở hữu iPad 3 và iPhone 5 trở lên và trang bị hệ điều hành iOS 7 và 8.
								figure
									img(src="images/game-speacal-03.jpg", alt="Chuyến bay VN168 hành trình Đà Nẵng – Hà Nội" )
									p Về lối chơi, Assassin's Creed Identity sẽ đưa người chơi vào những pha hành động nhập vai khác hoàn toàn so với lối chơi hành động lén lút như đã từng làm với dòng game Assassin's Creed. Game mobile này đưa người chơi đến với Thời Phục Hưng ở nước Ý như đã từng làm với Assassin's Creed 2 và Assassin's Creed Brotherhood. Đặc biệt trong Assassin's Creed Identity, người chơi có thể tùy chỉnh nhân vật Assassin theo như ý thích của mình từ 4 lớp nhân vật là Berserker, Shadow Blade, Trickster và Thief.
								figure
									img(src="images/game-speacal-04.jpg", alt="Chuyến bay VN168 hành trình Đà Nẵng – Hà Nội" )
									p Assassin's Creed Identity vẫn đi theo mô tuýp luyện cấp truyền thống đối với những trò chơi cùng thể loại trên di động. Game thủ có thể thu thập thêm kinh nghiệm thông qua những nhiệm vụ và các sự kiện mà hệ thống mang tới. Chính vì thế, dù có lựa chọn lớp nhân vật nào thì bạn vẫn có quyền đặt tay lên bộ kỹ năng đa dạng thể, phát triển qua quá trình tích lũy kinh nghiệm và lên cấp như một sản phẩm nhập vai thực thụ.
								figure
									img(src="images/game-speacal-05.jpg", alt="Chuyến bay VN168 hành trình Đà Nẵng – Hà Nội" )
									p Cơ chế điều khiển trong game sẽ được tích hợp ngay trên màn hình và game thủ chỉ cần chạm vuốt để di chuyển và tấn công kẻ thù. Bạn có thể sử dụng Hidden Blade để hạ gục đối phương một cách âm thầm hay sử dụng các kỹ năng cận chiến nếu như bị phát hiện.
								figure
									img(src="images/game-speacal-06.jpg", alt="Chuyến bay VN168 hành trình Đà Nẵng – Hà Nội" )
									p Tuy nhiên thì Assassin's Creed Identity đã mắc phải một điểm trừ nhỏ và sẽ khiến cho những game thủ phải cảm thấy khó chịu. Trò chơi không cho phép game thủ thoải mái di chuyển, bạn chỉ có thể khám phá thành phố trong một khu vực nhất định tùy vào từng nhiệm vụ. Có lẽ đây cũng là lý do dẫn tới việc tương tác giữa nhân vật với các bức tường, anh chàng sát thủ của chúng ta sẽ lựa chọn hình thức leo trò dù có thể đi bộ qua địa điểm chỉ định 1 cách dễ dàng.v
								figure
									img(src="images/game-speacal-07.jpg", alt="Chuyến bay VN168 hành trình Đà Nẵng – Hà Nội" )
									p Nhìn chung, Assassin's Creed Identity vẫn nhận được những lời khen từ phía cộng đồng game thủ, đánh giá cao từ giới chuyên môn. Mặc dù những lỗi nhỏ có xuất hiện nhưng đó là điều hoàn toàn dễ hiểu vì chẳng có điều gì là hoàn hảo hết. Dù sao, chỉ có tải về và tự trải nghiệm bạn mới có thể cảm nhận được hết tất cả những gì thú vị mà trò chơi mang lại.
						.box-assess
							.avata-game
								img(src="images/avata-game.jpg" alt="Kul News Trang tin")
								span Assassin's Creed IV
							.row
								.col-sm-5
									strong.devision Ưu Điểm:
									.strong-point
										ul
											li Bối cảnh 3D tối tân nhất, giao diện đẹp, hoành tráng
											li Cốt truyện hấp dẫn, dẫn dắt kịch tính 
											li Assassin's Creed IV đưa người chơi nhập vai vào những pha hành động hấp dẫn.
											li Người chơi có thể tùy chỉnh nhân vật Assassin theo như ý thích của mình
								.col-sm-4
									strong.devision.less Khuyết Điểm:
									.weak-point
										ul
											li Vẫn còn tồn tại kha khá lỗi cả về hình ảnh và gameplay
											li Thời lượng chơi tương đối ngắn
								.col-sm-3
									strong.devision.text-center Điểm Trung bình
									.box-gs-score
										.gs-score.gs-score-large.score-9
											.gs-score_clip
												.gs-score_pie.gs-score_spinner
											.gs-score_clip.gs-score_clip2
												.gs-score_pie.gs-score_filler
											.gs-score_inner
												span 9
						.share-likedbutton.share-center
							a(href="#")
								span.icon-minfb
								| Chia sẻ Facebook
						.tags-involve
							strong Từ khóa:
							a(href="#") du lịch
							a(href="#") phải đi hè này
							a(href="#") Sapa
							a(href="#") Hà Giang
							a(href="#") MinisoVietnam
						//- .icon-social-detail
						//- 	a(href="https://www.facebook.com/kulnews" title="facebook" class="icon facebook" target="_blank")
						//- 	a(href="https://plus.google.com/u/0/110833293141518607946/" title="google" class="icon google" target="_blank")
						//- 	a(href="https://plus.google.com/u/0/110833293141518607946/" title="google" class="icon envelope" target="_blank")
						//- 	a(href="https://www.youtube.com/channel/UC-gfYPmX-4hagkRmUF5YxTA" title="pinterest" class="icon pinterest" target="_blank")
						//- 	a(href="https://twitter.com/?lang=vi" title="twitter" class="icon twitter" target="_blank")
						//- 	iframe(src='https://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&width=154&layout=button_count&action=like&size=small&show_faces=false&share=true&height=46&appId=550665205082229', width='200', height='21', style='border:none;overflow:hidden', scrolling='no', frameborder='0', allowtransparency='true')
						//- .post-comment
						//- 	.comment-total
						//- 		h3 Bình luận
						//- 	.comment-area
						//- 		.avat-image
						//- 			img(src='images/ava1.jpg', alt='ava')
						//- 		form.comment-boxarea
						//- 			.area-comment
						//- 				textarea(placeholder='Bình luận của bạn...')
						//- 			.buttom-comment
						//- 				button.button-submit(type='submit') Đăng	
						//- 	.comment-section
						//- 		.avacm-img
						//- 			img(src='images/ava1.jpg', alt='ava')
						//- 		.comment-boxarea
						//- 			span.comment-account Lee Cường
						//- 			p.comment-contain Chúng ta đề cao tinh thần nhân đạo, yêu chuộng hòa bình nhưng đối vs họ thì đụng vào tàu cá cướp hàng và phương tiện, vô nhân đạo khi thấy chúng ta gặp quy hiểm. Những ngư dân này khi về tới nhà suy nghi như thế nào về hành động của chính phủ họ đối với ngư dân VN nhỉ?
						//- 			.cmtsecont 
						//- 				span Trả lời
						//- 				span.alt-tab -
						//- 				span.icon-like
						//- 				span 346 Thích
						//- 			form.comment-boxsecond
						//- 				.area-comment
						//- 					textarea(placeholder='Phản hồi của bạn')
						//- 				.buttom-comment
						//- 					button.button-submit(type='submit') Đăng
						//- 		.comment-second
						//- 			.section-second
						//- 				.avacm-img
						//- 					img(src='images/ava2.jpg', alt='ava')
						//- 				.comment-boxarea
						//- 					span.comment-account Vinh Nguyễn
						//- 					p.comment-contain Họ làm gì được biết cách mà chính phủ họ đối với ngủ dân VN mà suy nghĩ ))
						//- 					.cmtsecont 
						//- 						span.icon-like
						//- 						span 2 Thích
						//- 		.comment-second
						//- 			.section-second
						//- 				.avacm-img
						//- 					img(src='images/ava2.jpg', alt='ava')
						//- 				.comment-boxarea
						//- 					span.comment-account Trinh Sinh
						//- 					p.comment-contain Tôi và hàng triệu người dân việt nam rất vui khí nhận đựơc tin này rất mong những người làm nhiệm vụ thực thi trên biển hãy làm nhiều việc làm như thế để bảo vệ ngư trường biển đảo của Việt Nam.
						//- 					.cmtsecont 
						//- 						span.icon-like
						//- 						span 12 Thích
						//- 		.comment-second
						//- 			.section-second
						//- 				.avacm-img
						//- 					img(src='images/ava2.jpg', alt='ava')
						//- 				.comment-boxarea
						//- 					span.comment-account Linh Nguyệt
						//- 					p.comment-contain Tôi tán thành cách xử lý của các đồng chí, chỉ cần đuổi thôi là họ cảm thấy nhục và phục rồi, cần chi dùng vũ lực.
						//- 					.cmtsecont 
						//- 						span.icon-like
						//- 						span 6 Thích
						//- 	.loadMore
						//- 		span Tải thêm bình luận
			.container
				.row
					.col-md-12
						.relate-title
							span Tin tức liên quan
					.col-xs-12
						.row.equal
							.col-xs-3.box-invol
								.box-img-invol
									a(href="#" title="Sẽ ra sao nếu 1 con ốc sên bò qua 1 chiếc dao cạo sắc?")
										img(src="images/lf1.jpg", alt="Với Van Gaal, cúp FA là sự ngụy biện tủi hổ")
								h3
									a(href="#") Có một Sài Gòn xinh xắn, bình yên như thế qua ống kính Instagram của 4 bạn trẻ
							.col-xs-3.box-invol
								.box-img-invol
									a(href="#" title="Sẽ ra sao nếu 1 con ốc sên bò qua 1 chiếc dao cạo sắc?")
										img(src="images/lf2.jpg", alt="Đấu súng nghẹt thở, Bayern Munich đả bại Dortmund đoạt Cúp quốc gia")
								h3
									a(href="#")  11 đội xuất sắc của Here We Go đã có buổi gặp gỡ trực tiếp tại hai đầu Nam, Bắc
							.col-xs-3.box-invol
								.box-img-invol
									a(href="#" title="Sẽ ra sao nếu 1 con ốc sên bò qua 1 chiếc dao cạo sắc?")
										img(src="images/lf3.jpg", alt="Trọng tài tưởng tượng ra 11 m: Tôi ngàn lần xin lỗi")
								h3
									a(href="#") "Đừng yêu lại người cũ, đừng yêu lần thứ hai" - Là con gái, ai cũng phải tâm đắc với lời khuyên này!
							.col-xs-3.box-invol
								.box-img-invol
									a(href="#" title="Sẽ ra sao nếu 1 con ốc sên bò qua 1 chiếc dao cạo sắc?")
										img(src="images/lf4.jpg", alt="2 trọng tài bị treo còi hết lượt đi V.League và chờ án phạt tiếp")
								h3
									a(href="#") Bàn ghế làm từ băng, không gian âm 10 độ C
							.col-xs-3.box-invol
								.box-img-invol
									a(href="#" title="Sẽ ra sao nếu 1 con ốc sên bò qua 1 chiếc dao cạo sắc?")
										img(src="images/lf5.png", alt="Với Van Gaal, cúp FA là sự ngụy biện tủi hổ")
								h3
									a(href="#") Da trắng, môi dày, mặt nét: Đó là lý do cô bạn từ Thái Nguyên này luôn bị nhầm là gái Tây!
							.col-xs-3.box-invol
								.box-img-invol
									a(href="#" title="Sẽ ra sao nếu 1 con ốc sên bò qua 1 chiếc dao cạo sắc?")
										img(src="images/lf6.jpg", alt="Đấu súng nghẹt thở, Bayern Munich đả bại Dortmund đoạt Cúp quốc gia")
								h3
									a(href="#")  Hãy theo dõi Instagram của cô gái 1 chân vô cùng xinh đẹp này, nếu bạn đang cần một mục tiêu sống
							.col-xs-3.box-invol
								.box-img-invol
									a(href="#" title="Sẽ ra sao nếu 1 con ốc sên bò qua 1 chiếc dao cạo sắc?")
										img(src="images/lf7.jpg", alt="Trọng tài tưởng tượng ra 11 m: Tôi ngàn lần xin lỗi")
								h3
									a(href="#") Spa tại Việt Nam đạt danh hiệu tốt nhất châu Á
							.col-xs-3.box-invol
								.box-img-invol
									a(href="#" title="Sẽ ra sao nếu 1 con ốc sên bò qua 1 chiếc dao cạo sắc?")
										img(src="images/lf8.jpg", alt="2 trọng tài bị treo còi hết lượt đi V.League và chờ án phạt tiếp")
								h3
									a(href="#") Anh chàng nước ngoài gây tranh cãi khi hướng dẫn ăn phở: Ăn phải cuộn tròn như mỳ Ý
		include ./footer.jade
		script(src='js/jquery.fancybox.js')
		script(src='js/jquery.fancybox-thumbs.js')
		include ./script.jade
