assets/normal-beauty.jade
doctype html
html
  include ./head.jade 
  body
    include ./header-beauty.jade
    section.hot-news
      .container
        .row
          .col-xs-12.col-sm-12.col-md-12.col-lg-12
            .row
              .col-xs-4.col-sm-12.col-md-4.col-lg-4
                .header-logo
                  a(href='index.html' title='Kul News Trang tin')
                    img(src="images/icon/kul-beauty.svg" alt="Kul News Trang tin")
                    span Kul News Tin tức, giải trí, xã hội
              .col-xs-8.hidden-sm.col-md-8.col-lg-8
                .qc-top
                  img(src="images/icon/qc728.jpg" alt="qctop")
            .view-more-event
              h1 Phái đẹp
              ul.menu-cate
                each val in ['Làm Đẹp', 'Mẹ & Bé', 'Vào bếp', 'Khéo tay','Sống & Yêu', 'Video', 'Cộng Đồng']
                  li
                    a(href="category-life.html")= val
                //- a.show-cate(href="#") Show
                //- a.hide-cate(href="#") Hide
    section.main-cate-beauty
      .container
        .row
          .col-sm-8
            .block-mum-baby
              .title-cate-beauty
                h2.title-cate
                  a.link-beauty(href="#") Mẹ & bé
                .line-cate
              .top-cate-beauty
                .top-cate-small
                  .box-img
                    a(href="#", title="10 sự thật thú vị về trẻ con ngay cả bố mẹ cũng không biết")
                      img(src="images/mum-baby-01.png", alt="10 sự thật thú vị về trẻ con ngay cả bố mẹ cũng không biết")
                  h3.title-main-3
                    a.link-beauty(href="#", title="10 sự thật thú vị về trẻ con ngay cả bố mẹ cũng không biết") 10 sự thật thú vị về trẻ con ngay cả bố mẹ cũng không biết
                .top-cate-small
                  .box-img
                    a(href="#", title="10 sự thật thú vị về trẻ con ngay cả bố mẹ cũng không biết")
                      img(src="images/mum-baby-02.png", alt="10 sự thật thú vị về trẻ con ngay cả bố mẹ cũng không biết")
                  h3.title-main-3 
                    a.link-beauty(href="#", title="10 sự thật thú vị về trẻ con ngay cả bố mẹ cũng không biết") Đây là lý do vì sao bố mẹ cần cho con đi ngủ trước 9 giờ tối
              .media.box-media
                .media-left
                  a(href="#" title="Top thực phẩm giúp tăng cường sức đề kháng cho bé cực hiệu quả")
                    img(src="images/mum-baby-03.png", alt="Bí quyết dưỡng da mặt tự nhiên an toàn với 7 loại nguyên liệu sẵn có")
                .media-body
                  h3.title-main-3
                    a.link-beauty(href="#" title="Top thực phẩm giúp tăng cường sức đề kháng cho bé cực hiệu quả") Top thực phẩm giúp tăng cường sức đề kháng cho bé cực hiệu quả
                  p.content-news Dưỡng da mặt tự nhiên với những nguyên liệu sẵn có đang là xu hướng làm đẹp của chị em phụ nữ. Hãy cùng bài viết khám phá 7 cách dưỡng da thú vị này nhé.
              .media.box-media
                .media-left
                  a(href="#" title="Mách các mẹ cách để trẻ chủ động nói “Mẹ ơi, Con giúp mẹ nhé!”")
                    img(src="images/mum-baby-04.png", alt="Bí quyết dưỡng da mặt tự nhiên an toàn với 7 loại nguyên liệu sẵn có")
                .media-body
                  h3.title-main-3
                    a.link-beauty(href="#" title="Mách các mẹ cách để trẻ chủ động nói “Mẹ ơi, Con giúp mẹ nhé!”") Mách các mẹ cách để trẻ chủ động nói “Mẹ ơi, Con giúp mẹ nhé!”
                  p.content-news Các bậc phụ huynh luôn cố gắng lo chu toàn cho con trẻ từ việc nhỏ đến việc lớn và thường xuyên từ chối sự giúp đỡ của trẻ...
              .media.box-media
                .media-left
                  a(href="#" title="Mách mẹ những quy tắc vàng để nuôi dạy con gái ngoan")
                    img(src="images/mum-baby-05.png", alt="Bí quyết dưỡng da mặt tự nhiên an toàn với 7 loại nguyên liệu sẵn có")
                .media-body
                  h3.title-main-3
                    a.link-beauty(href="#" title="Mách mẹ những quy tắc vàng để nuôi dạy con gái ngoan") Mách mẹ những quy tắc vàng để nuôi dạy con gái ngoan
                  p.content-news Có con gái thật tuyệt nhưng nuôi dạy con gái, đặc biệt là nuôi dưỡng tâm hồn lại là một thử thách không nhỏ đối với cha mẹ.
              .media.box-media
                .media-left
                  a(href="#" title="6 mối nguy hại từ internet có thể hủy hoại cuộc đời con")
                    img(src="images/mum-baby-06.png", alt="Bí quyết dưỡng da mặt tự nhiên an toàn với 7 loại nguyên liệu sẵn có")
                .media-body
                  h3.title-main-3
                    a.link-beauty(href="#" title="6 mối nguy hại từ internet có thể hủy hoại cuộc đời con") 6 mối nguy hại từ internet có thể hủy hoại cuộc đời con
                  p.content-news Sai lầm lớn của nhiều bậc phụ huynh là cho con tiếp cận sớm với internet vì nó sẽ làm ảnh hưởng tới nhân cách của trẻ
              .media.box-media
                .media-left
                  a(href="#" title="Top thực phẩm giúp tăng cường sức đề kháng cho bé cực hiệu quả")
                    img(src="images/mum-baby-07.png", alt="Bí quyết dưỡng da mặt tự nhiên an toàn với 7 loại nguyên liệu sẵn có")
                .media-body
                  h3.title-main-3
                    a.link-beauty(href="#" title="Những câu cha mẹ thường nói làm tổn thương con sâu sắc") Những câu cha mẹ thường nói làm tổn thương con sâu sắc
                  p.content-news Nếu biết rằng những lời nói của mình dù trong lúc vô tình đã làm tổn thương con đến mức này, có lẽ bố mẹ đã không bao giờ đối xử với con như thế
              .media.box-media
                .media-left
                  a(href="#" title="10 thói quen cần bỏ khi dùng điều hòa dễ làm hại trẻ")
                    img(src="images/mum-baby-08.png", alt="Bí quyết dưỡng da mặt tự nhiên an toàn với 7 loại nguyên liệu sẵn có")
                .media-body
                  h3.title-main-3
                    a.link-beauty(href="#" title="10 thói quen cần bỏ khi dùng điều hòa dễ làm hại trẻ") 10 thói quen cần bỏ khi dùng điều hòa dễ làm hại trẻ
                  p.content-news Đối với trẻ mà nói, thói quen sử dụng máy điều hòa không thỏa đáng của bố mẹ không những khiến cơ thể bé khó chịu...
              .media.box-media
                .media-left
                  a(href="#" title="Những lời khuyên đặc biệt hữu ích với mẹ sinh con lần đầu")
                    img(src="images/mum-baby-09.png", alt="Bí quyết dưỡng da mặt tự nhiên an toàn với 7 loại nguyên liệu sẵn có")
                .media-body
                  h3.title-main-3
                    a.link-beauty(href="#" title="Những lời khuyên đặc biệt hữu ích với mẹ sinh con lần đầu") Những lời khuyên đặc biệt hữu ích với mẹ sinh con lần đầu
                  p.content-news Đừng quá lo lắng nhưng cũng đừng tự tin quá mức dù bạn đã đọc không ít tài liệu hướng dẫn chăm con nhỏ. Bởi vì không có đứa trẻ nào giống đứa trẻ nào
              .media.box-media
                .media-left
                  a(href="#" title="8 câu 'thần chú' giúp trẻ vâng lời tức thì mà các mẹ nên biết")
                    img(src="images/mum-baby-10.png", alt="Bí quyết dưỡng da mặt tự nhiên an toàn với 7 loại nguyên liệu sẵn có")
                .media-body
                  h3.title-main-3
                    a.link-beauty(href="#" title="8 câu 'thần chú' giúp trẻ vâng lời tức thì mà các mẹ nên biết") 8 câu 'thần chú' giúp trẻ vâng lời tức thì mà các mẹ nên biết
                  p.content-news Khi dạy con tự lập, một trong những khó khăn lớn nhất của bố mẹ là các con không hợp tác, không nghe lời hay phớt lờ sự “phân công” 
              .media.box-media
                .media-left
                  a(href="#" title="6 sai lầm trầm trọng của mẹ dễ ảnh hưởng đến thai nhi")
                    img(src="images/mum-baby-11.png", alt="Bí quyết dưỡng da mặt tự nhiên an toàn với 7 loại nguyên liệu sẵn có")
                .media-body
                  h3.title-main-3
                    a.link-beauty(href="#" title="6 sai lầm trầm trọng của mẹ dễ ảnh hưởng đến thai nhi") 6 sai lầm trầm trọng của mẹ dễ ảnh hưởng đến thai nhi
                  p.content-news Khi mang thai, phụ nữ nên tránh mặc quần áo quá chật, xịt nước hoa quá nồng, sử dụng mỹ phẩm tràn lan... để khỏi ảnh hưởng đến thai nhi trong bụng mẹ.
              .media.box-media
                .media-left
                  a(href="#" title="Những loại hoa quả không nên ăn nhiều khi cho con bú")
                    img(src="images/mum-baby-12.png", alt="Bí quyết dưỡng da mặt tự nhiên an toàn với 7 loại nguyên liệu sẵn có")
                .media-body
                  h3.title-main-3
                    a.link-beauty(href="#" title="Những loại hoa quả không nên ăn nhiều khi cho con bú") Những loại hoa quả không nên ăn nhiều khi cho con bú
                  p.content-news Nuôi con bằng sữa mẹ là điều thuận theo tự nhiên, sữa mẹ cũng rất lành tính, không hề gây hại cho trẻ sơ sinh, tuy nhiên không phải là không có những nguyên tắc cho bé bú.
              ul.paginations
                li.active
                  a(href="#") 1
                li
                  a(href="#") 2
                li
                  a(href="#") 3
                li
                  a(href="#") ...
                li
                  a(href="#") 99
          .col-sm-4
            .qc-sidebar
              img(src="images/icon/qc3002.jpg" alt="qc300")
            .block-vdhigh-beauty
              .title-cate-beauty
                h2.title-cate
                  a.link-beauty(href="#") Tin nổi bật
                .line-cate
              .media.media-cate-rt
                .media-left
                  a.link-img(href="#" title="Mách các mẹ cách để trẻ chủ động nói “Mẹ ơi, Con giúp mẹ nhé!”")
                    img(src="images/beauty-32.png", alt="Bí quyết dưỡng da mặt tự nhiên an toàn với 7 loại nguyên liệu sẵn có")
                .media-body
                  h3.title-small
                    a.link-title.link-beauty(href="#" title="Mách các mẹ cách để trẻ chủ động nói “Mẹ ơi, Con giúp mẹ nhé!”") Bệnh ung thư phổi gia tăng ở phụ nữ và tiến triển rất nhanh khi còn trẻ
              .media.media-cate-rt
                .media-left
                  a.link-img(href="#" title="Mách các mẹ cách để trẻ chủ động nói “Mẹ ơi, Con giúp mẹ nhé!”")
                    img(src="images/beauty-33.png", alt="Bí quyết dưỡng da mặt tự nhiên an toàn với 7 loại nguyên liệu sẵn có")
                .media-body
                  h3.title-small
                    a.link-title.link-beauty(href="#" title="Mách các mẹ cách để trẻ chủ động nói “Mẹ ơi, Con giúp mẹ nhé!”") Lý do oái oăm biến mông cong thành mông lép chị em cần tránh
              .media.media-cate-rt
                .media-left
                  a.link-img(href="#" title="Mách các mẹ cách để trẻ chủ động nói “Mẹ ơi, Con giúp mẹ nhé!”")
                    img(src="images/beauty-34.png", alt="Bí quyết dưỡng da mặt tự nhiên an toàn với 7 loại nguyên liệu sẵn có")
                .media-body
                  h3.title-small
                    a.link-title.link-beauty(href="#" title="Mách các mẹ cách để trẻ chủ động nói “Mẹ ơi, Con giúp mẹ nhé!”") Ngỡ ngàng với hình xăm hoa lá đẹp tới mức nín thở
              .media.media-cate-rt
                .media-left
                  a.link-img(href="#" title="Mách các mẹ cách để trẻ chủ động nói “Mẹ ơi, Con giúp mẹ nhé!”")
                    img(src="images/beauty-35.png", alt="Bí quyết dưỡng da mặt tự nhiên an toàn với 7 loại nguyên liệu sẵn có")
                .media-body
                  h3.title-small
                    a.link-title.link-beauty(href="#" title="Mách các mẹ cách để trẻ chủ động nói “Mẹ ơi, Con giúp mẹ nhé!”") Những điều bạn tưởng là sexy nhưng với chàng là ác mộng
              .media.media-cate-rt
                .media-left
                  a.link-img(href="#" title="Mách các mẹ cách để trẻ chủ động nói “Mẹ ơi, Con giúp mẹ nhé!”")
                    img(src="images/beauty-32.png", alt="Bí quyết dưỡng da mặt tự nhiên an toàn với 7 loại nguyên liệu sẵn có")
                .media-body
                  h3.title-small
                    a.link-title.link-beauty(href="#" title="Mách các mẹ cách để trẻ chủ động nói “Mẹ ơi, Con giúp mẹ nhé!”") Bệnh ung thư phổi gia tăng ở phụ nữ và tiến triển rất nhanh khi còn trẻ
              .media.media-cate-rt
                .media-left
                  a.link-img(href="#" title="Mách các mẹ cách để trẻ chủ động nói “Mẹ ơi, Con giúp mẹ nhé!”")
                    img(src="images/beauty-33.png", alt="Bí quyết dưỡng da mặt tự nhiên an toàn với 7 loại nguyên liệu sẵn có")
                .media-body
                  h3.title-small
                    a.link-title.link-beauty(href="#" title="Mách các mẹ cách để trẻ chủ động nói “Mẹ ơi, Con giúp mẹ nhé!”") Lý do oái oăm biến mông cong thành mông lép chị em cần tránh
              .media.media-cate-rt
                .media-left
                  a.link-img(href="#" title="Mách các mẹ cách để trẻ chủ động nói “Mẹ ơi, Con giúp mẹ nhé!”")
                    img(src="images/beauty-34.png", alt="Bí quyết dưỡng da mặt tự nhiên an toàn với 7 loại nguyên liệu sẵn có")
                .media-body
                  h3.title-small
                    a.link-title.link-beauty(href="#" title="Mách các mẹ cách để trẻ chủ động nói “Mẹ ơi, Con giúp mẹ nhé!”") Ngỡ ngàng với hình xăm hoa lá đẹp tới mức nín thở
              .media.media-cate-rt
                .media-left
                  a.link-img(href="#" title="Mách các mẹ cách để trẻ chủ động nói “Mẹ ơi, Con giúp mẹ nhé!”")
                    img(src="images/beauty-35.png", alt="Bí quyết dưỡng da mặt tự nhiên an toàn với 7 loại nguyên liệu sẵn có")
                .media-body
                  h3.title-small
                    a.link-title.link-beauty(href="#" title="Mách các mẹ cách để trẻ chủ động nói “Mẹ ơi, Con giúp mẹ nhé!”") Những điều bạn tưởng là sexy nhưng với chàng là ác mộng      
    include ./footer.jade
    include ./script.jade

assets/normal-beauty.html
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Kul News - Tin giải trí, giới trẻ, đời sống xã hội tổng hợp</title>
    <link rel="shortcut icon" href="images/k.ico" type="image/x-icon">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="app.css">
    <script src="js/jquery-2.1.4.min.js"></script>
  </head>
  <body>
    <header class="site-header fixed header">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <ul class="nav navbar-nav nav-upright">
              <li class="active home-index"><a href="index.html">Trang chủ</a></li>
              <li class="dropdown"><a href="video-news.html">Video</a>
                <ul class="sub-menu">
                  <li><a href="video-detail.html">Showbiz</a></li>
                  <li><a href="video-detail.html">MV & Trailer</a></li>
                  <li><a href="video-detail.html">Giải trí</a></li>
                  <li><a href="video-detail.html">Hài</a></li>
                  <li><a href="video-detail.html">Thời sự</a></li>
                </ul>
              </li>
              <li class="dropdown"><a href="category-life.html">Đời Sống</a>
                <ul class="sub-menu">
                  <li><a href="category-life.html">Xã hội</a>
                    <ul class="menu_level_2">
                      <li><a href="#">Tin Trong nước</a></li>
                      <li><a href="#">Tin thế giới</a></li>
                    </ul>
                  </li>
                  <li><a href="category-life.html">Giới trẻ</a></li>
                  <li><a href="category-life.html">Nhân vật</a></li>
                  <li><a href="category-life.html">Khám phá</a></li>
                  <li><a href="category-life.html">Ảnh & Video</a></li>
                  <li><a href="category-life.html">Góc nhìn</a></li>
                </ul>
              </li>
              <li class="dropdown"><a href="category-life.html">Tin thế giới      </a></li>
              <li class="dropdown"><a href="category-life.html">Giải Trí</a>
                <ul class="sub-menu">
                  <li><a href="category-life.html">Sao</a>
                    <ul class="menu_level_2">
                      <li><a href="#">Sao Việt</a></li>
                      <li><a href="#">Sao Quốc tế</a></li>
                    </ul>
                  </li>
                  <li><a href="category-life.html">Âm nhạc</a></li>
                  <li><a href="category-life.html">Điện Ảnh</a>
                    <ul class="menu_level_2">
                      <li><a href="#">Phim Việt</a></li>
                      <li><a href="#">Phim Nước Ngoài</a></li>
                    </ul>
                  </li>
                  <li><a href="category-life.html">TV Show</a></li>
                </ul>
              </li>
              <li class="dropdown"><a href="category-life.html">Thời Trang</a>
                <ul class="sub-menu">
                  <li><a href="category-life.html">Phái Mạnh</a></li>
                  <li><a href="category-life.html">Fashion 360</a></li>
                  <li><a href="category-life.html">Xu Hướng</a>
                    <ul class="menu_level_2">
                      <li><a href="#">Bộ Sưu Tập</a></li>
                    </ul>
                  </li>
                  <li><a href="category-life.html">Thời Trang Sao</a></li>
                  <li><a href="category-life.html">Phụ Kiện</a></li>
                </ul>
              </li>
              <li class="dropdown"><a href="index-game.html">Game</a>
                <ul class="sub-menu">
                  <li><a href="category-life.html">Đánh giá game</a></li>
                  <li><a href="category-life.html">Game trong nước</a></li>
                  <li><a href="category-life.html">Game Nước ngoài</a></li>
                  <li><a href="category-life.html">Esports</a></li>
                  <li><a href="category-life.html">Clip Game Hay</a></li>
                  <li><a href="category-life.html">Gift Code</a></li>
                </ul>
              </li>
              <li class="dropdown"><a href="category-life.html">Thể Thao</a>
                <ul class="sub-menu">
                  <li><a href="category-life.html">Bóng Đá Việt Nam</a></li>
                  <li><a href="category-life.html">Bóng đá thế giới</a></li>
                  <li><a href="category-life.html">Các môn thể thao khác</a></li>
                  <li><a href="category-life.html">AFF Suzuki Cup</a></li>
                </ul>
              </li>
              <li class="dropdown"><a href="category-life.html">Công Nghệ</a>
                <ul class="sub-menu">
                  <li><a href="category-life.html">Tin Công Nghệ</a></li>
                  <li><a href="category-life.html">Review</a></li>
                  <li><a href="category-life.html">Thủ thuật</a></li>
                </ul>
              </li>
              <li class="dropdown"><a href="category-life.html">Sức khỏe</a>
                <ul class="sub-menu">
                  <li><a href="category-life.html">Bạn cần biết</a>
                    <ul class="menu_level_2">
                      <li><a href="#">Khỏe đẹp</a></li>
                      <li><a href="#">Dinh dưỡng</a></li>
                    </ul>
                  </li>
                  <li><a href="category-life.html">Kiến Thức Giới Tính</a></li>
                  <li><a href="category-life.html">Các bệnh thường gặp</a></li>
                </ul>
              </li>
              <li class="dropdown"><a href="index-beauty.html">Phái Đẹp</a>
                <ul class="sub-menu">
                  <li><a href="index-beauty.html">Làm đẹp</a></li>
                  <li><a href="index-beauty.html">Mẹ & Bé</a></li>
                  <li><a href="index-beauty.html">Vào bếp</a></li>
                  <li><a href="index-beauty.html">Khéo tay - DIY</a></li>
                  <li><a href="index-beauty.html">Sống & yêu</a>
                    <ul class="menu_level_2">
                      <li><a href="#">Bói vui</a></li>
                    </ul>
                  </li>
                  <li><a href="index-beauty.html">Video</a></li>
                  <li><a href="index-beauty.html">Cộng Đồng</a></li>
                </ul>
              </li>
              <li class="dropdown"><a href="index-beauty.html">Editor's Choice</a>
                <ul class="sub-menu">
                  <li><a href="index-beauty.html">Top 5</a></li>
                  <li><a href="index-beauty.html">Insprite       </a></li>
                </ul>
              </li>
            </ul>
            <div class="search-box">
              <form class="navbar-form navbar-right">
                <div id="search-form" class="form-group">
                  <div class="input-group">
                    <input type="text" name="search" value placeholder="Nhập nội dung.." autofocus class="form-control"><span class="search-mini">
                      <button id="search-icon" title="Tìm" class="btn-search-mini"></button></span>
                  </div>
                </div><span id="search" class="glyphicon glyphicon-search-show">
                  <button id="search-button" class="search-button"></button></span><span id="close" class="glyphicon glyphicon-remove-hide">
                  <button id="close-search" class="close">            </button></span>
              </form>
            </div>
            <button id="btn-show-menu" type="button" data-toggle="collapse" class="navbar-toggle collapsed"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
          </div>
        </div>
      </div>
    </header>
    <section class="hot-news">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="row">
              <div class="col-xs-4 col-sm-12 col-md-4 col-lg-4">
                <div class="header-logo"><a href="index.html" title="Kul News Trang tin"><img src="images/icon/kul-beauty.svg" alt="Kul News Trang tin"><span>Kul News Tin tức, giải trí, xã hội</span></a></div>
              </div>
              <div class="col-xs-8 hidden-sm col-md-8 col-lg-8">
                <div class="qc-top"><img src="images/icon/qc728.jpg" alt="qctop"></div>
              </div>
            </div>
            <div class="view-more-event">
              <h1>Phái đẹp</h1>
              <ul class="menu-cate">
                <li><a href="category-life.html">Làm Đẹp</a></li>
                <li><a href="category-life.html">Mẹ &amp; Bé</a></li>
                <li><a href="category-life.html">Vào bếp</a></li>
                <li><a href="category-life.html">Khéo tay</a></li>
                <li><a href="category-life.html">Sống &amp; Yêu</a></li>
                <li><a href="category-life.html">Video</a></li>
                <li><a href="category-life.html">Cộng Đồng</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="main-cate-beauty">
      <div class="container">
        <div class="row">
          <div class="col-sm-8">
            <div class="block-mum-baby">
              <div class="title-cate-beauty">
                <h2 class="title-cate"><a href="#" class="link-beauty">Mẹ & bé</a></h2>
                <div class="line-cate"></div>
              </div>
              <div class="top-cate-beauty">
                <div class="top-cate-small">
                  <div class="box-img"><a href="#" title="10 sự thật thú vị về trẻ con ngay cả bố mẹ cũng không biết"><img src="images/mum-baby-01.png" alt="10 sự thật thú vị về trẻ con ngay cả bố mẹ cũng không biết"></a></div>
                  <h3 class="title-main-3"><a href="#" title="10 sự thật thú vị về trẻ con ngay cả bố mẹ cũng không biết" class="link-beauty">10 sự thật thú vị về trẻ con ngay cả bố mẹ cũng không biết</a></h3>
                </div>
                <div class="top-cate-small">
                  <div class="box-img"><a href="#" title="10 sự thật thú vị về trẻ con ngay cả bố mẹ cũng không biết"><img src="images/mum-baby-02.png" alt="10 sự thật thú vị về trẻ con ngay cả bố mẹ cũng không biết"></a></div>
                  <h3 class="title-main-3"> <a href="#" title="10 sự thật thú vị về trẻ con ngay cả bố mẹ cũng không biết" class="link-beauty">Đây là lý do vì sao bố mẹ cần cho con đi ngủ trước 9 giờ tối</a></h3>
                </div>
              </div>
              <div class="media box-media">
                <div class="media-left"><a href="#" title="Top thực phẩm giúp tăng cường sức đề kháng cho bé cực hiệu quả"><img src="images/mum-baby-03.png" alt="Bí quyết dưỡng da mặt tự nhiên an toàn với 7 loại nguyên liệu sẵn có"></a></div>
                <div class="media-body">
                  <h3 class="title-main-3"><a href="#" title="Top thực phẩm giúp tăng cường sức đề kháng cho bé cực hiệu quả" class="link-beauty">Top thực phẩm giúp tăng cường sức đề kháng cho bé cực hiệu quả</a></h3>
                  <p class="content-news">Dưỡng da mặt tự nhiên với những nguyên liệu sẵn có đang là xu hướng làm đẹp của chị em phụ nữ. Hãy cùng bài viết khám phá 7 cách dưỡng da thú vị này nhé.</p>
                </div>
              </div>
              <div class="media box-media">
                <div class="media-left"><a href="#" title="Mách các mẹ cách để trẻ chủ động nói “Mẹ ơi, Con giúp mẹ nhé!”"><img src="images/mum-baby-04.png" alt="Bí quyết dưỡng da mặt tự nhiên an toàn với 7 loại nguyên liệu sẵn có"></a></div>
                <div class="media-body">
                  <h3 class="title-main-3"><a href="#" title="Mách các mẹ cách để trẻ chủ động nói “Mẹ ơi, Con giúp mẹ nhé!”" class="link-beauty">Mách các mẹ cách để trẻ chủ động nói “Mẹ ơi, Con giúp mẹ nhé!”</a></h3>
                  <p class="content-news">Các bậc phụ huynh luôn cố gắng lo chu toàn cho con trẻ từ việc nhỏ đến việc lớn và thường xuyên từ chối sự giúp đỡ của trẻ...</p>
                </div>
              </div>
              <div class="media box-media">
                <div class="media-left"><a href="#" title="Mách mẹ những quy tắc vàng để nuôi dạy con gái ngoan"><img src="images/mum-baby-05.png" alt="Bí quyết dưỡng da mặt tự nhiên an toàn với 7 loại nguyên liệu sẵn có"></a></div>
                <div class="media-body">
                  <h3 class="title-main-3"><a href="#" title="Mách mẹ những quy tắc vàng để nuôi dạy con gái ngoan" class="link-beauty">Mách mẹ những quy tắc vàng để nuôi dạy con gái ngoan</a></h3>
                  <p class="content-news">Có con gái thật tuyệt nhưng nuôi dạy con gái, đặc biệt là nuôi dưỡng tâm hồn lại là một thử thách không nhỏ đối với cha mẹ.</p>
                </div>
              </div>
              <div class="media box-media">
                <div class="media-left"><a href="#" title="6 mối nguy hại từ internet có thể hủy hoại cuộc đời con"><img src="images/mum-baby-06.png" alt="Bí quyết dưỡng da mặt tự nhiên an toàn với 7 loại nguyên liệu sẵn có"></a></div>
                <div class="media-body">
                  <h3 class="title-main-3"><a href="#" title="6 mối nguy hại từ internet có thể hủy hoại cuộc đời con" class="link-beauty">6 mối nguy hại từ internet có thể hủy hoại cuộc đời con</a></h3>
                  <p class="content-news">Sai lầm lớn của nhiều bậc phụ huynh là cho con tiếp cận sớm với internet vì nó sẽ làm ảnh hưởng tới nhân cách của trẻ</p>
                </div>
              </div>
              <div class="media box-media">
                <div class="media-left"><a href="#" title="Top thực phẩm giúp tăng cường sức đề kháng cho bé cực hiệu quả"><img src="images/mum-baby-07.png" alt="Bí quyết dưỡng da mặt tự nhiên an toàn với 7 loại nguyên liệu sẵn có"></a></div>
                <div class="media-body">
                  <h3 class="title-main-3"><a href="#" title="Những câu cha mẹ thường nói làm tổn thương con sâu sắc" class="link-beauty">Những câu cha mẹ thường nói làm tổn thương con sâu sắc</a></h3>
                  <p class="content-news">Nếu biết rằng những lời nói của mình dù trong lúc vô tình đã làm tổn thương con đến mức này, có lẽ bố mẹ đã không bao giờ đối xử với con như thế</p>
                </div>
              </div>
              <div class="media box-media">
                <div class="media-left"><a href="#" title="10 thói quen cần bỏ khi dùng điều hòa dễ làm hại trẻ"><img src="images/mum-baby-08.png" alt="Bí quyết dưỡng da mặt tự nhiên an toàn với 7 loại nguyên liệu sẵn có"></a></div>
                <div class="media-body">
                  <h3 class="title-main-3"><a href="#" title="10 thói quen cần bỏ khi dùng điều hòa dễ làm hại trẻ" class="link-beauty">10 thói quen cần bỏ khi dùng điều hòa dễ làm hại trẻ</a></h3>
                  <p class="content-news">Đối với trẻ mà nói, thói quen sử dụng máy điều hòa không thỏa đáng của bố mẹ không những khiến cơ thể bé khó chịu...</p>
                </div>
              </div>
              <div class="media box-media">
                <div class="media-left"><a href="#" title="Những lời khuyên đặc biệt hữu ích với mẹ sinh con lần đầu"><img src="images/mum-baby-09.png" alt="Bí quyết dưỡng da mặt tự nhiên an toàn với 7 loại nguyên liệu sẵn có"></a></div>
                <div class="media-body">
                  <h3 class="title-main-3"><a href="#" title="Những lời khuyên đặc biệt hữu ích với mẹ sinh con lần đầu" class="link-beauty">Những lời khuyên đặc biệt hữu ích với mẹ sinh con lần đầu</a></h3>
                  <p class="content-news">Đừng quá lo lắng nhưng cũng đừng tự tin quá mức dù bạn đã đọc không ít tài liệu hướng dẫn chăm con nhỏ. Bởi vì không có đứa trẻ nào giống đứa trẻ nào</p>
                </div>
              </div>
              <div class="media box-media">
                <div class="media-left"><a href="#" title="8 câu 'thần chú' giúp trẻ vâng lời tức thì mà các mẹ nên biết"><img src="images/mum-baby-10.png" alt="Bí quyết dưỡng da mặt tự nhiên an toàn với 7 loại nguyên liệu sẵn có"></a></div>
                <div class="media-body">
                  <h3 class="title-main-3"><a href="#" title="8 câu 'thần chú' giúp trẻ vâng lời tức thì mà các mẹ nên biết" class="link-beauty">8 câu 'thần chú' giúp trẻ vâng lời tức thì mà các mẹ nên biết</a></h3>
                  <p class="content-news">Khi dạy con tự lập, một trong những khó khăn lớn nhất của bố mẹ là các con không hợp tác, không nghe lời hay phớt lờ sự “phân công” </p>
                </div>
              </div>
              <div class="media box-media">
                <div class="media-left"><a href="#" title="6 sai lầm trầm trọng của mẹ dễ ảnh hưởng đến thai nhi"><img src="images/mum-baby-11.png" alt="Bí quyết dưỡng da mặt tự nhiên an toàn với 7 loại nguyên liệu sẵn có"></a></div>
                <div class="media-body">
                  <h3 class="title-main-3"><a href="#" title="6 sai lầm trầm trọng của mẹ dễ ảnh hưởng đến thai nhi" class="link-beauty">6 sai lầm trầm trọng của mẹ dễ ảnh hưởng đến thai nhi</a></h3>
                  <p class="content-news">Khi mang thai, phụ nữ nên tránh mặc quần áo quá chật, xịt nước hoa quá nồng, sử dụng mỹ phẩm tràn lan... để khỏi ảnh hưởng đến thai nhi trong bụng mẹ.</p>
                </div>
              </div>
              <div class="media box-media">
                <div class="media-left"><a href="#" title="Những loại hoa quả không nên ăn nhiều khi cho con bú"><img src="images/mum-baby-12.png" alt="Bí quyết dưỡng da mặt tự nhiên an toàn với 7 loại nguyên liệu sẵn có"></a></div>
                <div class="media-body">
                  <h3 class="title-main-3"><a href="#" title="Những loại hoa quả không nên ăn nhiều khi cho con bú" class="link-beauty">Những loại hoa quả không nên ăn nhiều khi cho con bú</a></h3>
                  <p class="content-news">Nuôi con bằng sữa mẹ là điều thuận theo tự nhiên, sữa mẹ cũng rất lành tính, không hề gây hại cho trẻ sơ sinh, tuy nhiên không phải là không có những nguyên tắc cho bé bú.</p>
                </div>
              </div>
              <ul class="paginations">
                <li class="active"><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">...</a></li>
                <li><a href="#">99</a></li>
              </ul>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="qc-sidebar"><img src="images/icon/qc3002.jpg" alt="qc300"></div>
            <div class="block-vdhigh-beauty">
              <div class="title-cate-beauty">
                <h2 class="title-cate"><a href="#" class="link-beauty">Tin nổi bật</a></h2>
                <div class="line-cate"></div>
              </div>
              <div class="media media-cate-rt">
                <div class="media-left"><a href="#" title="Mách các mẹ cách để trẻ chủ động nói “Mẹ ơi, Con giúp mẹ nhé!”" class="link-img"><img src="images/beauty-32.png" alt="Bí quyết dưỡng da mặt tự nhiên an toàn với 7 loại nguyên liệu sẵn có"></a></div>
                <div class="media-body">
                  <h3 class="title-small"><a href="#" title="Mách các mẹ cách để trẻ chủ động nói “Mẹ ơi, Con giúp mẹ nhé!”" class="link-title link-beauty">Bệnh ung thư phổi gia tăng ở phụ nữ và tiến triển rất nhanh khi còn trẻ</a></h3>
                </div>
              </div>
              <div class="media media-cate-rt">
                <div class="media-left"><a href="#" title="Mách các mẹ cách để trẻ chủ động nói “Mẹ ơi, Con giúp mẹ nhé!”" class="link-img"><img src="images/beauty-33.png" alt="Bí quyết dưỡng da mặt tự nhiên an toàn với 7 loại nguyên liệu sẵn có"></a></div>
                <div class="media-body">
                  <h3 class="title-small"><a href="#" title="Mách các mẹ cách để trẻ chủ động nói “Mẹ ơi, Con giúp mẹ nhé!”" class="link-title link-beauty">Lý do oái oăm biến mông cong thành mông lép chị em cần tránh</a></h3>
                </div>
              </div>
              <div class="media media-cate-rt">
                <div class="media-left"><a href="#" title="Mách các mẹ cách để trẻ chủ động nói “Mẹ ơi, Con giúp mẹ nhé!”" class="link-img"><img src="images/beauty-34.png" alt="Bí quyết dưỡng da mặt tự nhiên an toàn với 7 loại nguyên liệu sẵn có"></a></div>
                <div class="media-body">
                  <h3 class="title-small"><a href="#" title="Mách các mẹ cách để trẻ chủ động nói “Mẹ ơi, Con giúp mẹ nhé!”" class="link-title link-beauty">Ngỡ ngàng với hình xăm hoa lá đẹp tới mức nín thở</a></h3>
                </div>
              </div>
              <div class="media media-cate-rt">
                <div class="media-left"><a href="#" title="Mách các mẹ cách để trẻ chủ động nói “Mẹ ơi, Con giúp mẹ nhé!”" class="link-img"><img src="images/beauty-35.png" alt="Bí quyết dưỡng da mặt tự nhiên an toàn với 7 loại nguyên liệu sẵn có"></a></div>
                <div class="media-body">
                  <h3 class="title-small"><a href="#" title="Mách các mẹ cách để trẻ chủ động nói “Mẹ ơi, Con giúp mẹ nhé!”" class="link-title link-beauty">Những điều bạn tưởng là sexy nhưng với chàng là ác mộng</a></h3>
                </div>
              </div>
              <div class="media media-cate-rt">
                <div class="media-left"><a href="#" title="Mách các mẹ cách để trẻ chủ động nói “Mẹ ơi, Con giúp mẹ nhé!”" class="link-img"><img src="images/beauty-32.png" alt="Bí quyết dưỡng da mặt tự nhiên an toàn với 7 loại nguyên liệu sẵn có"></a></div>
                <div class="media-body">
                  <h3 class="title-small"><a href="#" title="Mách các mẹ cách để trẻ chủ động nói “Mẹ ơi, Con giúp mẹ nhé!”" class="link-title link-beauty">Bệnh ung thư phổi gia tăng ở phụ nữ và tiến triển rất nhanh khi còn trẻ</a></h3>
                </div>
              </div>
              <div class="media media-cate-rt">
                <div class="media-left"><a href="#" title="Mách các mẹ cách để trẻ chủ động nói “Mẹ ơi, Con giúp mẹ nhé!”" class="link-img"><img src="images/beauty-33.png" alt="Bí quyết dưỡng da mặt tự nhiên an toàn với 7 loại nguyên liệu sẵn có"></a></div>
                <div class="media-body">
                  <h3 class="title-small"><a href="#" title="Mách các mẹ cách để trẻ chủ động nói “Mẹ ơi, Con giúp mẹ nhé!”" class="link-title link-beauty">Lý do oái oăm biến mông cong thành mông lép chị em cần tránh</a></h3>
                </div>
              </div>
              <div class="media media-cate-rt">
                <div class="media-left"><a href="#" title="Mách các mẹ cách để trẻ chủ động nói “Mẹ ơi, Con giúp mẹ nhé!”" class="link-img"><img src="images/beauty-34.png" alt="Bí quyết dưỡng da mặt tự nhiên an toàn với 7 loại nguyên liệu sẵn có"></a></div>
                <div class="media-body">
                  <h3 class="title-small"><a href="#" title="Mách các mẹ cách để trẻ chủ động nói “Mẹ ơi, Con giúp mẹ nhé!”" class="link-title link-beauty">Ngỡ ngàng với hình xăm hoa lá đẹp tới mức nín thở</a></h3>
                </div>
              </div>
              <div class="media media-cate-rt">
                <div class="media-left"><a href="#" title="Mách các mẹ cách để trẻ chủ động nói “Mẹ ơi, Con giúp mẹ nhé!”" class="link-img"><img src="images/beauty-35.png" alt="Bí quyết dưỡng da mặt tự nhiên an toàn với 7 loại nguyên liệu sẵn có"></a></div>
                <div class="media-body">
                  <h3 class="title-small"><a href="#" title="Mách các mẹ cách để trẻ chủ động nói “Mẹ ơi, Con giúp mẹ nhé!”" class="link-title link-beauty">Những điều bạn tưởng là sexy nhưng với chàng là ác mộng      </a></h3>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <footer class="main-footer">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <div class="row">
              <div class="col-xs-3">
                <h3 class="title-footer">Kul News</h3>
                <p class="info-footer">Giấy phép ICP số : 48/GP – TTĐT 14/05/2015 do Sở Thông Tin và Truyền Thông Tp HCM cấp.</p>
                <p class="info-footer">Chịu trách nhiệm quản lý nội dung: Trang Lan Anh Phương.</p>
              </div>
              <div class="col-xs-3">
                <h3 class="title-footer">Đơn vị chủ quán</h3>
                <p class="info-footer">CÔNG TY CP TRỰC TUYẾN CMN VIỆT NAM</p>
                <p class="info-footer">Địa chỉ: Số 549 Điện Biên Phủ, Phường 3, Quận 3, Tp Hồ Chí Minh.</p>
                <p class="info-footer">Điện thoại: 08 38335466</p>
              </div>
              <div class="col-xs-3">
                <h3 class="title-footer">liên kết</h3>
                <ul class="link-extra">
                  <li><a href="#" class="link-footer">Tuyển dụng</a></li>
                  <li><a href="#" class="link-footer">Liên hệ và Quảng cáo</a></li>
                  <li><a href="#" class="link-footer">Điều khoản sử dụng</a></li>
                  <li><a href="#" class="link-footer">Chính sách về Quyền riêng tư</a></li>
                </ul>
              </div>
              <div class="col-xs-3">
                <h3 class="title-footer">theo dõi kul news</h3>
                <div class="social-footer widget-socialize"><a href="https://www.facebook.com/kulnews" title="facebook" target="_blank" class="icon facebook">
                    <div class="symbol"><span></span></div>
                    <div class="text-footer">
                      <p>1.1M</p>
                      <p>Facebook</p>
                    </div></a><a href="https://plus.google.com/u/0/110833293141518607946/" title="google" target="_blank" class="icon google">
                    <div class="symbol"><span></span></div>
                    <div class="text-footer">
                      <p>60</p>
                      <p>Google+</p>
                    </div></a><a href="https://www.youtube.com/channel/UC-gfYPmX-4hagkRmUF5YxTA" title="youtube" target="_blank" class="icon youtube">
                    <div class="symbol"><span></span></div>
                    <div class="text-footer">
                      <p>33.5k</p>
                      <p>Youtube</p>
                    </div></a><a href="https://www.instagram.com/kulnews/" title="instagram" target="_blank" class="icon instagram">
                    <div class="symbol"><span></span></div>
                    <div class="text-footer">
                      <p>1.6k</p>
                      <p>Instagram</p>
                    </div></a></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <div class="back-top">
      <div class="icon-scrolltop"><span></span></div>
    </div>
    <div class="mobile-change">
      <div class="link-mobile">
        <div class="thumb-logo"><img src="images/icon/news.svg" alt="Kul News logo"></div>
        <p>Bạn cần chuyển qua giao diện Mobile để có được những trải nghiệm tốt hơn trên Kul News</p><a href="index-mb.html">Chuyển sang giao diện Mobile</a>
      </div>
    </div>
    <script src="js/jquery-scrolltofixed.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>
