assets/tuyendung-mb.html
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Kul News - Tin giải trí, giới trẻ, đời sống xã hội tổng hợp</title>
    <link rel="shortcut icon" href="images/k.ico" type="image/x-icon">
    <link rel="stylesheet" href="css/scroll-mobile.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="appmobile.css">
    <script type="text/javascript" src="js/jquery-2.1.4.min.js"></script>
  </head>
  <body>
    <div class="close-menu"></div>
    <header class="site-header fixed">
      <div class="main-navigation container-fluid">
        <div class="row">
          <div class="col-xs-3">
            <div class="navbar-header">
              <button type="button" data-toggle="collapse" class="navbar-toggle"><span class="ico icon-bar"></span><span class="ico icon-bar"></span><span class="ico icon-bar">          </span></button>
            </div>
          </div>
          <div class="col-xs-6">
            <h1 class="logo-top-1"><a href="index-mb.html" title="Tin tức, giải trí, xã hội"> <img src="images/icon/kul-mb.svg" alt="Kul trang tin tức giới trẻ"><span>Kul News Tin tức, giải trí, xã hội</span></a></h1>
          </div>
          <div class="col-xs-3">
            <div class="search-box">
              <form class="navbar-form navbar-right"><span id="search" class="glyphicon glyphicon-search-show">
                  <button id="search-button" class="search-button"></button></span><span id="close" class="glyphicon glyphicon-remove-hide">
                  <button id="close-search" class="close"></button></span></form>
            </div>
          </div>
          <div class="col-xs-12">
            <div class="box-search-input search-group">
              <form id="search-form" class="form-group">
                <div class="input-group">
                  <input type="text" name="search" value placeholder="Nhập nội dung.." autofocus class="form-control"><span class="search-mini">
                    <button type="submit" id="search-icon" title="Tìm" class="btn-search-mini"></button></span>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </header>
    <div class="btn-menu">
      <ul class="nav navbar-nav">
        <li class="icon-video"><a href="video-mb-news.html">Video</a></li>
        <li class="icon-life"><a href="cate-mb-life.html">Đời Sống</a></li>
        <li class="icon-world"><a href="cate-mb-life.html">Thế giới</a></li>
        <li class="icon-ent"><a href="cate-mb-life.html">Giải Trí</a></li>
        <li class="icon-fas"><a href="cate-mb-life.html">Thời Trang</a></li>
        <li class="icon-game"><a href="cate-mb-life.html">Game</a></li>
        <li class="icon-sport"><a href="cate-mb-life.html">Thể Thao</a></li>
        <li class="icon-techuvuv"><a href="cate-mb-life.html">Công Nghệ    </a></li>
        <li class="icon-health"><a href="cate-mb-life.html">Sức khỏe</a></li>
        <li class="icon-laydy"><a href="cate-mb-life.html">Phái Đẹp</a></li>
        <li class="icon-laydy"><a href="cate-mb-life.html">Magazine</a></li>
        <li class="icon-baby"><a href="cate-mb-life.html">Mẹ và bé</a></li>
      </ul>
      <div class="info-page"><span>Kul News</span>
        <p>Giấy phép ICP số : 48/GP – TTĐT 14/05/2015 do Sở Thông Tin và Truyền Thông Tp HCM cấp.</p>
        <p>Chịu trách nhiệm quản lý nội dung: ông Trang Lan Anh Phương.</p>
        <p class="hotline">Hot line: 0987 955 990</p>
      </div>
    </div>
    <section class="hot-news">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-xs-12 col-lg-12">
            <div class="recruit-banner">
              <div class="recruit-logo"><span>Tuyển dụng</span></div>
              <div class="recruit-quote">
                <p>Để đáp ứng nhu cầu mở rộng nội dung và tăng cường hoạt động, Kul.vn hiện đang có nhu cầu tuyển dụng các vị trí sau:</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section id="first" class="recruitment-section first-job">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <div class="recruit-require">
              <h3>Phóng viên giải trí</h3>
              <p class="peoples">Số lượng: 1 người</p>
              <h4>Yêu cầu:</h4>
              <p>Kỹ năng viết tốt (văn phong rõ ràng, mạch lạc, có khả năng xử lý văn bản thô)</p>
              <p>Có kiến thức cơ bản về giới giài trí trong nước và quốc tế</p>
              <p>Có kỹ năng tìm kiếm, tổng hợp thông tin về nghệ sĩ, diễn viên, chương trình truyền hình trong nước và quốc tế</p>
              <p>Nhanh nhẹn, chủ động, có trách nhiệm, có tinh thần học hỏi</p>
            </div>
          </div>
          <div class="col-xs-12">
            <div class="recruit-images"><img src="images/icon/music.png" alt=""></div>
          </div>
        </div>
      </div>
    </section>
    <section id="second" class="recruitment-section second-job">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <div class="recruit-require">
              <h3>Phóng Viên Thể Thao</h3>
              <p class="peoples">Số lượng: 1 người</p>
              <h4>Yêu cầu:</h4>
              <p>Đam mê, yêu thích và hiểu biết về lĩnh vực thể thao, đặc biệt là bóng đá.</p>
              <p>Đã có kinh nghiệm làm việc liên quan đến thể thao.</p>
              <p>Thông thạo tiếng Anh, có khả năng biên dịch, biên tập.</p>
              <p>Năng động, sáng tạo, chịu được áp lực công việc lớn.</p>
              <p>Sử dụng thành thạo vi tính, làm việc tại trụ sở, thu nhập hấp dẫn.</p>
            </div>
          </div>
          <div class="col-xs-12">
            <div class="recruit-images"><img src="images/icon/sportstar.png" alt=""></div>
          </div>
        </div>
      </div>
    </section>
    <section id="third" class="recruitment-section third-job">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <div class="recruit-require">
              <h3>Phóng Viên Phái Đẹp</h3>
              <p class="peoples">Số lượng: 1 người</p>
              <h4>Yêu cầu:</h4>
              <p>Đam mê, yêu thích và hiểu biết về lĩnh vực liên quan tới phái đẹp, phụ nữ: Làm đẹp, thẩm mỹ, sức khỏe, chăm sóc mẹ và bé...</p>
              <p>Thông thạo tiếng Anh, có khả năng biên dịch, biên tập.</p>
              <p>Năng động, sáng tạo, chịu được áp lực công việc lớn.</p>
              <p>Sử dụng thành thạo vi tính, làm việc tại trụ sở, thu nhập hấp dẫn.</p>
            </div>
          </div>
          <div class="col-xs-12">
            <div class="recruit-images"><img src="images/icon/makeuptool.png" alt=""></div>
          </div>
        </div>
      </div>
    </section>
    <section id="fourth" class="recruitment-section fourth-job">
      <div class="container">
        <div class="row equal">
          <div class="col-xs-12">
            <div class="recruit-require">
              <h3>Kul Cộng Tác Viên</h3>
              <p class="peoples">Số lượng: Không giới hạn</p>
              <h4>Yêu cầu:</h4>
              <p>Đam mê, yêu thích, có khả năng viết về tất cả các lĩnh vực đang có trên Kul.vn.</p>
              <p>Sử dụng lưu loát, thành thạo tiếng Việt. Văn phong ổn.</p>
              <p>Có ngôn từ, câu chữ mạch lạc, trong sáng. Có tư duy logic tốt, đam mê, tác phong nhanh nhẹn.</p>
              <p>Các bài viết được gửi trực tiếp vào Email của Ban biên tập, sẽ được kiểm duyệt trước khi đăng.</p>
              <p>Không sao chép, xào từ những trang khác.</p>
              <p>Có tính kiên trì, chịu khó, yêu thích và đam mê nghề báo, am hiểu về các lĩnh vực kể trên và nắm được thị hiếu độc giả.</p>
              <p>Khả năng tư duy, tìm kiếm, học hỏi nhanh, khả năng làm việc nhóm tốt</p>
            </div>
          </div>
          <div class="col-xs-12">
            <div class="recruit-require">
              <h4>Quyền lợi:</h4>
              <p>Thời gian linh hoạt. Kul News chỉ yêu cầu CTV thực hiện đúng yêu cầu, bài viết chất lượng, có tính sáng tạo.</p>
              <p>Mức thu nhập dựa vào khối lượng công việc đã hoàn thành, cụ thể là hưởng nhuận bút theo bài. Nhuận bút được tính theo chất lượng bài viết, loại bài viết  (dịch/ viết, tổng hợp; dạng tin, bài hay bài ảnh...); lượng view (thông qua công cụ đếm)...</p>
              <p>Có cơ hội trở thành nhân viên chính thức, làm việc trong môi trường thân thiện, hoà đồng, chuyên nghiệp.</p>
            </div>
          </div>
          <div class="col-xs-12">
            <div class="recruit-require">
              <h4>Ưu tiên:</h4>
              <p>Ứng viên làm việc và Cộng tác viết bài thuộc các lĩnh vực trên cho các báo mạng, trang thông tin, tạp chí chuyên ngành.</p>
              <p>Sinh viên ngành báo chí có khả năng viết bài thuộc mọi lĩnh vực, ứng viên có hiểu biết lĩnh vực: Truyền thông, thương hiệu, tổ chức sự kiện</p>
              <p>Biết cách sắp xếp ý, trình bày bài viết, có ý tưởng sáng tạo.</p>
            </div>
          </div>
          <div class="col-xs-12">
            <div class="recruit-images"><img src="images/icon/collaborators.png" alt=""></div>
          </div>
        </div>
      </div>
    </section>
    <footer id="fifth" class="recruit-footer">
      <div class="blank-shadow"></div>
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <div class="recruit-send">
              <p class="email-address">CV xin gửi về Email banbientap@kul.vn</p>
              <p class="require-title">Tiêu đề bắt đầu bằng "[ Tuyển dụng Kul.vn ]..."</p>
            </div>
          </div>
          <div class="col-xs-12">
            <div class="recruit-send">
              <p class="phone-call">Số điện thoại liên lạc: 0838335466</p>
              <p class="homepage">Địa chỉ trang chủ chính thức: Kul.vn</p>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <script src="js/jquery-scrolltofixed.js"></script>
    <script src="js/main.js"></script>
    <script src="js/tuyendung.js"></script>
  </body>
</html>

assets/tuyendung-mb.jade
doctype html
html
  include ./head-mb.jade
  body
    include ./header-mb.jade
    section.hot-news
      .container
        .row
          .col-xs-12.col-sm-12.col-xs-12.col-lg-12
            .recruit-banner
              .recruit-logo
                span Tuyển dụng
              .recruit-quote
                p Để đáp ứng nhu cầu mở rộng nội dung và tăng cường hoạt động, Kul.vn hiện đang có nhu cầu tuyển dụng các vị trí sau:
    section.recruitment-section.first-job#first
      .container
        .row
          .col-xs-12
            .recruit-require
              h3 Phóng viên giải trí
              p.peoples Số lượng: 1 người
              h4 Yêu cầu:
              p Kỹ năng viết tốt (văn phong rõ ràng, mạch lạc, có khả năng xử lý văn bản thô)
              p Có kiến thức cơ bản về giới giài trí trong nước và quốc tế
              p Có kỹ năng tìm kiếm, tổng hợp thông tin về nghệ sĩ, diễn viên, chương trình truyền hình trong nước và quốc tế
              p Nhanh nhẹn, chủ động, có trách nhiệm, có tinh thần học hỏi
          .col-xs-12
            .recruit-images
              img(src="images/icon/music.png", alt="")    
    section.recruitment-section.second-job#second
      .container
        .row
          .col-xs-12
            .recruit-require
              h3 Phóng Viên Thể Thao
              p.peoples Số lượng: 1 người
              h4 Yêu cầu:
              p Đam mê, yêu thích và hiểu biết về lĩnh vực thể thao, đặc biệt là bóng đá.
              p Đã có kinh nghiệm làm việc liên quan đến thể thao.
              p Thông thạo tiếng Anh, có khả năng biên dịch, biên tập.
              p Năng động, sáng tạo, chịu được áp lực công việc lớn.
              p Sử dụng thành thạo vi tính, làm việc tại trụ sở, thu nhập hấp dẫn.
          .col-xs-12
            .recruit-images
              img(src="images/icon/sportstar.png", alt="")    
    section.recruitment-section.third-job#third
      .container
        .row
          .col-xs-12
            .recruit-require
              h3 Phóng Viên Phái Đẹp
              p.peoples Số lượng: 1 người
              h4 Yêu cầu:
              p Đam mê, yêu thích và hiểu biết về lĩnh vực liên quan tới phái đẹp, phụ nữ: Làm đẹp, thẩm mỹ, sức khỏe, chăm sóc mẹ và bé...
              p Thông thạo tiếng Anh, có khả năng biên dịch, biên tập.
              p Năng động, sáng tạo, chịu được áp lực công việc lớn.
              p Sử dụng thành thạo vi tính, làm việc tại trụ sở, thu nhập hấp dẫn.
          .col-xs-12
            .recruit-images
              img(src="images/icon/makeuptool.png", alt="")
    section.recruitment-section.fourth-job#fourth
      .container
        .row.equal
          .col-xs-12
            .recruit-require
              h3 Kul Cộng Tác Viên
              p.peoples Số lượng: Không giới hạn
              h4 Yêu cầu:
              p Đam mê, yêu thích, có khả năng viết về tất cả các lĩnh vực đang có trên Kul.vn.
              p Sử dụng lưu loát, thành thạo tiếng Việt. Văn phong ổn.
              p Có ngôn từ, câu chữ mạch lạc, trong sáng. Có tư duy logic tốt, đam mê, tác phong nhanh nhẹn.
              p Các bài viết được gửi trực tiếp vào Email của Ban biên tập, sẽ được kiểm duyệt trước khi đăng.
              p Không sao chép, xào từ những trang khác.
              p Có tính kiên trì, chịu khó, yêu thích và đam mê nghề báo, am hiểu về các lĩnh vực kể trên và nắm được thị hiếu độc giả.
              p Khả năng tư duy, tìm kiếm, học hỏi nhanh, khả năng làm việc nhóm tốt
          .col-xs-12
            .recruit-require
              h4 Quyền lợi:
              p Thời gian linh hoạt. Kul News chỉ yêu cầu CTV thực hiện đúng yêu cầu, bài viết chất lượng, có tính sáng tạo.
              p Mức thu nhập dựa vào khối lượng công việc đã hoàn thành, cụ thể là hưởng nhuận bút theo bài. Nhuận bút được tính theo chất lượng bài viết, loại bài viết  (dịch/ viết, tổng hợp; dạng tin, bài hay bài ảnh...); lượng view (thông qua công cụ đếm)...
              p Có cơ hội trở thành nhân viên chính thức, làm việc trong môi trường thân thiện, hoà đồng, chuyên nghiệp.
          .col-xs-12
            .recruit-require
              h4 Ưu tiên:
              p Ứng viên làm việc và Cộng tác viết bài thuộc các lĩnh vực trên cho các báo mạng, trang thông tin, tạp chí chuyên ngành.
              p Sinh viên ngành báo chí có khả năng viết bài thuộc mọi lĩnh vực, ứng viên có hiểu biết lĩnh vực: Truyền thông, thương hiệu, tổ chức sự kiện
              p Biết cách sắp xếp ý, trình bày bài viết, có ý tưởng sáng tạo.
          .col-xs-12
            .recruit-images
              img(src="images/icon/collaborators.png", alt="")    
    footer.recruit-footer#fifth
      .blank-shadow
      .container
        .row
          .col-xs-12
            .recruit-send
              p.email-address CV xin gửi về Email banbientap@kul.vn
              p.require-title Tiêu đề bắt đầu bằng "[ Tuyển dụng Kul.vn ]..."
          .col-xs-12
            .recruit-send
              p.phone-call Số điện thoại liên lạc: 0838335466
              p.homepage Địa chỉ trang chủ chính thức: Kul.vn
    include ./script.jade
    script(src='js/tuyendung.js')
