assets/tuyendung.jade
doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    title Kul News - Tin giải trí, giới trẻ, đời sống xã hội tổng hợp
    link(rel='shortcut icon', href='images/k.ico', type='image/x-icon')
    link(rel='stylesheet', href='css/bootstrap.min.css')
    link(rel='stylesheet', href='app.css')
    script(src='js/jquery-2.1.4.min.js')
  body
    header.recruit-header.fixed.header
      .back-home
        a(href="#") Kul Trang Chủ
      .container
        .row
          .col-xs-12
            nav
              ul.recuit-menu
                li
                  a.block-1(href="#first") PV Giải trí
                li
                  a.block-2(href="#second") PV Thể Thao
                li
                  a.block-3(href="#third") PV Phái Đẹp
                li
                  a.block-4(href="#fourth") Kul Cộng Tác Viên
                li
                  a.block-5(href="#fifth") Liên Hệ
    section.hot-news
      .container
        .row
          .col-xs-12.col-sm-12.col-xs-12.col-lg-12
            .recruit-banner
              .recruit-logo
                a(href="", title="")
                  img(src="images/icon/kul.svg", alt="")
                  span Tuyển dụng
              .recruit-quote
                p Để đáp ứng nhu cầu mở rộng nội dung và tăng cường hoạt động, Kul.vn hiện đang có nhu cầu tuyển dụng các vị trí sau:
    section.recruitment-section.first-job#first
      .container
        .row
          .col-xs-6
            .recruit-require
              h3 Phóng viên giải trí
              p.peoples Số lượng: 1 người
              h4 Yêu cầu:
              p Kỹ năng viết tốt (văn phong rõ ràng, mạch lạc, có khả năng xử lý văn bản thô)
              p Có kiến thức cơ bản về giới giài trí trong nước và quốc tế
              p Có kỹ năng tìm kiếm, tổng hợp thông tin về nghệ sĩ, diễn viên, chương trình truyền hình trong nước và quốc tế
              p Nhanh nhẹn, chủ động, có trách nhiệm, có tinh thần học hỏi
          .col-xs-6
            .recruit-images
              img(src="images/icon/music.png", alt="")
    section.recruitment-section.second-job#second
      .container
        .row
          .col-xs-6
            .recruit-require
              h3 Phóng Viên Thể Thao
              p.peoples Số lượng: 1 người
              h4 Yêu cầu:
              p Đam mê, yêu thích và hiểu biết về lĩnh vực thể thao, đặc biệt là bóng đá.
              p Đã có kinh nghiệm làm việc liên quan đến thể thao.
              p Thông thạo tiếng Anh, có khả năng biên dịch, biên tập.
              p Năng động, sáng tạo, chịu được áp lực công việc lớn.
              p Sử dụng thành thạo vi tính, làm việc tại trụ sở, thu nhập hấp dẫn.
          .col-xs-6
            .recruit-images
              img(src="images/icon/sportstar.png", alt="")
    section.recruitment-section.third-job#third
      .container
        .row
          .col-xs-6
            .recruit-require
              h3 Phóng Viên Phái Đẹp
              p.peoples Số lượng: 1 người
              h4 Yêu cầu:
              p Đam mê, yêu thích và hiểu biết về lĩnh vực liên quan tới phái đẹp, phụ nữ: Làm đẹp, thẩm mỹ, sức khỏe, chăm sóc mẹ và bé...
              p Thông thạo tiếng Anh, có khả năng biên dịch, biên tập.
              p Năng động, sáng tạo, chịu được áp lực công việc lớn.
              p Sử dụng thành thạo vi tính, làm việc tại trụ sở, thu nhập hấp dẫn.
          .col-xs-6
            .recruit-images
              img(src="images/icon/makeuptool.png", alt="")
    section.recruitment-section.fourth-job#fourth
      .container
        .row.equal
          .col-xs-6
            .recruit-require
              h3 Kul Cộng Tác Viên
              p.peoples Số lượng: Không giới hạn
              h4 Yêu cầu:
              p Đam mê, yêu thích, có khả năng viết về tất cả các lĩnh vực đang có trên Kul.vn.
              p Sử dụng lưu loát, thành thạo tiếng Việt. Văn phong ổn.
              p Có ngôn từ, câu chữ mạch lạc, trong sáng. Có tư duy logic tốt, đam mê, tác phong nhanh nhẹn.
              p Các bài viết được gửi trực tiếp vào Email của Ban biên tập, sẽ được kiểm duyệt trước khi đăng.
              p Không sao chép, xào từ những trang khác.
              p Có tính kiên trì, chịu khó, yêu thích và đam mê nghề báo, am hiểu về các lĩnh vực kể trên và nắm được thị hiếu độc giả.
              p Khả năng tư duy, tìm kiếm, học hỏi nhanh, khả năng làm việc nhóm tốt
          .col-xs-6
            .recruit-images.collaborators
              img(src="images/icon/collaborators.png", alt="")
          .col-xs-6
            .recruit-require
              h4 Quyền lợi:
              p Thời gian linh hoạt. Kul News chỉ yêu cầu CTV thực hiện đúng yêu cầu, bài viết chất lượng, có tính sáng tạo.
              p Mức thu nhập dựa vào khối lượng công việc đã hoàn thành, cụ thể là hưởng nhuận bút theo bài. Nhuận bút được tính theo chất lượng bài viết, loại bài viết  (dịch/ viết, tổng hợp; dạng tin, bài hay bài ảnh...); lượng view (thông qua công cụ đếm)...
              p Có cơ hội trở thành nhân viên chính thức, làm việc trong môi trường thân thiện, hoà đồng, chuyên nghiệp.
          .col-xs-6
            .recruit-require
              h4 Ưu tiên:
              p Ứng viên làm việc và Cộng tác viết bài thuộc các lĩnh vực trên cho các báo mạng, trang thông tin, tạp chí chuyên ngành.
              p Sinh viên ngành báo chí có khả năng viết bài thuộc mọi lĩnh vực, ứng viên có hiểu biết lĩnh vực: Truyền thông, thương hiệu, tổ chức sự kiện
              p Biết cách sắp xếp ý, trình bày bài viết, có ý tưởng sáng tạo.
    footer.recruit-footer#fifth
      .blank-shadow
      .container
        .row
          .col-sm-12.col-md-6
            .recruit-send
              p.email-address CV xin gửi về Email banbientap@kul.vn
              p.require-title Tiêu đề bắt đầu bằng "[ Tuyển dụng Kul.vn ]..."
          .col-sm-12.col-md-6
            .recruit-send
              p.phone-call Số điện thoại liên lạc: 0838335466
              p.homepage Địa chỉ trang chủ chính thức: Kul.vn
    script(src='js/tuyendung.js')

assets/tuyendung.html
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Kul News - Tin giải trí, giới trẻ, đời sống xã hội tổng hợp</title>
    <link rel="shortcut icon" href="images/k.ico" type="image/x-icon">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="app.css">
    <script src="js/jquery-2.1.4.min.js"></script>
  </head>
  <body>
    <header class="recruit-header fixed header">
      <div class="back-home"><a href="#">Kul Trang Chủ</a></div>
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <nav>
              <ul class="recuit-menu">
                <li><a href="#first" class="block-1">PV Giải trí</a></li>
                <li><a href="#second" class="block-2">PV Thể Thao</a></li>
                <li><a href="#third" class="block-3">PV Phái Đẹp</a></li>
                <li><a href="#fourth" class="block-4">Kul Cộng Tác Viên</a></li>
                <li><a href="#fifth" class="block-5">Liên Hệ</a></li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </header>
    <section class="hot-news">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-xs-12 col-lg-12">
            <div class="recruit-banner">
              <div class="recruit-logo"><a href="" title=""><img src="images/icon/kul.svg" alt=""><span>Tuyển dụng</span></a></div>
              <div class="recruit-quote">
                <p>Để đáp ứng nhu cầu mở rộng nội dung và tăng cường hoạt động, Kul.vn hiện đang có nhu cầu tuyển dụng các vị trí sau:</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section id="first" class="recruitment-section first-job">
      <div class="container">
        <div class="row">
          <div class="col-xs-6">
            <div class="recruit-require">
              <h3>Phóng viên giải trí</h3>
              <p class="peoples">Số lượng: 1 người</p>
              <h4>Yêu cầu:</h4>
              <p>Kỹ năng viết tốt (văn phong rõ ràng, mạch lạc, có khả năng xử lý văn bản thô)</p>
              <p>Có kiến thức cơ bản về giới giài trí trong nước và quốc tế</p>
              <p>Có kỹ năng tìm kiếm, tổng hợp thông tin về nghệ sĩ, diễn viên, chương trình truyền hình trong nước và quốc tế</p>
              <p>Nhanh nhẹn, chủ động, có trách nhiệm, có tinh thần học hỏi</p>
            </div>
          </div>
          <div class="col-xs-6">
            <div class="recruit-images"><img src="images/icon/music.png" alt=""></div>
          </div>
        </div>
      </div>
    </section>
    <section id="second" class="recruitment-section second-job">
      <div class="container">
        <div class="row">
          <div class="col-xs-6">
            <div class="recruit-require">
              <h3>Phóng Viên Thể Thao</h3>
              <p class="peoples">Số lượng: 1 người</p>
              <h4>Yêu cầu:</h4>
              <p>Đam mê, yêu thích và hiểu biết về lĩnh vực thể thao, đặc biệt là bóng đá.</p>
              <p>Đã có kinh nghiệm làm việc liên quan đến thể thao.</p>
              <p>Thông thạo tiếng Anh, có khả năng biên dịch, biên tập.</p>
              <p>Năng động, sáng tạo, chịu được áp lực công việc lớn.</p>
              <p>Sử dụng thành thạo vi tính, làm việc tại trụ sở, thu nhập hấp dẫn.</p>
            </div>
          </div>
          <div class="col-xs-6">
            <div class="recruit-images"><img src="images/icon/sportstar.png" alt=""></div>
          </div>
        </div>
      </div>
    </section>
    <section id="third" class="recruitment-section third-job">
      <div class="container">
        <div class="row">
          <div class="col-xs-6">
            <div class="recruit-require">
              <h3>Phóng Viên Phái Đẹp</h3>
              <p class="peoples">Số lượng: 1 người</p>
              <h4>Yêu cầu:</h4>
              <p>Đam mê, yêu thích và hiểu biết về lĩnh vực liên quan tới phái đẹp, phụ nữ: Làm đẹp, thẩm mỹ, sức khỏe, chăm sóc mẹ và bé...</p>
              <p>Thông thạo tiếng Anh, có khả năng biên dịch, biên tập.</p>
              <p>Năng động, sáng tạo, chịu được áp lực công việc lớn.</p>
              <p>Sử dụng thành thạo vi tính, làm việc tại trụ sở, thu nhập hấp dẫn.</p>
            </div>
          </div>
          <div class="col-xs-6">
            <div class="recruit-images"><img src="images/icon/makeuptool.png" alt=""></div>
          </div>
        </div>
      </div>
    </section>
    <section id="fourth" class="recruitment-section fourth-job">
      <div class="container">
        <div class="row equal">
          <div class="col-xs-6">
            <div class="recruit-require">
              <h3>Kul Cộng Tác Viên</h3>
              <p class="peoples">Số lượng: Không giới hạn</p>
              <h4>Yêu cầu:</h4>
              <p>Đam mê, yêu thích, có khả năng viết về tất cả các lĩnh vực đang có trên Kul.vn.</p>
              <p>Sử dụng lưu loát, thành thạo tiếng Việt. Văn phong ổn.</p>
              <p>Có ngôn từ, câu chữ mạch lạc, trong sáng. Có tư duy logic tốt, đam mê, tác phong nhanh nhẹn.</p>
              <p>Các bài viết được gửi trực tiếp vào Email của Ban biên tập, sẽ được kiểm duyệt trước khi đăng.</p>
              <p>Không sao chép, xào từ những trang khác.</p>
              <p>Có tính kiên trì, chịu khó, yêu thích và đam mê nghề báo, am hiểu về các lĩnh vực kể trên và nắm được thị hiếu độc giả.</p>
              <p>Khả năng tư duy, tìm kiếm, học hỏi nhanh, khả năng làm việc nhóm tốt</p>
            </div>
          </div>
          <div class="col-xs-6">
            <div class="recruit-images collaborators"><img src="images/icon/collaborators.png" alt=""></div>
          </div>
          <div class="col-xs-6">
            <div class="recruit-require">
              <h4>Quyền lợi:</h4>
              <p>Thời gian linh hoạt. Kul News chỉ yêu cầu CTV thực hiện đúng yêu cầu, bài viết chất lượng, có tính sáng tạo.</p>
              <p>Mức thu nhập dựa vào khối lượng công việc đã hoàn thành, cụ thể là hưởng nhuận bút theo bài. Nhuận bút được tính theo chất lượng bài viết, loại bài viết  (dịch/ viết, tổng hợp; dạng tin, bài hay bài ảnh...); lượng view (thông qua công cụ đếm)...</p>
              <p>Có cơ hội trở thành nhân viên chính thức, làm việc trong môi trường thân thiện, hoà đồng, chuyên nghiệp.</p>
            </div>
          </div>
          <div class="col-xs-6">
            <div class="recruit-require">
              <h4>Ưu tiên:</h4>
              <p>Ứng viên làm việc và Cộng tác viết bài thuộc các lĩnh vực trên cho các báo mạng, trang thông tin, tạp chí chuyên ngành.</p>
              <p>Sinh viên ngành báo chí có khả năng viết bài thuộc mọi lĩnh vực, ứng viên có hiểu biết lĩnh vực: Truyền thông, thương hiệu, tổ chức sự kiện</p>
              <p>Biết cách sắp xếp ý, trình bày bài viết, có ý tưởng sáng tạo.</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <footer id="fifth" class="recruit-footer">
      <div class="blank-shadow"></div>
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-6">
            <div class="recruit-send">
              <p class="email-address">CV xin gửi về Email banbientap@kul.vn</p>
              <p class="require-title">Tiêu đề bắt đầu bằng "[ Tuyển dụng Kul.vn ]..."</p>
            </div>
          </div>
          <div class="col-sm-12 col-md-6">
            <div class="recruit-send">
              <p class="phone-call">Số điện thoại liên lạc: 0838335466</p>
              <p class="homepage">Địa chỉ trang chủ chính thức: Kul.vn</p>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <script src="js/tuyendung.js"></script>
  </body>
</html>
