assets/video-detail.html
<!DOCTYPE html>
<html lang="vi">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Kul News - Tin giải trí, giới trẻ, đời sống xã hội tổng hợp</title>
    <link rel="shortcut icon" href="images/k.ico" type="image/x-icon">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="app.css">
    <script src="js/jquery-2.1.4.min.js"></script>
  </head>
  <body>
    <header class="site-header fixed header">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <ul class="nav navbar-nav nav-upright">
              <li class="active home-index"><a href="index.html">Trang chủ</a></li>
              <li class="dropdown"><a href="video-news.html">Video</a>
                <ul class="sub-menu">
                  <li><a href="video-detail.html">Showbiz</a></li>
                  <li><a href="video-detail.html">MV & Trailer</a></li>
                  <li><a href="video-detail.html">Giải trí</a></li>
                  <li><a href="video-detail.html">Hài</a></li>
                  <li><a href="video-detail.html">Thời sự</a></li>
                </ul>
              </li>
              <li class="dropdown"><a href="category-life.html">Đời Sống</a>
                <ul class="sub-menu">
                  <li><a href="category-life.html">Xã hội</a>
                    <ul class="menu_level_2">
                      <li><a href="#">Tin Trong nước</a></li>
                      <li><a href="#">Tin thế giới</a></li>
                    </ul>
                  </li>
                  <li><a href="category-life.html">Giới trẻ</a></li>
                  <li><a href="category-life.html">Nhân vật</a></li>
                  <li><a href="category-life.html">Khám phá</a></li>
                  <li><a href="category-life.html">Ảnh & Video</a></li>
                  <li><a href="category-life.html">Góc nhìn</a></li>
                </ul>
              </li>
              <li class="dropdown"><a href="category-life.html">Tin thế giới      </a></li>
              <li class="dropdown"><a href="category-life.html">Giải Trí</a>
                <ul class="sub-menu">
                  <li><a href="category-life.html">Sao</a>
                    <ul class="menu_level_2">
                      <li><a href="#">Sao Việt</a></li>
                      <li><a href="#">Sao Quốc tế</a></li>
                    </ul>
                  </li>
                  <li><a href="category-life.html">Âm nhạc</a></li>
                  <li><a href="category-life.html">Điện Ảnh</a>
                    <ul class="menu_level_2">
                      <li><a href="#">Phim Việt</a></li>
                      <li><a href="#">Phim Nước Ngoài</a></li>
                    </ul>
                  </li>
                  <li><a href="category-life.html">TV Show</a></li>
                </ul>
              </li>
              <li class="dropdown"><a href="category-life.html">Thời Trang</a>
                <ul class="sub-menu">
                  <li><a href="category-life.html">Phái Mạnh</a></li>
                  <li><a href="category-life.html">Fashion 360</a></li>
                  <li><a href="category-life.html">Xu Hướng</a>
                    <ul class="menu_level_2">
                      <li><a href="#">Bộ Sưu Tập</a></li>
                    </ul>
                  </li>
                  <li><a href="category-life.html">Thời Trang Sao</a></li>
                  <li><a href="category-life.html">Phụ Kiện</a></li>
                </ul>
              </li>
              <li class="dropdown"><a href="index-game.html">Game</a>
                <ul class="sub-menu">
                  <li><a href="category-life.html">Đánh giá game</a></li>
                  <li><a href="category-life.html">Game trong nước</a></li>
                  <li><a href="category-life.html">Game Nước ngoài</a></li>
                  <li><a href="category-life.html">Esports</a></li>
                  <li><a href="category-life.html">Clip Game Hay</a></li>
                  <li><a href="category-life.html">Gift Code</a></li>
                </ul>
              </li>
              <li class="dropdown"><a href="category-life.html">Thể Thao</a>
                <ul class="sub-menu">
                  <li><a href="category-life.html">Bóng Đá Việt Nam</a></li>
                  <li><a href="category-life.html">Bóng đá thế giới</a></li>
                  <li><a href="category-life.html">Các môn thể thao khác</a></li>
                  <li><a href="category-life.html">AFF Suzuki Cup</a></li>
                </ul>
              </li>
              <li class="dropdown"><a href="category-life.html">Công Nghệ</a>
                <ul class="sub-menu">
                  <li><a href="category-life.html">Tin Công Nghệ</a></li>
                  <li><a href="category-life.html">Review</a></li>
                  <li><a href="category-life.html">Thủ thuật</a></li>
                </ul>
              </li>
              <li class="dropdown"><a href="category-life.html">Sức khỏe</a>
                <ul class="sub-menu">
                  <li><a href="category-life.html">Bạn cần biết</a>
                    <ul class="menu_level_2">
                      <li><a href="#">Khỏe đẹp</a></li>
                      <li><a href="#">Dinh dưỡng</a></li>
                    </ul>
                  </li>
                  <li><a href="category-life.html">Kiến Thức Giới Tính</a></li>
                  <li><a href="category-life.html">Các bệnh thường gặp</a></li>
                </ul>
              </li>
              <li class="dropdown"><a href="index-beauty.html">Phái Đẹp</a>
                <ul class="sub-menu">
                  <li><a href="index-beauty.html">Làm đẹp</a></li>
                  <li><a href="index-beauty.html">Mẹ & Bé</a></li>
                  <li><a href="index-beauty.html">Vào bếp</a></li>
                  <li><a href="index-beauty.html">Khéo tay - DIY</a></li>
                  <li><a href="index-beauty.html">Sống & yêu</a>
                    <ul class="menu_level_2">
                      <li><a href="#">Bói vui</a></li>
                    </ul>
                  </li>
                  <li><a href="index-beauty.html">Video</a></li>
                  <li><a href="index-beauty.html">Cộng Đồng</a></li>
                </ul>
              </li>
              <li class="dropdown"><a href="index-beauty.html">Editor's Choice</a>
                <ul class="sub-menu">
                  <li><a href="index-beauty.html">Top 5</a></li>
                  <li><a href="index-beauty.html">Insprite        </a></li>
                </ul>
              </li>
            </ul>
            <div class="search-box">
              <form class="navbar-form navbar-right">
                <div id="search-form" class="form-group">
                  <div class="input-group">
                    <input type="text" name="search" value placeholder="Nhập nội dung.." autofocus class="form-control"><span class="search-mini">
                      <button id="search-icon" title="Tìm" class="btn-search-mini"></button></span>
                  </div>
                </div><span id="search" class="glyphicon glyphicon-search-show">
                  <button id="search-button" class="search-button"></button></span><span id="close" class="glyphicon glyphicon-remove-hide">
                  <button id="close-search" class="close">            </button></span>
              </form>
            </div>
            <button id="btn-show-menu" type="button" data-toggle="collapse" class="navbar-toggle collapsed"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
          </div>
        </div>
      </div>
    </header>
    <section class="hot-news">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="row">
              <div class="col-xs-4 col-sm-12 col-md-4 col-lg-4">
                <div class="header-logo"><a href="index.html" title="Kul News Trang tin"><img src="images/icon/moment4.svg" alt="Kul News Trang tin"><span>Kul News Tin tức, giải trí, xã hội</span></a></div>
              </div>
              <div class="col-xs-8 hidden-sm col-md-8 col-lg-8">
                <div class="qc-top"><img src="images/icon/qc728.jpg" alt="qctop"></div>
              </div>
            </div>
            <div class="view-more-event">
              <h3>Video</h3>
              <ul class="menu-cate">
                <li><a href="category-life.html">Showbiz</a></li>
                <li><a href="category-life.html">MV & trailer</a></li>
                <li><a href="category-life.html">Giải trí</a></li>
                <li><a href="category-life.html">Hài</a></li>
                <li class="active"><a href="category-life.html">Thời sự</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="detail-video">
      <div class="container">
        <div class="row">
          <div class="col-xs-8 col-sm-12 col-md-8 col-lg-8">
            <div class="box-video-img">
              <iframe src="https://www.youtube.com/embed/iNJdPyoqt8U" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
            </div>
            <div class="box-video-title">
              <h1 class="title-cate-1">Những điều ít ai biết về lực sĩ cử tạ Lê Văn Công - Người giành tấm HCV Paralympic 2016</h1>
              <p class="time-post-news"><span><i class="icon-calendar"></i>07:52 08/06/2016</span></p>
              <p class="content-news">Anh đã vượt bao gian khó, theo đuổi đam mê rồi cuối cùng phá vỡ hàng loạt kỉ lục thế giới đem về huy chương vàng và vinh quang cho Việt Nam</p>
            </div>
            <div class="cate-video-large fix-margin">
              <h3 class="title-slide-video"> <span><i class="play-circle"></i>Video liên quan</span></h3>
              <div class="list-video">
                <div class="item-video-md">
                  <div class="glass-box-vd"><a href="#"><img src="images/video-12.png" alt="Johnny Trí Nguyễn tự so sánh mình với Ông hoàng nhạc Việt Đàm Vĩnh Hưng"><span class="icon-play-round-48"></span></a></div>
                  <div class="slide-info-small">
                    <h3 class="title-cate-5 list-bottom"><a href="#" title="Johnny Trí Nguyễn tự so sánh mình với Ông hoàng nhạc Việt Đàm Vĩnh Hưng">Johnny Trí Nguyễn tự so sánh mình với "Ông hoàng nhạc Việt" Đàm Vĩnh Hưng</a></h3>
                  </div>
                </div>
                <div class="item-video-md">
                  <div class="glass-box-vd"><a href="#"><img src="images/video-18.png" alt="Johnny Trí Nguyễn tự so sánh mình với Ông hoàng nhạc Việt Đàm Vĩnh Hưng"><span class="icon-play-round-48"></span></a></div>
                  <div class="slide-info-small">
                    <h3 class="title-cate-5 list-bottom"><a href="#" title="Johnny Trí Nguyễn tự so sánh mình với Ông hoàng nhạc Việt Đàm Vĩnh Hưng">Hoàng Yến Chibi siêu đáng yêu khi cover "Em nhớ anh" cạnh tranh với Joyce Chu</a></h3>
                  </div>
                </div>
                <div class="item-video-md">
                  <div class="glass-box-vd"><a href="#"><img src="images/video-20.png" alt="Học tập bí quyết mặc đẹp ngất ngây của phiên dịch viên Dương Mịch"><span class="icon-play-round-48"></span></a></div>
                  <div class="slide-info-small">
                    <h3 class="title-cate-5 list-bottom"><a href="#" title="Johnny Trí Nguyễn tự so sánh mình với Ông hoàng nhạc Việt Đàm Vĩnh Hưng"> Choáng trước hình ảnh Duy Mạnh "phê thuốc" Trong MV mới</a></h3>
                  </div>
                </div>
                <div class="item-video-md">
                  <div class="glass-box-vd"><a href="#"><img src="images/video-21.png" alt="Học tập bí quyết mặc đẹp ngất ngây của phiên dịch viên Dương Mịch"><span class="icon-play-round-48"></span></a></div>
                  <div class="slide-info-small">
                    <h3 class="title-cate-5 list-bottom"><a href="#" title="Johnny Trí Nguyễn tự so sánh mình với Ông hoàng nhạc Việt Đàm Vĩnh Hưng"> Mẹ anh nhắc em - Trung Tự. MV gây bão mạng trong những ngày gần đây</a></h3>
                  </div>
                </div>
                <div class="item-video-md">
                  <div class="glass-box-vd"><a href="#"><img src="images/video-22.png" alt="Johnny Trí Nguyễn tự so sánh mình với Ông hoàng nhạc Việt Đàm Vĩnh Hưng"><span class="icon-play-round-48"></span></a></div>
                  <div class="slide-info-small">
                    <h3 class="title-cate-5 list-bottom"><a href="#" title="Johnny Trí Nguyễn tự so sánh mình với Ông hoàng nhạc Việt Đàm Vĩnh Hưng">Nếu đang thất tình, đừng dại mà nghe bài hát mới nhất này của Mỹ Tâm!</a></h3>
                  </div>
                </div>
                <div class="item-video-md">
                  <div class="glass-box-vd"><a href="#"><img src="images/video-19.png" alt="Học tập bí quyết mặc đẹp ngất ngây của phiên dịch viên Dương Mịch"><span class="icon-play-round-48"></span></a></div>
                  <div class="slide-info-small">
                    <h3 class="title-cate-5 list-bottom"><a href="#" title="Johnny Trí Nguyễn tự so sánh mình với Ông hoàng nhạc Việt Đàm Vĩnh Hưng">Mãn nhãn với phim mới của "soái ca" Song Yoong Ki - "Sói - Hồi Kết</a></h3>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xs-4 hidden-sm col-md-4 col-lg-4 none-left-pad">
            <div class="main-righ">
              <div class="event-stream-news no-padding">
                <h3 class="title-slide-video none-topmargin"><span><i class="play-circle"></i>Video liên quan</span></h3>
                <div class="box-large-vid">
                  <div class="media box-sm-vid">
                    <div class="media-left"><a href="detail-life.html" title="Hoa hậu Thu Thảo diện váy trắng, thoải mái ngồi ăn ốc trên lề đường"> <img src="images/hots3.jpg" alt="Hoa hậu Thu Thảo diện váy trắng, thoải mái ngồi ăn ốc trên lề đường"><span class="icon-play-round-32"></span></a></div>
                    <div class="media-body"><a href="detail-life.html" title="Hoa hậu Thu Thảo diện váy trắng, thoải mái ngồi ăn ốc trên lề đường">Hoa hậu Thu Thảo diện váy trắng, thoải mái ngồi ăn ốc trên lề đường</a><span class="time-up">6:00 20/10/2016</span></div>
                  </div>
                  <div class="media box-sm-vid">
                    <div class="media-left"><a href="detail-life.html" title="Nổi tiếng là trai hư, Justin Bieber đã lấy lòng của bố bạn gái thế nào?"> <img src="images/hots2.jpg" alt="Nổi tiếng là trai hư, Justin Bieber đã lấy lòng của bố bạn gái thế nào?"><span class="icon-play-round-32"></span></a></div>
                    <div class="media-body"><a href="detail-life.html" title="Nổi tiếng là trai hư, Justin Bieber đã lấy lòng của bố bạn gái thế nào?">Nổi tiếng là "trai hư", Justin Bieber đã lấy lòng của bố bạn gái thế nào?</a><span class="time-up">6:00 20/10/2016</span></div>
                  </div>
                  <div class="media box-sm-vid">
                    <div class="media-left"><a href="detail-life.html" title="Không cần ồn ào phô trương, Hoắc Kiến Hoa - Lâm Tâm Như vẫn yêu thương nhau theo cách thật bình dị"> <img src="images/hots1.jpg" alt="Không cần ồn ào phô trương, Hoắc Kiến Hoa - Lâm Tâm Như vẫn yêu thương nhau theo cách thật bình dị"></a></div>
                    <div class="media-body"><a href="detail-life.html" title="Không cần ồn ào phô trương, Hoắc Kiến Hoa - Lâm Tâm Như vẫn yêu thương nhau theo cách thật bình dị">Không cần ồn ào phô trương, Hoắc Kiến Hoa - Lâm Tâm Như...</a><span class="time-up">6:00 20/10/2016</span></div>
                  </div>
                  <div class="media box-sm-vid">
                    <div class="media-left"><a href="detail-life.html" title="Hoa hậu Thu Thảo diện váy trắng, thoải mái ngồi ăn ốc trên lề đường"> <img src="images/hots4.jpg" alt="Hoa hậu Thu Thảo diện váy trắng, thoải mái ngồi ăn ốc trên lề đường"><span class="mini-play"></span></a></div>
                    <div class="media-body"><a href="detail-life.html" title="Hoa hậu Thu Thảo diện váy trắng, thoải mái ngồi ăn ốc trên lề đường">Gấu trúc khổng lồ đã biến mất trong Sách Đỏ</a><span class="time-up">6:00 20/10/2016</span></div>
                  </div>
                  <div class="media box-sm-vid">
                    <div class="media-left"><a href="detail-life.html" title="Nổi tiếng là trai hư, Justin Bieber đã lấy lòng của bố bạn gái thế nào?"> <img src="images/hots5.jpg" alt="Nổi tiếng là trai hư, Justin Bieber đã lấy lòng của bố bạn gái thế nào?"></a></div>
                    <div class="media-body"><a href="detail-life.html" title="Nổi tiếng là trai hư, Justin Bieber đã lấy lòng của bố bạn gái thế nào?">Hà Nội: Xe khách lật trên cao tốc Pháp Vân - Cầu Giẽ, 11 người thương vong</a><span class="time-up">6:00 20/10/2016</span></div>
                  </div>
                  <div class="media box-sm-vid">
                    <div class="media-left"><a href="detail-life.html" title="Không cần ồn ào phô trương, Hoắc Kiến Hoa - Lâm Tâm Như vẫn yêu thương nhau theo cách thật bình dị"> <img src="images/hots6.jpg" alt="Không cần ồn ào phô trương, Hoắc Kiến Hoa - Lâm Tâm Như vẫn yêu thương nhau theo cách thật bình dị"></a></div>
                    <div class="media-body"><a href="detail-life.html" title="Không cần ồn ào phô trương, Hoắc Kiến Hoa - Lâm Tâm Như vẫn yêu thương nhau theo cách thật bình dị">iPhone 7 bất ngờ xuất hiện tại Việt Nam: Bỏ nút home cũ, bỏ jack tai nghe, chống nước</a></div>
                  </div>
                  <div class="media box-sm-vid">
                    <div class="media-left"><a href="detail-life.html" title="Hoa hậu Thu Thảo diện váy trắng, thoải mái ngồi ăn ốc trên lề đường"> <img src="images/hots3.jpg" alt="Hoa hậu Thu Thảo diện váy trắng, thoải mái ngồi ăn ốc trên lề đường"></a></div>
                    <div class="media-body"><a href="detail-life.html" title="Hoa hậu Thu Thảo diện váy trắng, thoải mái ngồi ăn ốc trên lề đường">Hoa hậu Thu Thảo diện váy trắng, thoải mái ngồi ăn ốc trên lề đường</a></div>
                  </div>
                  <div class="media box-sm-vid">
                    <div class="media-left"><a href="detail-life.html" title="Nổi tiếng là trai hư, Justin Bieber đã lấy lòng của bố bạn gái thế nào?"> <img src="images/hots2.jpg" alt="Nổi tiếng là trai hư, Justin Bieber đã lấy lòng của bố bạn gái thế nào?"></a></div>
                    <div class="media-body"><a href="detail-life.html" title="Nổi tiếng là trai hư, Justin Bieber đã lấy lòng của bố bạn gái thế nào?">Nổi tiếng là "trai hư", Justin Bieber đã lấy lòng của bố bạn gái thế nào?    </a></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="padding"></div>
        </div>
      </div>
    </section>
    <footer class="main-footer">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <div class="row">
              <div class="col-xs-3">
                <h3 class="title-footer">Kul News</h3>
                <p class="info-footer">Giấy phép ICP số : 48/GP – TTĐT 14/05/2015 do Sở Thông Tin và Truyền Thông Tp HCM cấp.</p>
                <p class="info-footer">Chịu trách nhiệm quản lý nội dung: Trang Lan Anh Phương.</p>
              </div>
              <div class="col-xs-3">
                <h3 class="title-footer">Đơn vị chủ quán</h3>
                <p class="info-footer">CÔNG TY CP TRỰC TUYẾN CMN VIỆT NAM</p>
                <p class="info-footer">Địa chỉ: Số 549 Điện Biên Phủ, Phường 3, Quận 3, Tp Hồ Chí Minh.</p>
                <p class="info-footer">Điện thoại: 08 38335466</p>
              </div>
              <div class="col-xs-3">
                <h3 class="title-footer">Liên Hệ quảng cáo</h3>
                <p class="info-footer">Mail: Ads@kul.vn</p>
                <p class="info-footer">MS Quỳnh My: 0934 862 882</p>
                <p class="info-footer">Skype: Quynhmy0802</p>
              </div>
              <div class="col-xs-3">
                <h3 class="title-footer">theo dõi kul news</h3>
                <div class="social-footer widget-socialize"><a href="https://www.facebook.com/kulnews" title="facebook" target="_blank" class="icon facebook">
                    <div class="symbol"><span></span></div>
                    <div class="text-footer">
                      <p>1.1M</p>
                      <p>Facebook</p>
                    </div></a><a href="https://plus.google.com/u/0/110833293141518607946/" title="google" target="_blank" class="icon google">
                    <div class="symbol"><span></span></div>
                    <div class="text-footer">
                      <p>60</p>
                      <p>Google+</p>
                    </div></a><a href="https://www.youtube.com/channel/UC-gfYPmX-4hagkRmUF5YxTA" title="youtube" target="_blank" class="icon youtube">
                    <div class="symbol"><span></span></div>
                    <div class="text-footer">
                      <p>33.5k</p>
                      <p>Youtube</p>
                    </div></a><a href="https://www.instagram.com/kulnews/" title="instagram" target="_blank" class="icon instagram">
                    <div class="symbol"><span></span></div>
                    <div class="text-footer">
                      <p>1.6k</p>
                      <p>Instagram</p>
                    </div></a></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <div class="back-top">
      <div class="icon-scrolltop"><span></span></div>
    </div>
    <div class="mobile-change">
      <div class="link-mobile">
        <div class="thumb-logo"><img src="images/icon/news.svg" alt="Kul News logo"></div>
        <p>Bạn cần chuyển qua giao diện Mobile để có được những trải nghiệm tốt hơn trên Kul News</p><a href="index-mb.html">Chuyển sang giao diện Mobile</a>
      </div>
    </div>
    <script src="js/jquery-scrolltofixed.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>

assets/video-detail.jade
doctype html
html(lang="vi")
	include ./head.jade
	body
		//- link(rel='stylesheet', href='css/slick.css')
		//- link(rel='stylesheet', href='css/slick-theme.css')
		//- link(rel='stylesheet', href='css/CustomScrollbar.css')
		include ./header-video.jade
		section.hot-news
			.container
				.row
					.col-xs-12.col-sm-12.col-md-12.col-lg-12
						.row
							.col-xs-4.col-sm-12.col-md-4.col-lg-4
								.header-logo
									a(href='index.html' title='Kul News Trang tin')
										img(src="images/icon/moment4.svg" alt="Kul News Trang tin")
										span Kul News Tin tức, giải trí, xã hội
							.col-xs-8.hidden-sm.col-md-8.col-lg-8
								.qc-top
									img(src="images/icon/qc728.jpg" alt="qctop")
						.view-more-event
							h3 Video
							ul.menu-cate
								li
									a(href="category-life.html") Showbiz
								li
									a(href="category-life.html") MV & trailer
								li
									a(href="category-life.html") Giải trí
								li
									a(href="category-life.html") Hài
								li.active
									a(href="category-life.html") Thời sự
		section.detail-video
			.container
				.row
					.col-xs-8.col-sm-12.col-md-8.col-lg-8
						.box-video-img
							iframe(src="https://www.youtube.com/embed/iNJdPyoqt8U" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen)
						.box-video-title
							h1.title-cate-1 Những điều ít ai biết về lực sĩ cử tạ Lê Văn Công - Người giành tấm HCV Paralympic 2016
							p.time-post-news
								span
									i.icon-calendar
									| 07:52 08/06/2016
							p.content-news Anh đã vượt bao gian khó, theo đuổi đam mê rồi cuối cùng phá vỡ hàng loạt kỉ lục thế giới đem về huy chương vàng và vinh quang cho Việt Nam
						.cate-video-large.fix-margin
							h3.title-slide-video 
								span
									i.play-circle
									| Video liên quan
							.list-video
								.item-video-md
									.glass-box-vd
										a(href="#")
											img(src="images/video-12.png" alt="Johnny Trí Nguyễn tự so sánh mình với Ông hoàng nhạc Việt Đàm Vĩnh Hưng")
											span.icon-play-round-48
									.slide-info-small
										h3.title-cate-5.list-bottom
											a(href="#" title="Johnny Trí Nguyễn tự so sánh mình với Ông hoàng nhạc Việt Đàm Vĩnh Hưng") Johnny Trí Nguyễn tự so sánh mình với "Ông hoàng nhạc Việt" Đàm Vĩnh Hưng
								.item-video-md
									.glass-box-vd
										a(href="#")
											img(src="images/video-18.png" alt="Johnny Trí Nguyễn tự so sánh mình với Ông hoàng nhạc Việt Đàm Vĩnh Hưng")
											span.icon-play-round-48
									.slide-info-small
										h3.title-cate-5.list-bottom
											a(href="#" title="Johnny Trí Nguyễn tự so sánh mình với Ông hoàng nhạc Việt Đàm Vĩnh Hưng") Hoàng Yến Chibi siêu đáng yêu khi cover "Em nhớ anh" cạnh tranh với Joyce Chu
								.item-video-md
									.glass-box-vd
										a(href="#")
											img(src="images/video-20.png" alt="Học tập bí quyết mặc đẹp ngất ngây của phiên dịch viên Dương Mịch")
											span.icon-play-round-48
									.slide-info-small
										h3.title-cate-5.list-bottom
											a(href="#" title="Johnny Trí Nguyễn tự so sánh mình với Ông hoàng nhạc Việt Đàm Vĩnh Hưng")  Choáng trước hình ảnh Duy Mạnh "phê thuốc" Trong MV mới
								.item-video-md
									.glass-box-vd
										a(href="#")
											img(src="images/video-21.png" alt="Học tập bí quyết mặc đẹp ngất ngây của phiên dịch viên Dương Mịch")
											span.icon-play-round-48
									.slide-info-small
										h3.title-cate-5.list-bottom
											a(href="#" title="Johnny Trí Nguyễn tự so sánh mình với Ông hoàng nhạc Việt Đàm Vĩnh Hưng")  Mẹ anh nhắc em - Trung Tự. MV gây bão mạng trong những ngày gần đây
								.item-video-md
									.glass-box-vd
										a(href="#")
											img(src="images/video-22.png" alt="Johnny Trí Nguyễn tự so sánh mình với Ông hoàng nhạc Việt Đàm Vĩnh Hưng")
											span.icon-play-round-48
									.slide-info-small
										h3.title-cate-5.list-bottom
											a(href="#" title="Johnny Trí Nguyễn tự so sánh mình với Ông hoàng nhạc Việt Đàm Vĩnh Hưng") Nếu đang thất tình, đừng dại mà nghe bài hát mới nhất này của Mỹ Tâm!
								.item-video-md
									.glass-box-vd
										a(href="#")
											img(src="images/video-19.png" alt="Học tập bí quyết mặc đẹp ngất ngây của phiên dịch viên Dương Mịch")
											span.icon-play-round-48
									.slide-info-small
										h3.title-cate-5.list-bottom
											a(href="#" title="Johnny Trí Nguyễn tự so sánh mình với Ông hoàng nhạc Việt Đàm Vĩnh Hưng") Mãn nhãn với phim mới của "soái ca" Song Yoong Ki - "Sói - Hồi Kết
								//- .item-video-md
								//- 	.glass-box-vd
								//- 		img(src="images/video-23.png" alt="Học tập bí quyết mặc đẹp ngất ngây của phiên dịch viên Dương Mịch")
								//- 		span.icon-play-round-48
								//- 	.slide-info-small
								//- 		h3.title-cate-5.list-bottom
								//- 			a(href="#" title="Johnny Trí Nguyễn tự so sánh mình với Ông hoàng nhạc Việt Đàm Vĩnh Hưng") Fan bất ngờ với trailer "khủng" của "Bộ Bộ Kinh Tâm" phiên bản Hàn
								//- .item-video-md
								//- 	.glass-box-vd
								//- 		img(src="images/video-24.png" alt="Johnny Trí Nguyễn tự so sánh mình với Ông hoàng nhạc Việt Đàm Vĩnh Hưng")
								//- 		span.icon-play-round-48
								//- 	.slide-info-small
								//- 		h3.title-cate-5.list-bottom
								//- 			a(href="#" title="Johnny Trí Nguyễn tự so sánh mình với Ông hoàng nhạc Việt Đàm Vĩnh Hưng") Bộ phim đặc biệt được chuyển thể từ mối tình đẹp của tổng thống Obama và vợ
					.col-xs-4.hidden-sm.col-md-4.col-lg-4.none-left-pad
						include ./hot-news-video.jade
					.padding
		include ./footer.jade
		include ./script.jade
