assets/video-detail-mb.html
<!DOCTYPE html>
<html lang="vi">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Kul News - Tin giải trí, giới trẻ, đời sống xã hội tổng hợp</title>
    <link rel="shortcut icon" href="images/k.ico" type="image/x-icon">
    <link rel="stylesheet" href="css/scroll-mobile.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="appmobile.css">
    <script type="text/javascript" src="js/jquery-2.1.4.min.js"></script>
  </head>
  <body>
    <div class="close-menu"></div>
    <header class="site-header fixed">
      <div class="main-navigation container-fluid">
        <div class="row">
          <div class="col-xs-3">
            <div class="navbar-header">
              <button type="button" data-toggle="collapse" class="navbar-toggle"><span class="ico icon-bar"></span><span class="ico icon-bar"></span><span class="ico icon-bar">          </span></button>
            </div>
          </div>
          <div class="col-xs-6">
            <h1 class="logo-top-1"><a href="index-mb.html" title="Tin tức, giải trí, xã hội"> <img src="images/icon/kul-mb.svg" alt="Kul trang tin tức giới trẻ"><span>Kul News Tin tức, giải trí, xã hội</span></a></h1>
          </div>
          <div class="col-xs-3">
            <div class="search-box">
              <form class="navbar-form navbar-right"><span id="search" class="glyphicon glyphicon-search-show">
                  <button id="search-button" class="search-button"></button></span><span id="close" class="glyphicon glyphicon-remove-hide">
                  <button id="close-search" class="close"></button></span></form>
            </div>
          </div>
          <div class="col-xs-12">
            <div class="box-search-input search-group">
              <form id="search-form" class="form-group">
                <div class="input-group">
                  <input type="text" name="search" value placeholder="Nhập nội dung.." autofocus class="form-control"><span class="search-mini">
                    <button type="submit" id="search-icon" title="Tìm" class="btn-search-mini"></button></span>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </header>
    <div class="btn-menu">
      <ul class="nav navbar-nav">
        <li class="icon-video"><a href="video-mb-news.html">Video</a></li>
        <li class="icon-life"><a href="cate-mb-life.html">Đời Sống</a></li>
        <li class="icon-ent"><a href="cate-mb-life.html">Tin thế giới</a></li>
        <li class="icon-ent"><a href="cate-mb-life.html">Giải Trí</a></li>
        <li class="icon-fas"><a href="cate-mb-life.html">Thời Trang</a></li>
        <li class="icon-game"><a href="cate-mb-life.html">Game</a></li>
        <li class="icon-sport"><a href="cate-mb-life.html">Thể Thao</a></li>
        <li class="icon-tech"><a href="cate-mb-life.html">Công Nghệ    </a></li>
        <li class="icon-tech"><a href="cate-mb-life.html">Sức khỏe</a></li>
        <li class="icon-laydy"><a href="cate-mb-life.html">Phái Đẹp</a></li>
        <li class="icon-laydy"><a href="cate-mb-life.html">Magazine</a></li>
      </ul>
      <div class="info-page"><span>Kul News</span>
        <p>Giấy phép ICP số : 48/GP – TTĐT 14/05/2015 do Sở Thông Tin và Truyền Thông Tp HCM cấp.</p>
        <p>Chịu trách nhiệm quản lý nội dung: ông Trang Lan Anh Phương.</p>
        <p class="hotline">Hot line: 0987 955 990</p>
      </div>
    </div>
    <section class="video-mb-news page-wrap">
      <div class="container-mobile">
        <div class="box-title-fixed">
          <h2 class="title-main-2 bg-video">Showbiz</h2>
          <button id="btn-sub-of-sub-01" class="btn-sub-of-sub"><span class="glyphicon glyphicon-option-vertical"></span></button>
          <div class="box-btn-sub-cate">
            <ul id="sub-menu-01" class="sub-menu">
              <li><a href="#">Showbiz</a></li>
              <li><a href="#">MV & Trailer</a></li>
              <li><a href="#"> Giải trí</a></li>
              <li><a href="#"> Hài</a></li>
              <li><a href="#"> Thời sự</a></li>
            </ul>
          </div>
          <div class="back-link"><a href="video-mb-news.html"><span></span></a></div>
        </div>
        <div class="box-top-video">
          <div class="fixed-video-top">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/ORfM1q3BWYI" frameborder="0" allowfullscreen></iframe>
          </div>
          <h1 class="title-cate-3"><a href="#">Cò trắng bay rợp trời Ninh Bình trong bom tấn 'Kong: Skull Island'</a></h1>
          <p class="description">Teaser đầu tiên của bom tấn quay tại Việt Nam hé lộ cảnh sắc hoành tráng của Quảng Bình, Hạ Long và tuyến nhân vật chính trong phim.</p>
          <div class="share-likedbutton share-center"><a href="#"><span class="icon-minfb"></span>Chia sẻ Facebook</a></div>
        </div>
        <div class="box-large-video">
          <h2 class="title-lg-video"><a href="#">Video liên quan</a></h2>
          <div class="box-sm-video">
            <div class="item-video"><a href="#" title="Những khoảnh khắc đốn tim triệu fan của Noo Phước Thịnh"></a>
              <div class="box-img-video"><img src="images/video-10.png" alt="Những khoảnh khắc đốn tim triệu fan của Noo Phước Thịnh"><span class="icon-play-48"></span></div>
              <div class="box-title-video">
                <h3 class="title-box-video">Những khoảnh khắc "đốn tim" triệu fan của Noo Phước Thịnh</h3>
              </div>
            </div>
            <div class="item-video"><a href="#" title="Những khoảnh khắc đốn tim triệu fan của Noo Phước Thịnh"></a>
              <div class="box-img-video"><img src="images/video-12.png" alt="Những khoảnh khắc đốn tim triệu fan của Noo Phước Thịnh"><span class="icon-play-48"></span></div>
              <div class="box-title-video">
                <h3 class="title-box-video">Johnny Trí Nguyễn tự so sánh mình với "Ông hoàng nhạc Việt" Đàm Vĩnh Hưng</h3>
              </div>
            </div>
            <div class="item-video"><a href="#" title="Những khoảnh khắc đốn tim triệu fan của Noo Phước Thịnh"></a>
              <div class="box-img-video"><img src="images/video-13.png" alt="Những khoảnh khắc đốn tim triệu fan của Noo Phước Thịnh"><span class="icon-play-48"></span></div>
              <div class="box-title-video">
                <h3 class="title-box-video">Nhóm nhạc "thảm hoạ" HKT sau 11 năm giờ ra sao?</h3>
              </div>
            </div>
            <div class="item-video"><a href="#" title="Những khoảnh khắc đốn tim triệu fan của Noo Phước Thịnh"></a>
              <div class="box-img-video"><img src="images/video-10.png" alt="Những khoảnh khắc đốn tim triệu fan của Noo Phước Thịnh"><span class="icon-play-48"></span></div>
              <div class="box-title-video">
                <h3 class="title-box-video">Những khoảnh khắc "đốn tim" triệu fan của Noo Phước Thịnh</h3>
              </div>
            </div>
            <div class="item-video"><a href="#" title="Những khoảnh khắc đốn tim triệu fan của Noo Phước Thịnh"></a>
              <div class="box-img-video"><img src="images/video-12.png" alt="Những khoảnh khắc đốn tim triệu fan của Noo Phước Thịnh"><span class="icon-play-48"></span></div>
              <div class="box-title-video">
                <h3 class="title-box-video">Johnny Trí Nguyễn tự so sánh mình với "Ông hoàng nhạc Việt" Đàm Vĩnh Hưng</h3>
              </div>
            </div>
            <div class="item-video"><a href="#" title="Những khoảnh khắc đốn tim triệu fan của Noo Phước Thịnh"></a>
              <div class="box-img-video"><img src="images/video-13.png" alt="Những khoảnh khắc đốn tim triệu fan của Noo Phước Thịnh"><span class="icon-play-48"></span></div>
              <div class="box-title-video">
                <h3 class="title-box-video">Nhóm nhạc "thảm hoạ" HKT sau 11 năm giờ ra sao?</h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <footer>
      <div class="container-mobile">
        <div class="main-footer">
          <div class="content-footer">
            <h3 class="title-footer">theo dõi kul news</h3>
            <div class="social-footer widget-socialize"><a href="https://www.facebook.com/kulnews" title="facebook" target="_blank" class="icon facebook">
                <div class="symbol"><span></span></div>
                <div class="text-footer">
                  <p>1.1M</p>
                  <p>Facebook</p>
                </div></a><a href="https://plus.google.com/u/0/110833293141518607946/" title="google" target="_blank" class="icon google">
                <div class="symbol"><span></span></div>
                <div class="text-footer">
                  <p>60</p>
                  <p>Google+</p>
                </div></a><a href="https://www.pinterest.com/" title="youtube" target="_blank" class="icon youtube">
                <div class="symbol"><span></span></div>
                <div class="text-footer">
                  <p>33.5k</p>
                  <p>Youtube</p>
                </div></a><a href="https://www.instagram.com/kulnews/" title="instagram" target="_blank" class="icon instagram">
                <div class="symbol"><span></span></div>
                <div class="text-footer">
                  <p>1.6k</p>
                  <p>Instagram</p>
                </div></a></div>
          </div>
        </div>
      </div>
    </footer>
    <div class="mobile-change">
      <div class="link-mobile">
        <div class="thumb-logo"><img src="images/icon/news.svg" alt="Kul News logo"></div>
        <p>Bạn cần chuyển qua giao diện máy tính để có được những trải nghiệm tốt hơn trên Kul News</p><a href="index.html">Chuyển về giao diện đầy đủ    </a>
      </div>
    </div>
    <script type="text/javascript" src="js/mCustomScrollbar.min.js"></script>
    <script type="text/javascript" src="js/main-mb.js"></script>
  </body>
</html>

assets/video-detail-mb.jade
doctype html
html(lang="vi")
	include ./head-mb.jade
	body
		include ./header-mb.jade
		section.video-mb-news.page-wrap
			.container-mobile
				.box-title-fixed
					h2.title-main-2.bg-video Showbiz
					button.btn-sub-of-sub#btn-sub-of-sub-01
						span.glyphicon.glyphicon-option-vertical
					.box-btn-sub-cate
						ul.sub-menu#sub-menu-01
							li
								a(href="#") Showbiz
							li
								a(href="#") MV & Trailer
							li
								a(href="#")  Giải trí
							li
								a(href="#")  Hài
							li
								a(href="#")  Thời sự
					.back-link
						a(href="video-mb-news.html")
							span
				.box-top-video
					.fixed-video-top
						iframe(width="560" height="315" src="https://www.youtube.com/embed/ORfM1q3BWYI" frameborder="0" allowfullscreen)
					h1.title-cate-3
						a(href="#") Cò trắng bay rợp trời Ninh Bình trong bom tấn 'Kong: Skull Island'
					p.description Teaser đầu tiên của bom tấn quay tại Việt Nam hé lộ cảnh sắc hoành tráng của Quảng Bình, Hạ Long và tuyến nhân vật chính trong phim.
					.share-likedbutton.share-center
						a(href="#")
							span.icon-minfb
							| Chia sẻ Facebook
					//- .icon-social-detail
					//- 	a(href="https://www.facebook.com/kulnews" title="facebook" class="icon facebook" target="_blank")
					//- 		span
					//- 	a(href="https://plus.google.com/u/0/110833293141518607946/" title="google" class="icon google" target="_blank")
					//- 		span
					//- 	a(href="#" title="envelope" class="icon envelope" target="_blank")
					//- 		span
					//- 	a(href="https://www.google.com" title="pinterest" class="icon pinterest" target="_blank")
					//- 		span
					//- 	a(href="#" title="instagram" class="icon twitter" target="_blank")
					//- 		span
					//- 	iframe(src="https://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&width=111&layout=button&action=like&show_faces=true&share=true&height=65&appId" width="111" height="65" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true")
				.box-large-video
					h2.title-lg-video
						a(href="#") Video liên quan
					.box-sm-video
						.item-video
							a(href="#" title="Những khoảnh khắc đốn tim triệu fan của Noo Phước Thịnh")
							.box-img-video
								img(src="images/video-10.png", alt="Những khoảnh khắc đốn tim triệu fan của Noo Phước Thịnh")
								span.icon-play-48
							.box-title-video
								h3.title-box-video Những khoảnh khắc "đốn tim" triệu fan của Noo Phước Thịnh
						.item-video
							a(href="#" title="Những khoảnh khắc đốn tim triệu fan của Noo Phước Thịnh")
							.box-img-video
								img(src="images/video-12.png", alt="Những khoảnh khắc đốn tim triệu fan của Noo Phước Thịnh")
								span.icon-play-48
							.box-title-video
								h3.title-box-video Johnny Trí Nguyễn tự so sánh mình với "Ông hoàng nhạc Việt" Đàm Vĩnh Hưng
						.item-video
							a(href="#" title="Những khoảnh khắc đốn tim triệu fan của Noo Phước Thịnh")
							.box-img-video
								img(src="images/video-13.png", alt="Những khoảnh khắc đốn tim triệu fan của Noo Phước Thịnh")
								span.icon-play-48
							.box-title-video
								h3.title-box-video Nhóm nhạc "thảm hoạ" HKT sau 11 năm giờ ra sao?
						.item-video
							a(href="#" title="Những khoảnh khắc đốn tim triệu fan của Noo Phước Thịnh")
							.box-img-video
								img(src="images/video-10.png", alt="Những khoảnh khắc đốn tim triệu fan của Noo Phước Thịnh")
								span.icon-play-48
							.box-title-video
								h3.title-box-video Những khoảnh khắc "đốn tim" triệu fan của Noo Phước Thịnh
						.item-video
							a(href="#" title="Những khoảnh khắc đốn tim triệu fan của Noo Phước Thịnh")
							.box-img-video
								img(src="images/video-12.png", alt="Những khoảnh khắc đốn tim triệu fan của Noo Phước Thịnh")
								span.icon-play-48
							.box-title-video
								h3.title-box-video Johnny Trí Nguyễn tự so sánh mình với "Ông hoàng nhạc Việt" Đàm Vĩnh Hưng
						.item-video
							a(href="#" title="Những khoảnh khắc đốn tim triệu fan của Noo Phước Thịnh")
							.box-img-video
								img(src="images/video-13.png", alt="Những khoảnh khắc đốn tim triệu fan của Noo Phước Thịnh")
								span.icon-play-48
							.box-title-video
								h3.title-box-video Nhóm nhạc "thảm hoạ" HKT sau 11 năm giờ ra sao?
		include ./footer-mb.jade
		include ./script-mb.jade
