assets/video-cate-mb.jade
doctype html
html(lang="vi")
	include ./head-mb.jade
	body
		include ./header-mb.jade
		section.video-mb-news.page-wrap
			.container-mobile
				.box-title-fixed
					h1.title-main-2.bg-video Showbiz
					button.btn-sub-of-sub#btn-sub-of-sub-01
						span.glyphicon.glyphicon-option-vertical
					.box-btn-sub-cate
						ul.sub-menu#sub-menu-01
							li
								a(href="#") Showbiz
							li
								a(href="#") MV & Trailer
							li
								a(href="#")  Giải trí
							li
								a(href="#")  Hài
							li
								a(href="#")  Thời sự
					.back-link
						a(href="video-mb-news.html")
							span
				//- .box-top-video
				//- 	.row.fixed-video-top
				//- 		iframe(src="https://www.youtube.com/embed/YAbI4w95cTE" frameborder="0" allowfullscreen)
				//- 	h3.title-cate-3
				//- 		a(href="#") Cò trắng bay rợp trời Ninh Bình trong bom tấn 'Kong: Skull Island'
				//- 	p.description Teaser đầu tiên của bom tấn quay tại Việt Nam hé lộ cảnh sắc hoành tráng của Quảng Bình, Hạ Long và tuyến nhân vật chính trong phim.
				//- 	.icon-social-detail
				//- 		a(href="https://www.facebook.com/kulnews" title="facebook" class="icon facebook" target="_blank")
				//- 			span
				//- 		a(href="https://plus.google.com/u/0/110833293141518607946/" title="google" class="icon google" target="_blank")
				//- 			span
				//- 		a(href="#" title="envelope" class="icon envelope" target="_blank")
				//- 			span
				//- 		a(href="https://www.google.com" title="pinterest" class="icon pinterest" target="_blank")
				//- 			span
				//- 		a(href="#" title="instagram" class="icon twitter" target="_blank")
				//- 			span
				//- 		iframe(src="https://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&width=111&layout=button&action=like&show_faces=true&share=true&height=65&appId" width="111" height="65" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true")
				//- 	.post-comment
				//- 		.comment-total
				//- 			h3 Bình luận
				//- 		.comment-area
				//- 			.avat-image
				//- 				img(src="images/bava2.jpg" alt="avata")
				//- 			form.comment-boxarea
				//- 				.area-comment
				//- 					textarea(placeholder="Bình luận của bạn...")
				//- 				.buttom-comment
				//- 					button.button-submit(type="submit") Đăng
				//- 		.comment-section
				//- 			.avacm-img
				//- 				img(src="images/bava2.jpg" alt="avata")
				//- 			.comment-boxarea
				//- 				span.comment-account Nguyen Minh Tuan 
				//- 				p.comment-contain Hoành tráng quá, nhất định phải đến rạp xem bộ phim này
				//- 				.cmtsecont
				//- 					span Trả lời
				//- 					span.alt-tab -
				//- 					span.icon-like
				//- 					span 346 Thích
				//- 			.comment-second
				//- 				.section-second
				//- 					.avacm-img
				//- 						img(src="images/bava3.jpg" alt="avata")
				//- 				.comment-boxarea
				//- 					span.comment-account Quang Bùi 
				//- 					p.comment-contain Hình như thiếu mấy con khủng long với mấy con quái vật nhỏ nữa bác :D
				//- 					.cmtsecont
				//- 						span.icon-like
				//- 						span 6 Thích
				//- 			.comment-second
				//- 				.section-second
				//- 					.avacm-img
				//- 						img(src="images/ava2.jpg" alt="avata")
				//- 				.comment-boxarea
				//- 					span.comment-account đỗ thành
				//- 					p.comment-contain yes hoàng tráng thiệt , xếp gạch hóng bản cam hay mini HD !!
				//- 					.cmtsecont
				//- 						span.icon-like
				//- 						span 2 Thích
				//- 			.comment-second
				//- 				.section-second
				//- 					.avacm-img
				//- 						img(src="images/ava1.jpg" alt="avata")
				//- 				.comment-boxarea
				//- 					span.comment-account Vtuyen
				//- 					p.comment-contain Rất tuyệt vời. Rất hoành tráng. Ngày rạp khởi chiếu bộ phim này ko thể bỏ qua được.
				//- 					.cmtsecont
				//- 						span.icon-like
				//- 						span Thích
				//- 			.loadMore-second Hiển thị thêm bình luận
				//- 				span.caret
				//- 		.comment-section
				//- 			.avacm-img
				//- 				img(src="images/avagirly.jpg" alt="avata")
				//- 			.comment-boxarea
				//- 				span.comment-account vietnam discover
				//- 				p.comment-contain Việt nam thô sơ thế, nhưng với điện anh Hollywood thì thật hùng vĩ và tự hào, quyết tâm dành tiền từ bây giờ để xem phim bom tấn
				//- 				.cmtsecont
				//- 					span Trả lời
				//- 					span.alt-tab -
				//- 					span.icon-like
				//- 					span 12 Thích
				//- 		.comment-section
				//- 			.avacm-img
				//- 				img(src="images/bava1.jpg" alt="avata")
				//- 			.comment-boxarea
				//- 				span.comment-account dinh hai pham
				//- 				p.comment-contain Vé xem phim rẻ mà bạn, nếu ít tiền có thể mua loại vé tầm 50k ở những giờ vắng khách, quá rẻ cho một sản phẩm giải trí hoành tráng.
				//- 				.cmtsecont
				//- 					span Trả lời
				//- 					span.alt-tab -
				//- 					span.icon-like
				//- 					span 3 Thích
				//- 		.loadMore Tải thêm bình luận
				.box-large-video
					//- h2.title-lg-video
					//- 	a(href="#") Showbiz
					.box-sm-video
						.item-video
							a(href="#" title="Những khoảnh khắc đốn tim triệu fan của Noo Phước Thịnh")
							.box-img-video
								img(src="images/video-10.png", alt="Những khoảnh khắc đốn tim triệu fan của Noo Phước Thịnh")
								span.icon-play-48
							.box-title-video
								h3.title-box-video Những khoảnh khắc "đốn tim" triệu fan của Noo Phước Thịnh
						.item-video
							a(href="#" title="Những khoảnh khắc đốn tim triệu fan của Noo Phước Thịnh")
							.box-img-video
								img(src="images/video-12.png", alt="Những khoảnh khắc đốn tim triệu fan của Noo Phước Thịnh")
								span.icon-play-48
							.box-title-video
								h3.title-box-video Johnny Trí Nguyễn tự so sánh mình với "Ông hoàng nhạc Việt" Đàm Vĩnh Hưng
						.item-video
							a(href="#" title="Những khoảnh khắc đốn tim triệu fan của Noo Phước Thịnh")
							.box-img-video
								img(src="images/video-13.png", alt="Những khoảnh khắc đốn tim triệu fan của Noo Phước Thịnh")
								span.icon-play-48
							.box-title-video
								h3.title-box-video Nhóm nhạc "thảm hoạ" HKT sau 11 năm giờ ra sao?
						.item-video
							a(href="#" title="Những khoảnh khắc đốn tim triệu fan của Noo Phước Thịnh")
							.box-img-video
								img(src="images/video-10.png", alt="Những khoảnh khắc đốn tim triệu fan của Noo Phước Thịnh")
								span.icon-play-48
							.box-title-video
								h3.title-box-video Những khoảnh khắc "đốn tim" triệu fan của Noo Phước Thịnh
						.item-video
							a(href="#" title="Những khoảnh khắc đốn tim triệu fan của Noo Phước Thịnh")
							.box-img-video
								img(src="images/video-12.png", alt="Những khoảnh khắc đốn tim triệu fan của Noo Phước Thịnh")
								span.icon-play-48
							.box-title-video
								h3.title-box-video Johnny Trí Nguyễn tự so sánh mình với "Ông hoàng nhạc Việt" Đàm Vĩnh Hưng
						.item-video
							a(href="#" title="Những khoảnh khắc đốn tim triệu fan của Noo Phước Thịnh")
							.box-img-video
								img(src="images/video-13.png", alt="Những khoảnh khắc đốn tim triệu fan của Noo Phước Thịnh")
								span.icon-play-48
							.box-title-video
								h3.title-box-video Nhóm nhạc "thảm hoạ" HKT sau 11 năm giờ ra sao?
						.item-video
							a(href="#" title="Những khoảnh khắc đốn tim triệu fan của Noo Phước Thịnh")
							.box-img-video
								img(src="images/video-15.png", alt="Những khoảnh khắc đốn tim triệu fan của Noo Phước Thịnh")
								span.icon-play-48
							.box-title-video
								h3.title-box-video Bất ngờ khi Jun 365 nói tiếng Nhật cực chuẩn tại tour lưu diễn
						.item-video
							a(href="#" title="Những khoảnh khắc đốn tim triệu fan của Noo Phước Thịnh")
							.box-img-video
								img(src="images/video-16.png", alt="Những khoảnh khắc đốn tim triệu fan của Noo Phước Thịnh")
								span.icon-play-48
							.box-title-video
								h3.title-box-video "Đại Úy" Song Joong Ki tái hiện màn hất điện thoại khiến 4500 fans hò hét
						.item-video
							a(href="#" title="Những khoảnh khắc đốn tim triệu fan của Noo Phước Thịnh")
							.box-img-video
								img(src="images/video-17.png", alt="Những khoảnh khắc đốn tim triệu fan của Noo Phước Thịnh")
								span.icon-play-48
							.box-title-video
								h3.title-box-video Cao Thái Sơn dốc hết tài sản làm MV "khủng" nhất sự nghiệp
						.item-video
							a(href="#" title="Những khoảnh khắc đốn tim triệu fan của Noo Phước Thịnh")
							.box-img-video
								img(src="images/video-15.png", alt="Những khoảnh khắc đốn tim triệu fan của Noo Phước Thịnh")
								span.icon-play-48
							.box-title-video
								h3.title-box-video Bất ngờ khi Jun 365 nói tiếng Nhật cực chuẩn tại tour lưu diễn
						.item-video
							a(href="#" title="Những khoảnh khắc đốn tim triệu fan của Noo Phước Thịnh")
							.box-img-video
								img(src="images/video-16.png", alt="Những khoảnh khắc đốn tim triệu fan của Noo Phước Thịnh")
								span.icon-play-48
							.box-title-video
								h3.title-box-video "Đại Úy" Song Joong Ki tái hiện màn hất điện thoại khiến 4500 fans hò hét
						.item-video
							a(href="#" title="Những khoảnh khắc đốn tim triệu fan của Noo Phước Thịnh")
							.box-img-video
								img(src="images/video-17.png", alt="Những khoảnh khắc đốn tim triệu fan của Noo Phước Thịnh")
								span.icon-play-48
							.box-title-video
								h3.title-box-video Cao Thái Sơn dốc hết tài sản làm MV "khủng" nhất sự nghiệp
					ul.paginations
						li.active
							a(href="#") 1
						li
							a(href="#") 2
						li
							a(href="#") 3
						li
							a(href="#") ...
						li
							a(href="#") 99
		include ./footer-mb.jade
		include ./script-mb.jade

assets/video-cate-mb.html
<!DOCTYPE html>
<html lang="vi">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Kul News - Tin giải trí, giới trẻ, đời sống xã hội tổng hợp</title>
    <link rel="shortcut icon" href="images/k.ico" type="image/x-icon">
    <link rel="stylesheet" href="css/scroll-mobile.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="appmobile.css">
    <script type="text/javascript" src="js/jquery-2.1.4.min.js"></script>
  </head>
  <body>
    <div class="close-menu"></div>
    <header class="site-header fixed">
      <div class="main-navigation container-fluid">
        <div class="row">
          <div class="col-xs-3">
            <div class="navbar-header">
              <button type="button" data-toggle="collapse" class="navbar-toggle"><span class="ico icon-bar"></span><span class="ico icon-bar"></span><span class="ico icon-bar">          </span></button>
            </div>
          </div>
          <div class="col-xs-6">
            <h1 class="logo-top-1"><a href="index-mb.html" title="Tin tức, giải trí, xã hội"> <img src="images/icon/kul-mb.svg" alt="Kul trang tin tức giới trẻ"><span>Kul News Tin tức, giải trí, xã hội</span></a></h1>
          </div>
          <div class="col-xs-3">
            <div class="search-box">
              <form class="navbar-form navbar-right"><span id="search" class="glyphicon glyphicon-search-show">
                  <button id="search-button" class="search-button"></button></span><span id="close" class="glyphicon glyphicon-remove-hide">
                  <button id="close-search" class="close"></button></span></form>
            </div>
          </div>
          <div class="col-xs-12">
            <div class="box-search-input search-group">
              <form id="search-form" class="form-group">
                <div class="input-group">
                  <input type="text" name="search" value placeholder="Nhập nội dung.." autofocus class="form-control"><span class="search-mini">
                    <button type="submit" id="search-icon" title="Tìm" class="btn-search-mini"></button></span>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </header>
    <div class="btn-menu">
      <ul class="nav navbar-nav">
        <li class="icon-life"><a href="cate-mb-life.html">Đời Sống</a></li>
        <li class="icon-ent"><a href="cate-mb-life.html">Giải Trí</a></li>
        <li class="icon-tv"><a href="cate-mb-life.html">TV Shows</a></li>
        <li class="active icon-cine"><a href="cate-mb-life.html">Điện Ảnh</a></li>
        <li class="icon-fas"><a href="cate-mb-life.html">Thời Trang</a></li>
        <li class="icon-laydy"><a href="cate-mb-life.html">Phái Đẹp</a></li>
        <li class="icon-tech"><a href="cate-mb-life.html">Công Nghệ</a></li>
        <li class="icon-game"><a href="cate-mb-life.html">Game  </a></li>
        <li class="icon-car"><a href="cate-mb-life.html">Xe</a></li>
        <li class="icon-sport"><a href="cate-mb-life.html">Thể Thao</a></li>
        <li class="icon-video"><a href="video-mb-news.html">Video</a></li>
      </ul>
      <div class="info-page"><span>Kul News</span>
        <p>Giấy phép ICP số : 48/GP – TTĐT 14/05/2015 do Sở Thông Tin và Truyền Thông Tp HCM cấp.</p>
        <p>Chịu trách nhiệm quản lý nội dung: ông Trang Lan Anh Phương.</p>
        <p class="hotline">Hot line: 0987 955 990</p>
      </div>
    </div>
    <section class="video-mb-news page-wrap">
      <div class="container-mobile">
        <div class="box-title-fixed">
          <h1 class="title-main-2 bg-video">Showbiz</h1>
          <button id="btn-sub-of-sub-01" class="btn-sub-of-sub"><span class="glyphicon glyphicon-option-vertical"></span></button>
          <div class="box-btn-sub-cate">
            <ul id="sub-menu-01" class="sub-menu">
              <li><a href="#">Showbiz</a></li>
              <li><a href="#">MV & Trailer</a></li>
              <li><a href="#"> Giải trí</a></li>
              <li><a href="#"> Hài</a></li>
              <li><a href="#"> Thời sự</a></li>
            </ul>
          </div>
          <div class="back-link"><a href="video-mb-news.html"><span></span></a></div>
        </div>
        <div class="box-large-video">
          <div class="box-sm-video">
            <div class="item-video"><a href="#" title="Những khoảnh khắc đốn tim triệu fan của Noo Phước Thịnh"></a>
              <div class="box-img-video"><img src="images/video-10.png" alt="Những khoảnh khắc đốn tim triệu fan của Noo Phước Thịnh"><span class="icon-play-48"></span></div>
              <div class="box-title-video">
                <h3 class="title-box-video">Những khoảnh khắc "đốn tim" triệu fan của Noo Phước Thịnh</h3>
              </div>
            </div>
            <div class="item-video"><a href="#" title="Những khoảnh khắc đốn tim triệu fan của Noo Phước Thịnh"></a>
              <div class="box-img-video"><img src="images/video-12.png" alt="Những khoảnh khắc đốn tim triệu fan của Noo Phước Thịnh"><span class="icon-play-48"></span></div>
              <div class="box-title-video">
                <h3 class="title-box-video">Johnny Trí Nguyễn tự so sánh mình với "Ông hoàng nhạc Việt" Đàm Vĩnh Hưng</h3>
              </div>
            </div>
            <div class="item-video"><a href="#" title="Những khoảnh khắc đốn tim triệu fan của Noo Phước Thịnh"></a>
              <div class="box-img-video"><img src="images/video-13.png" alt="Những khoảnh khắc đốn tim triệu fan của Noo Phước Thịnh"><span class="icon-play-48"></span></div>
              <div class="box-title-video">
                <h3 class="title-box-video">Nhóm nhạc "thảm hoạ" HKT sau 11 năm giờ ra sao?</h3>
              </div>
            </div>
            <div class="item-video"><a href="#" title="Những khoảnh khắc đốn tim triệu fan của Noo Phước Thịnh"></a>
              <div class="box-img-video"><img src="images/video-10.png" alt="Những khoảnh khắc đốn tim triệu fan của Noo Phước Thịnh"><span class="icon-play-48"></span></div>
              <div class="box-title-video">
                <h3 class="title-box-video">Những khoảnh khắc "đốn tim" triệu fan của Noo Phước Thịnh</h3>
              </div>
            </div>
            <div class="item-video"><a href="#" title="Những khoảnh khắc đốn tim triệu fan của Noo Phước Thịnh"></a>
              <div class="box-img-video"><img src="images/video-12.png" alt="Những khoảnh khắc đốn tim triệu fan của Noo Phước Thịnh"><span class="icon-play-48"></span></div>
              <div class="box-title-video">
                <h3 class="title-box-video">Johnny Trí Nguyễn tự so sánh mình với "Ông hoàng nhạc Việt" Đàm Vĩnh Hưng</h3>
              </div>
            </div>
            <div class="item-video"><a href="#" title="Những khoảnh khắc đốn tim triệu fan của Noo Phước Thịnh"></a>
              <div class="box-img-video"><img src="images/video-13.png" alt="Những khoảnh khắc đốn tim triệu fan của Noo Phước Thịnh"><span class="icon-play-48"></span></div>
              <div class="box-title-video">
                <h3 class="title-box-video">Nhóm nhạc "thảm hoạ" HKT sau 11 năm giờ ra sao?</h3>
              </div>
            </div>
            <div class="item-video"><a href="#" title="Những khoảnh khắc đốn tim triệu fan của Noo Phước Thịnh"></a>
              <div class="box-img-video"><img src="images/video-15.png" alt="Những khoảnh khắc đốn tim triệu fan của Noo Phước Thịnh"><span class="icon-play-48"></span></div>
              <div class="box-title-video">
                <h3 class="title-box-video">Bất ngờ khi Jun 365 nói tiếng Nhật cực chuẩn tại tour lưu diễn</h3>
              </div>
            </div>
            <div class="item-video"><a href="#" title="Những khoảnh khắc đốn tim triệu fan của Noo Phước Thịnh"></a>
              <div class="box-img-video"><img src="images/video-16.png" alt="Những khoảnh khắc đốn tim triệu fan của Noo Phước Thịnh"><span class="icon-play-48"></span></div>
              <div class="box-title-video">
                <h3 class="title-box-video">"Đại Úy" Song Joong Ki tái hiện màn hất điện thoại khiến 4500 fans hò hét</h3>
              </div>
            </div>
            <div class="item-video"><a href="#" title="Những khoảnh khắc đốn tim triệu fan của Noo Phước Thịnh"></a>
              <div class="box-img-video"><img src="images/video-17.png" alt="Những khoảnh khắc đốn tim triệu fan của Noo Phước Thịnh"><span class="icon-play-48"></span></div>
              <div class="box-title-video">
                <h3 class="title-box-video">Cao Thái Sơn dốc hết tài sản làm MV "khủng" nhất sự nghiệp</h3>
              </div>
            </div>
            <div class="item-video"><a href="#" title="Những khoảnh khắc đốn tim triệu fan của Noo Phước Thịnh"></a>
              <div class="box-img-video"><img src="images/video-15.png" alt="Những khoảnh khắc đốn tim triệu fan của Noo Phước Thịnh"><span class="icon-play-48"></span></div>
              <div class="box-title-video">
                <h3 class="title-box-video">Bất ngờ khi Jun 365 nói tiếng Nhật cực chuẩn tại tour lưu diễn</h3>
              </div>
            </div>
            <div class="item-video"><a href="#" title="Những khoảnh khắc đốn tim triệu fan của Noo Phước Thịnh"></a>
              <div class="box-img-video"><img src="images/video-16.png" alt="Những khoảnh khắc đốn tim triệu fan của Noo Phước Thịnh"><span class="icon-play-48"></span></div>
              <div class="box-title-video">
                <h3 class="title-box-video">"Đại Úy" Song Joong Ki tái hiện màn hất điện thoại khiến 4500 fans hò hét</h3>
              </div>
            </div>
            <div class="item-video"><a href="#" title="Những khoảnh khắc đốn tim triệu fan của Noo Phước Thịnh"></a>
              <div class="box-img-video"><img src="images/video-17.png" alt="Những khoảnh khắc đốn tim triệu fan của Noo Phước Thịnh"><span class="icon-play-48"></span></div>
              <div class="box-title-video">
                <h3 class="title-box-video">Cao Thái Sơn dốc hết tài sản làm MV "khủng" nhất sự nghiệp</h3>
              </div>
            </div>
          </div>
          <ul class="paginations">
            <li class="active"><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">...</a></li>
            <li><a href="#">99</a></li>
          </ul>
        </div>
      </div>
    </section>
    <footer>
      <div class="container-mobile">
        <div class="main-footer">
          <div class="content-footer">
            <h3 class="title-footer">theo dõi kul news</h3>
            <div class="social-footer widget-socialize"><a href="https://www.facebook.com/kulnews" title="facebook" target="_blank" class="icon facebook">
                <div class="symbol"><span></span></div>
                <div class="text-footer">
                  <p>1.1M</p>
                  <p>Facebook</p>
                </div></a><a href="https://plus.google.com/u/0/110833293141518607946/" title="google" target="_blank" class="icon google">
                <div class="symbol"><span></span></div>
                <div class="text-footer">
                  <p>60</p>
                  <p>Google+</p>
                </div></a><a href="https://www.pinterest.com/" title="youtube" target="_blank" class="icon youtube">
                <div class="symbol"><span></span></div>
                <div class="text-footer">
                  <p>33.5k</p>
                  <p>Youtube</p>
                </div></a><a href="https://www.instagram.com/kulnews/" title="instagram" target="_blank" class="icon instagram">
                <div class="symbol"><span></span></div>
                <div class="text-footer">
                  <p>1.6k</p>
                  <p>Instagram</p>
                </div></a></div>
          </div>
        </div>
      </div>
    </footer>
    <div class="mobile-change">
      <div class="link-mobile">
        <div class="thumb-logo"><img src="images/icon/news.svg" alt="Kul News logo"></div>
        <p>Bạn cần chuyển qua giao diện máy tính để có được những trải nghiệm tốt hơn trên Kul News</p><a href="index.html">Chuyển về giao diện đầy đủ    </a>
      </div>
    </div>
    <script type="text/javascript" src="js/mCustomScrollbar.min.js"></script>
    <script type="text/javascript" src="js/main-mb.js"></script>
  </body>
</html>
