assets/yearend-mb.jade
doctype html
html(lang="vi")
  include ./head-mb.jade
  body
    include ./header-mb.jade
    section.year-end
      .yearend-banner
    section.year-mobile
      .container-fluid
        .row
          .col-md-12
            .year-end-second
              .year-secondthumb
                a(href="detail-life.html" title="Thiên đường giữa chốn trần gian qua góc máy phượt thủ Việt")
                  img(src="http://kul.vn/media/cache/thumbnail_185x105/uploads/media/thumbnail/584b/7f/thumbnail_16x9_bong-hong-lai-2.jpg", alt="Thiên đường giữa chốn trần gian qua góc máy phượt thủ Việt")
              .year-titles
                a.year-end-cateout(href="#", title="") Giải trí
                h3
                  a(href="detail-life.html") Giới trẻ lặng người trước lời xin lỗi đến từ MC Phan Anh
                p.content-news Đoạn video clip mang tên “Xin hãy thay đổi vì Thế hệ tương lai” của MC Phan Anh được đăng tải trong thời gian gần đây đang được cư dân mạng truyền tay nhau...
            .year-end-second
              .year-secondthumb
                a(href="detail-life.html" title="Thiên đường giữa chốn trần gian qua góc máy phượt thủ Việt")
                  img(src="http://kul.vn/media/cache/thumbnail_185x105/uploads/media/thumbnail/584b/7f/thumbnail_16x9_bong-hong-lai-2.jpg", alt="Thiên đường giữa chốn trần gian qua góc máy phượt thủ Việt")
              .year-titles
                a.year-end-cateout(href="#", title="") Giải trí
                h3
                  a(href="detail-life.html") Giới trẻ lặng người trước lời xin lỗi đến từ MC Phan Anh
                p.content-news Đoạn video clip mang tên “Xin hãy thay đổi vì Thế hệ tương lai” của MC Phan Anh được đăng tải trong thời gian gần đây đang được cư dân mạng truyền tay nhau...
            .year-end-second
              .year-secondthumb
                a(href="detail-life.html" title="Thiên đường giữa chốn trần gian qua góc máy phượt thủ Việt")
                  img(src="http://kul.vn/media/cache/thumbnail_185x105/uploads/media/thumbnail/584b/7f/thumbnail_16x9_bong-hong-lai-2.jpg", alt="Thiên đường giữa chốn trần gian qua góc máy phượt thủ Việt")
              .year-titles
                a.year-end-cateout(href="#", title="") Giải trí
                h3
                  a(href="detail-life.html") Giới trẻ lặng người trước lời xin lỗi đến từ MC Phan Anh
                p.content-news Đoạn video clip mang tên “Xin hãy thay đổi vì Thế hệ tương lai” của MC Phan Anh được đăng tải trong thời gian gần đây đang được cư dân mạng truyền tay nhau...
    include ./script-mb.jade

assets/yearend-mb.html
<!DOCTYPE html>
<html lang="vi">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Kul News - Tin giải trí, giới trẻ, đời sống xã hội tổng hợp</title>
    <link rel="shortcut icon" href="images/k.ico" type="image/x-icon">
    <link rel="stylesheet" href="css/scroll-mobile.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="appmobile.css">
    <script type="text/javascript" src="js/jquery-2.1.4.min.js"></script>
  </head>
  <body>
    <div class="close-menu"></div>
    <header class="site-header fixed">
      <div class="main-navigation container-fluid">
        <div class="row">
          <div class="col-xs-3">
            <div class="navbar-header">
              <button type="button" data-toggle="collapse" class="navbar-toggle"><span class="ico icon-bar"></span><span class="ico icon-bar"></span><span class="ico icon-bar">          </span></button>
            </div>
          </div>
          <div class="col-xs-6">
            <h1 class="logo-top-1"><a href="index-mb.html" title="Tin tức, giải trí, xã hội"> <img src="images/icon/kul-mb.svg" alt="Kul trang tin tức giới trẻ"><span>Kul News Tin tức, giải trí, xã hội</span></a></h1>
          </div>
          <div class="col-xs-3">
            <div class="search-box">
              <form class="navbar-form navbar-right"><span id="search" class="glyphicon glyphicon-search-show">
                  <button id="search-button" class="search-button"></button></span><span id="close" class="glyphicon glyphicon-remove-hide">
                  <button id="close-search" class="close"></button></span></form>
            </div>
          </div>
          <div class="col-xs-12">
            <div class="box-search-input search-group">
              <form id="search-form" class="form-group">
                <div class="input-group">
                  <input type="text" name="search" value placeholder="Nhập nội dung.." autofocus class="form-control"><span class="search-mini">
                    <button type="submit" id="search-icon" title="Tìm" class="btn-search-mini"></button></span>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </header>
    <div class="btn-menu">
      <ul class="nav navbar-nav">
        <li class="icon-video"><a href="video-mb-news.html">Video</a></li>
        <li class="icon-life"><a href="cate-mb-life.html">Đời Sống</a></li>
        <li class="icon-world"><a href="cate-mb-life.html">Thế giới</a></li>
        <li class="icon-ent"><a href="cate-mb-life.html">Giải Trí</a></li>
        <li class="icon-fas"><a href="cate-mb-life.html">Thời Trang</a></li>
        <li class="icon-game"><a href="cate-mb-life.html">Game</a></li>
        <li class="icon-sport"><a href="cate-mb-life.html">Thể Thao</a></li>
        <li class="icon-tech"><a href="cate-mb-life.html">Công Nghệ    </a></li>
        <li class="icon-health"><a href="cate-mb-life.html">Sức khỏe</a></li>
        <li class="icon-laydy"><a href="cate-mb-life.html">Phái Đẹp</a></li>
        <li class="icon-laydy"><a href="cate-mb-life.html">Magazine</a></li>
      </ul>
      <div class="info-page"><span>Kul News</span>
        <p>Giấy phép ICP số : 48/GP – TTĐT 14/05/2015 do Sở Thông Tin và Truyền Thông Tp HCM cấp.</p>
        <p>Chịu trách nhiệm quản lý nội dung: ông Trang Lan Anh Phương.</p>
        <p class="hotline">Hot line: 0987 955 990</p>
      </div>
    </div>
    <section class="year-end">
      <div class="yearend-banner"></div>
    </section>
    <section class="year-mobile">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <div class="year-end-second">
              <div class="year-secondthumb"><a href="detail-life.html" title="Thiên đường giữa chốn trần gian qua góc máy phượt thủ Việt"><img src="http://kul.vn/media/cache/thumbnail_185x105/uploads/media/thumbnail/584b/7f/thumbnail_16x9_bong-hong-lai-2.jpg" alt="Thiên đường giữa chốn trần gian qua góc máy phượt thủ Việt"></a></div>
              <div class="year-titles"><a href="#" title="" class="year-end-cateout">Giải trí</a>
                <h3><a href="detail-life.html">Giới trẻ lặng người trước lời xin lỗi đến từ MC Phan Anh</a></h3>
                <p class="content-news">Đoạn video clip mang tên “Xin hãy thay đổi vì Thế hệ tương lai” của MC Phan Anh được đăng tải trong thời gian gần đây đang được cư dân mạng truyền tay nhau...</p>
              </div>
            </div>
            <div class="year-end-second">
              <div class="year-secondthumb"><a href="detail-life.html" title="Thiên đường giữa chốn trần gian qua góc máy phượt thủ Việt"><img src="http://kul.vn/media/cache/thumbnail_185x105/uploads/media/thumbnail/584b/7f/thumbnail_16x9_bong-hong-lai-2.jpg" alt="Thiên đường giữa chốn trần gian qua góc máy phượt thủ Việt"></a></div>
              <div class="year-titles"><a href="#" title="" class="year-end-cateout">Giải trí</a>
                <h3><a href="detail-life.html">Giới trẻ lặng người trước lời xin lỗi đến từ MC Phan Anh</a></h3>
                <p class="content-news">Đoạn video clip mang tên “Xin hãy thay đổi vì Thế hệ tương lai” của MC Phan Anh được đăng tải trong thời gian gần đây đang được cư dân mạng truyền tay nhau...</p>
              </div>
            </div>
            <div class="year-end-second">
              <div class="year-secondthumb"><a href="detail-life.html" title="Thiên đường giữa chốn trần gian qua góc máy phượt thủ Việt"><img src="http://kul.vn/media/cache/thumbnail_185x105/uploads/media/thumbnail/584b/7f/thumbnail_16x9_bong-hong-lai-2.jpg" alt="Thiên đường giữa chốn trần gian qua góc máy phượt thủ Việt"></a></div>
              <div class="year-titles"><a href="#" title="" class="year-end-cateout">Giải trí</a>
                <h3><a href="detail-life.html">Giới trẻ lặng người trước lời xin lỗi đến từ MC Phan Anh</a></h3>
                <p class="content-news">Đoạn video clip mang tên “Xin hãy thay đổi vì Thế hệ tương lai” của MC Phan Anh được đăng tải trong thời gian gần đây đang được cư dân mạng truyền tay nhau...</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <script type="text/javascript" src="js/mCustomScrollbar.min.js"></script>
    <script type="text/javascript" src="js/main-mb.js"></script>
  </body>
</html>
