assets/yearend.html
<!DOCTYPE html>
<html lang="vi">
  <head></head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Kul News - Tin giải trí, giới trẻ, đời sống xã hội tổng hợp</title>
  <link rel="shortcut icon" href="images/k.ico" type="image/x-icon">
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="app.css">
  <script src="js/jquery-2.1.4.min.js"></script>
  <body>
    <header class="site-header fixed header">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <ul class="nav navbar-nav nav-upright">
              <li class="active home-index"><a href="index.html">Trang chủ</a></li>
              <li class="dropdown"><a href="category-life.html">Đời Sống</a>
                <ul class="sub-menu">
                  <li><a href="category-life.html">Xã hội</a>
                    <ul class="menu_level_2">
                      <li><a href="#">Tin Trong nước</a></li>
                      <li><a href="#">Tin thế giới</a></li>
                    </ul>
                  </li>
                  <li><a href="category-life.html">Giới trẻ</a></li>
                  <li><a href="category-life.html">Nhân vật</a></li>
                  <li><a href="category-life.html">Khám phá</a></li>
                  <li><a href="category-life.html">Ảnh & Video</a></li>
                  <li><a href="category-life.html">Góc nhìn</a></li>
                </ul>
              </li>
              <li class="dropdown"><a href="category-life.html">Giải Trí</a>
                <ul class="sub-menu">
                  <li><a href="category-life.html">Sao</a>
                    <ul class="menu_level_2">
                      <li><a href="#">Sao Việt</a></li>
                      <li><a href="#">Sao Quốc tế</a></li>
                    </ul>
                  </li>
                  <li><a href="category-life.html">Âm nhạc</a></li>
                  <li><a href="category-life.html">Điện Ảnh</a>
                    <ul class="menu_level_2">
                      <li><a href="#">Phim Việt</a></li>
                      <li><a href="#">Phim Nước Ngoài</a></li>
                    </ul>
                  </li>
                  <li><a href="category-life.html">TV Show</a></li>
                </ul>
              </li>
              <li class="dropdown"><a href="category-life.html">Thời Trang</a>
                <ul class="sub-menu">
                  <li><a href="category-life.html">Phái Mạnh</a></li>
                  <li><a href="category-life.html">Fashion 360</a></li>
                  <li><a href="category-life.html">Xu Hướng</a>
                    <ul class="menu_level_2">
                      <li><a href="#">Bộ Sưu Tập</a></li>
                    </ul>
                  </li>
                  <li><a href="category-life.html">Thời Trang Sao</a></li>
                  <li><a href="category-life.html">Phụ Kiện</a></li>
                </ul>
              </li>
              <li class="dropdown"><a href="index-game.html">Games</a>
                <ul class="sub-menu">
                  <li><a href="category-life.html">Đánh giá game</a></li>
                  <li><a href="category-life.html">Game trong nước</a></li>
                  <li><a href="category-life.html">Game Nước ngoài</a></li>
                  <li><a href="category-life.html">Esports</a></li>
                  <li><a href="category-life.html">Clip Game Hay</a></li>
                  <li><a href="category-life.html">Gift Code</a></li>
                </ul>
              </li>
              <li class="dropdown"><a href="category-life.html">Thể Thao</a>
                <ul class="sub-menu">
                  <li><a href="category-life.html">Bóng Đá Việt Nam</a></li>
                  <li><a href="category-life.html">Bóng đá thế giới</a></li>
                  <li><a href="category-life.html">Các môn thể thao khác</a></li>
                  <li><a href="category-life.html">AFF Suzuki Cup</a></li>
                </ul>
              </li>
              <li class="dropdown"><a href="category-life.html">Công Nghệ</a>
                <ul class="sub-menu">
                  <li><a href="category-life.html">Tin Công Nghệ</a></li>
                  <li><a href="category-life.html">Review</a></li>
                  <li><a href="category-life.html">Thủ thuật</a></li>
                </ul>
              </li>
              <li class="dropdown"><a href="category-life.html">Sức khỏe</a>
                <ul class="sub-menu">
                  <li><a href="category-life.html">Bạn cần biết</a>
                    <ul class="menu_level_2">
                      <li><a href="#">Khỏe đẹp</a></li>
                      <li><a href="#">Dinh dưỡng</a></li>
                    </ul>
                  </li>
                  <li><a href="category-life.html">Kiến Thức Giới Tính</a></li>
                  <li><a href="category-life.html">Các bệnh thường gặp</a></li>
                </ul>
              </li>
              <li class="dropdown"><a href="index-beauty.html">Phái Đẹp</a>
                <ul class="sub-menu">
                  <li><a href="index-beauty.html">Làm đẹp</a></li>
                  <li><a href="index-beauty.html">Mẹ & Bé</a></li>
                  <li><a href="index-beauty.html">Vào bếp</a></li>
                  <li><a href="index-beauty.html">Khéo tay - DIY</a></li>
                  <li><a href="index-beauty.html">Sống & yêu</a>
                    <ul class="menu_level_2">
                      <li><a href="#">Bói vui</a></li>
                    </ul>
                  </li>
                  <li><a href="index-beauty.html">Video</a></li>
                  <li><a href="index-beauty.html">Cộng Đồng</a></li>
                </ul>
              </li>
              <li class="dropdown"><a href="index-beauty.html">Video  </a></li>
            </ul>
            <div class="search-box">
              <div class="navbar-form navbar-right"><span id="search" class="glyphicon glyphicon-search-show">
                  <button id="search-button" class="search-button"></button></span><span id="close" class="glyphicon glyphicon-remove-hide">
                  <button id="close-search" class="close"></button></span>
                <form id="search-form" class="form-group">
                  <div class="input-group">
                    <input type="text" autofocus name="search" placeholder="Nhập nội dung.." class="form-control"><span class="search-mini">
                      <button id="search-icon" title="Tìm" class="btn-search-mini">            </button></span>
                  </div>
                </form>
              </div>
            </div>
            <button id="btn-show-menu" type="button" data-toggle="collapse" class="navbar-toggle collapsed"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
          </div>
        </div>
      </div>
    </header>
    <section class="year-end">
      <div class="yearend-banner"></div>
    </section>
    <section class="year-end-total">
      <div class="container">
        <div class="row">
          <div class="col-md-8">
            <div class="media year-end-block">
              <div class="media-left"><a href="detail-life.html" title="Thiên đường giữa chốn trần gian qua góc máy phượt thủ Việt"><img src="http://kul.vn/media/cache/resolve/thumbnail_games/uploads/media/thumbnail/584e/55/thumbnail_1x1_thumbnail.jpg" alt="Thiên đường giữa chốn trần gian qua góc máy phượt thủ Việt"></a></div>
              <div class="media-body"><a href="#" title="" class="year-end-cate">Giải trí</a>
                <h3 class="title-main-3"><a href="detail-life.html">Giới trẻ lặng người trước lời xin lỗi đến từ MC Phan Anh</a></h3>
                <p class="content-news">Đoạn video clip mang tên “Xin hãy thay đổi vì Thế hệ tương lai” của MC Phan Anh được đăng tải trong thời gian gần đây đang được cư dân mạng truyền tay nhau với tốc độ chóng mặt.</p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="year-end-second">
              <div class="year-secondthumb"><a href="detail-life.html" title="Thiên đường giữa chốn trần gian qua góc máy phượt thủ Việt"><img src="http://kul.vn/media/cache/thumbnail_185x105/uploads/media/thumbnail/584b/7f/thumbnail_16x9_bong-hong-lai-2.jpg" alt="Thiên đường giữa chốn trần gian qua góc máy phượt thủ Việt"></a></div>
              <div class="year-titles"><a href="#" title="" class="year-end-cateout">Giải trí</a>
                <h3><a href="detail-life.html">Giới trẻ lặng người trước lời xin lỗi đến từ MC Phan Anh</a></h3>
                <p class="content-news">Đoạn video clip mang tên “Xin hãy thay đổi vì Thế hệ tương lai” của MC Phan Anh được đăng tải trong thời gian gần đây đang được cư dân mạng truyền tay nhau...</p>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="year-mini">
              <div class="row">
                <div class="col-md-4">
                  <div class="year-end-second">
                    <div class="year-secondthumb"><a href="detail-life.html" title="Thiên đường giữa chốn trần gian qua góc máy phượt thủ Việt"><img src="http://kul.vn/media/cache/thumbnail_185x105/uploads/media/thumbnail/584b/7f/thumbnail_16x9_bong-hong-lai-2.jpg" alt="Thiên đường giữa chốn trần gian qua góc máy phượt thủ Việt"></a></div>
                    <div class="year-titles"><a href="#" title="" class="year-end-cateout">Giải trí</a>
                      <h3><a href="detail-life.html">Giới trẻ lặng người trước lời xin lỗi đến từ MC Phan Anh</a></h3>
                      <p class="content-news">Đoạn video clip mang tên “Xin hãy thay đổi vì Thế hệ tương lai” của MC Phan Anh được đăng tải trong thời gian gần đây đang được cư dân mạng truyền tay nhau...  </p>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="year-end-second">
                    <div class="year-secondthumb"><a href="detail-life.html" title="Thiên đường giữa chốn trần gian qua góc máy phượt thủ Việt"><img src="http://kul.vn/media/cache/thumbnail_185x105/uploads/media/thumbnail/584b/7f/thumbnail_16x9_bong-hong-lai-2.jpg" alt="Thiên đường giữa chốn trần gian qua góc máy phượt thủ Việt"></a></div>
                    <div class="year-titles"><a href="#" title="" class="year-end-cateout">Giải trí</a>
                      <h3><a href="detail-life.html">Giới trẻ lặng người trước lời xin lỗi đến từ MC Phan Anh</a></h3>
                      <p class="content-news">Đoạn video clip mang tên “Xin hãy thay đổi vì Thế hệ tương lai” của MC Phan Anh được đăng tải trong thời gian gần đây đang được cư dân mạng truyền tay nhau...</p>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="year-end-second">
                    <div class="year-secondthumb"><a href="detail-life.html" title="Thiên đường giữa chốn trần gian qua góc máy phượt thủ Việt"><img src="http://kul.vn/media/cache/thumbnail_185x105/uploads/media/thumbnail/584b/7f/thumbnail_16x9_bong-hong-lai-2.jpg" alt="Thiên đường giữa chốn trần gian qua góc máy phượt thủ Việt"></a></div>
                    <div class="year-titles"><a href="#" title="" class="year-end-cateout">Giải trí</a>
                      <h3><a href="detail-life.html">Giới trẻ lặng người trước lời xin lỗi đến từ MC Phan Anh</a></h3>
                      <p class="content-news">Đoạn video clip mang tên “Xin hãy thay đổi vì Thế hệ tương lai” của MC Phan Anh được đăng tải trong thời gian gần đây đang được cư dân mạng truyền tay nhau...</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="year-mini">
              <div class="row">
                <div class="col-md-6">
                  <div class="year-end-second">
                    <div class="year-secondthumb"><a href="detail-life.html" title="Thiên đường giữa chốn trần gian qua góc máy phượt thủ Việt"><img src="http://kul.vn/media/cache/thumbnail_185x105/uploads/media/thumbnail/584b/7f/thumbnail_16x9_bong-hong-lai-2.jpg" alt="Thiên đường giữa chốn trần gian qua góc máy phượt thủ Việt"></a></div>
                    <div class="year-titles"><a href="#" title="" class="year-end-cateout">Giải trí</a>
                      <h3><a href="detail-life.html">Giới trẻ lặng người trước lời xin lỗi đến từ MC Phan Anh</a></h3>
                      <p class="content-news">Đoạn video clip mang tên “Xin hãy thay đổi vì Thế hệ tương lai” của MC Phan Anh được đăng tải trong thời gian gần đây đang được cư dân mạng truyền tay nhau...  </p>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="year-end-second">
                    <div class="year-secondthumb"><a href="detail-life.html" title="Thiên đường giữa chốn trần gian qua góc máy phượt thủ Việt"><img src="http://kul.vn/media/cache/thumbnail_185x105/uploads/media/thumbnail/584b/7f/thumbnail_16x9_bong-hong-lai-2.jpg" alt="Thiên đường giữa chốn trần gian qua góc máy phượt thủ Việt"></a></div>
                    <div class="year-titles"><a href="#" title="" class="year-end-cateout">Giải trí</a>
                      <h3><a href="detail-life.html">Giới trẻ lặng người trước lời xin lỗi đến từ MC Phan Anh</a></h3>
                      <p class="content-news">Đoạn video clip mang tên “Xin hãy thay đổi vì Thế hệ tương lai” của MC Phan Anh được đăng tải trong thời gian gần đây đang được cư dân mạng truyền tay nhau...</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="year-mini">
              <div class="row">
                <div class="col-md-4">
                  <div class="year-end-second">
                    <div class="year-secondthumb"><a href="detail-life.html" title="Thiên đường giữa chốn trần gian qua góc máy phượt thủ Việt"><img src="http://kul.vn/media/cache/thumbnail_185x105/uploads/media/thumbnail/584b/7f/thumbnail_16x9_bong-hong-lai-2.jpg" alt="Thiên đường giữa chốn trần gian qua góc máy phượt thủ Việt"></a></div>
                    <div class="year-titles"><a href="#" title="" class="year-end-cateout">Giải trí</a>
                      <h3><a href="detail-life.html">Giới trẻ lặng người trước lời xin lỗi đến từ MC Phan Anh</a></h3>
                      <p class="content-news">Đoạn video clip mang tên “Xin hãy thay đổi vì Thế hệ tương lai” của MC Phan Anh được đăng tải trong thời gian gần đây đang được cư dân mạng truyền tay nhau...  </p>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="year-end-second">
                    <div class="year-secondthumb"><a href="detail-life.html" title="Thiên đường giữa chốn trần gian qua góc máy phượt thủ Việt"><img src="http://kul.vn/media/cache/thumbnail_185x105/uploads/media/thumbnail/584b/7f/thumbnail_16x9_bong-hong-lai-2.jpg" alt="Thiên đường giữa chốn trần gian qua góc máy phượt thủ Việt"></a></div>
                    <div class="year-titles"><a href="#" title="" class="year-end-cateout">Giải trí</a>
                      <h3><a href="detail-life.html">Giới trẻ lặng người trước lời xin lỗi đến từ MC Phan Anh</a></h3>
                      <p class="content-news">Đoạn video clip mang tên “Xin hãy thay đổi vì Thế hệ tương lai” của MC Phan Anh được đăng tải trong thời gian gần đây đang được cư dân mạng truyền tay nhau...</p>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="year-end-second">
                    <div class="year-secondthumb"><a href="detail-life.html" title="Thiên đường giữa chốn trần gian qua góc máy phượt thủ Việt"><img src="http://kul.vn/media/cache/thumbnail_185x105/uploads/media/thumbnail/584b/7f/thumbnail_16x9_bong-hong-lai-2.jpg" alt="Thiên đường giữa chốn trần gian qua góc máy phượt thủ Việt"></a></div>
                    <div class="year-titles"><a href="#" title="" class="year-end-cateout">Giải trí</a>
                      <h3><a href="detail-life.html">Giới trẻ lặng người trước lời xin lỗi đến từ MC Phan Anh</a></h3>
                      <p class="content-news">Đoạn video clip mang tên “Xin hãy thay đổi vì Thế hệ tương lai” của MC Phan Anh được đăng tải trong thời gian gần đây đang được cư dân mạng truyền tay nhau...</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <footer class="main-footer">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <div class="row">
              <div class="col-xs-3">
                <h3 class="title-footer">Kul News</h3>
                <p class="info-footer">Giấy phép ICP số : 48/GP – TTĐT 14/05/2015 do Sở Thông Tin và Truyền Thông Tp HCM cấp.</p>
                <p class="info-footer">Chịu trách nhiệm quản lý nội dung: Trang Lan Anh Phương.</p>
              </div>
              <div class="col-xs-3">
                <h3 class="title-footer">Đơn vị chủ quán</h3>
                <p class="info-footer">CÔNG TY CP TRỰC TUYẾN CMN VIỆT NAM</p>
                <p class="info-footer">Địa chỉ: Số 549 Điện Biên Phủ, Phường 3, Quận 3, Tp Hồ Chí Minh.</p>
                <p class="info-footer">Điện thoại: 08 38335466</p>
              </div>
              <div class="col-xs-3">
                <h3 class="title-footer">Liên Hệ quảng cáo</h3>
                <p class="info-footer">Mail: Ads@kul.vn</p>
                <p class="info-footer">MS Quỳnh My: 0934 862 882</p>
                <p class="info-footer">Skype: Quynhmy0802</p>
              </div>
              <div class="col-xs-3">
                <h3 class="title-footer">theo dõi kul news</h3>
                <div class="social-footer widget-socialize"><a href="https://www.facebook.com/kulnews" title="facebook" target="_blank" class="icon facebook">
                    <div class="symbol"><span></span></div>
                    <div class="text-footer">
                      <p>1.1M</p>
                      <p>Facebook</p>
                    </div></a><a href="https://plus.google.com/u/0/110833293141518607946/" title="google" target="_blank" class="icon google">
                    <div class="symbol"><span></span></div>
                    <div class="text-footer">
                      <p>60</p>
                      <p>Google+</p>
                    </div></a><a href="https://www.youtube.com/channel/UC-gfYPmX-4hagkRmUF5YxTA" title="youtube" target="_blank" class="icon youtube">
                    <div class="symbol"><span></span></div>
                    <div class="text-footer">
                      <p>33.5k</p>
                      <p>Youtube</p>
                    </div></a><a href="https://www.instagram.com/kulnews/" title="instagram" target="_blank" class="icon instagram">
                    <div class="symbol"><span></span></div>
                    <div class="text-footer">
                      <p>1.6k</p>
                      <p>Instagram</p>
                    </div></a></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <div class="back-top">
      <div class="icon-scrolltop"><span></span></div>
    </div>
    <div class="mobile-change">
      <div class="link-mobile">
        <div class="thumb-logo"><img src="images/icon/news.svg" alt="Kul News logo"></div>
        <p>Bạn cần chuyển qua giao diện Mobile để có được những trải nghiệm tốt hơn trên Kul News</p><a href="index-mb.html">Chuyển sang giao diện Mobile</a>
      </div>
    </div>
    <script src="js/jquery-scrolltofixed.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>

assets/yearend.jade
doctype html
html(lang="vi")
  head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  title Kul News - Tin giải trí, giới trẻ, đời sống xã hội tổng hợp
  link(rel='shortcut icon', href='images/k.ico', type='image/x-icon')
  link(rel='stylesheet', href='css/bootstrap.min.css')
  link(rel='stylesheet', href='app.css')
  script(src='js/jquery-2.1.4.min.js')
  body
    include ./header-index.jade
    section.year-end
      .yearend-banner
    section.year-end-total
      .container
        .row
          .col-md-8
            .media.year-end-block
              .media-left
                a(href="detail-life.html" title="Thiên đường giữa chốn trần gian qua góc máy phượt thủ Việt")
                  img(src="http://kul.vn/media/cache/resolve/thumbnail_games/uploads/media/thumbnail/584e/55/thumbnail_1x1_thumbnail.jpg", alt="Thiên đường giữa chốn trần gian qua góc máy phượt thủ Việt")
              .media-body
                a.year-end-cate(href="#", title="") Giải trí
                h3.title-main-3
                  a(href="detail-life.html") Giới trẻ lặng người trước lời xin lỗi đến từ MC Phan Anh
                p.content-news Đoạn video clip mang tên “Xin hãy thay đổi vì Thế hệ tương lai” của MC Phan Anh được đăng tải trong thời gian gần đây đang được cư dân mạng truyền tay nhau với tốc độ chóng mặt.
          .col-md-4
            .year-end-second
              .year-secondthumb
                a(href="detail-life.html" title="Thiên đường giữa chốn trần gian qua góc máy phượt thủ Việt")
                  img(src="http://kul.vn/media/cache/thumbnail_185x105/uploads/media/thumbnail/584b/7f/thumbnail_16x9_bong-hong-lai-2.jpg", alt="Thiên đường giữa chốn trần gian qua góc máy phượt thủ Việt")
              .year-titles
                a.year-end-cateout(href="#", title="") Giải trí
                h3
                  a(href="detail-life.html") Giới trẻ lặng người trước lời xin lỗi đến từ MC Phan Anh
                p.content-news Đoạn video clip mang tên “Xin hãy thay đổi vì Thế hệ tương lai” của MC Phan Anh được đăng tải trong thời gian gần đây đang được cư dân mạng truyền tay nhau...
        .row
          .col-md-12
            .year-mini
              .row
                .col-md-4
                  .year-end-second
                    .year-secondthumb
                      a(href="detail-life.html" title="Thiên đường giữa chốn trần gian qua góc máy phượt thủ Việt")
                        img(src="http://kul.vn/media/cache/thumbnail_185x105/uploads/media/thumbnail/584b/7f/thumbnail_16x9_bong-hong-lai-2.jpg", alt="Thiên đường giữa chốn trần gian qua góc máy phượt thủ Việt")
                    .year-titles
                      a.year-end-cateout(href="#", title="") Giải trí
                      h3
                        a(href="detail-life.html") Giới trẻ lặng người trước lời xin lỗi đến từ MC Phan Anh
                      p.content-news Đoạn video clip mang tên “Xin hãy thay đổi vì Thế hệ tương lai” của MC Phan Anh được đăng tải trong thời gian gần đây đang được cư dân mạng truyền tay nhau...  
                .col-md-4
                  .year-end-second
                    .year-secondthumb
                      a(href="detail-life.html" title="Thiên đường giữa chốn trần gian qua góc máy phượt thủ Việt")
                        img(src="http://kul.vn/media/cache/thumbnail_185x105/uploads/media/thumbnail/584b/7f/thumbnail_16x9_bong-hong-lai-2.jpg", alt="Thiên đường giữa chốn trần gian qua góc máy phượt thủ Việt")
                    .year-titles
                      a.year-end-cateout(href="#", title="") Giải trí
                      h3
                        a(href="detail-life.html") Giới trẻ lặng người trước lời xin lỗi đến từ MC Phan Anh
                      p.content-news Đoạn video clip mang tên “Xin hãy thay đổi vì Thế hệ tương lai” của MC Phan Anh được đăng tải trong thời gian gần đây đang được cư dân mạng truyền tay nhau...
                .col-md-4
                  .year-end-second
                    .year-secondthumb
                      a(href="detail-life.html" title="Thiên đường giữa chốn trần gian qua góc máy phượt thủ Việt")
                        img(src="http://kul.vn/media/cache/thumbnail_185x105/uploads/media/thumbnail/584b/7f/thumbnail_16x9_bong-hong-lai-2.jpg", alt="Thiên đường giữa chốn trần gian qua góc máy phượt thủ Việt")
                    .year-titles
                      a.year-end-cateout(href="#", title="") Giải trí
                      h3
                        a(href="detail-life.html") Giới trẻ lặng người trước lời xin lỗi đến từ MC Phan Anh
                      p.content-news Đoạn video clip mang tên “Xin hãy thay đổi vì Thế hệ tương lai” của MC Phan Anh được đăng tải trong thời gian gần đây đang được cư dân mạng truyền tay nhau...
        .row
          .col-md-12
            .year-mini
              .row
                .col-md-6
                  .year-end-second
                    .year-secondthumb
                      a(href="detail-life.html" title="Thiên đường giữa chốn trần gian qua góc máy phượt thủ Việt")
                        img(src="http://kul.vn/media/cache/thumbnail_185x105/uploads/media/thumbnail/584b/7f/thumbnail_16x9_bong-hong-lai-2.jpg", alt="Thiên đường giữa chốn trần gian qua góc máy phượt thủ Việt")
                    .year-titles
                      a.year-end-cateout(href="#", title="") Giải trí
                      h3
                        a(href="detail-life.html") Giới trẻ lặng người trước lời xin lỗi đến từ MC Phan Anh
                      p.content-news Đoạn video clip mang tên “Xin hãy thay đổi vì Thế hệ tương lai” của MC Phan Anh được đăng tải trong thời gian gần đây đang được cư dân mạng truyền tay nhau...  
                .col-md-6
                  .year-end-second
                    .year-secondthumb
                      a(href="detail-life.html" title="Thiên đường giữa chốn trần gian qua góc máy phượt thủ Việt")
                        img(src="http://kul.vn/media/cache/thumbnail_185x105/uploads/media/thumbnail/584b/7f/thumbnail_16x9_bong-hong-lai-2.jpg", alt="Thiên đường giữa chốn trần gian qua góc máy phượt thủ Việt")
                    .year-titles
                      a.year-end-cateout(href="#", title="") Giải trí
                      h3
                        a(href="detail-life.html") Giới trẻ lặng người trước lời xin lỗi đến từ MC Phan Anh
                      p.content-news Đoạn video clip mang tên “Xin hãy thay đổi vì Thế hệ tương lai” của MC Phan Anh được đăng tải trong thời gian gần đây đang được cư dân mạng truyền tay nhau...
        .row
          .col-md-12
            .year-mini
              .row
                .col-md-4
                  .year-end-second
                    .year-secondthumb
                      a(href="detail-life.html" title="Thiên đường giữa chốn trần gian qua góc máy phượt thủ Việt")
                        img(src="http://kul.vn/media/cache/thumbnail_185x105/uploads/media/thumbnail/584b/7f/thumbnail_16x9_bong-hong-lai-2.jpg", alt="Thiên đường giữa chốn trần gian qua góc máy phượt thủ Việt")
                    .year-titles
                      a.year-end-cateout(href="#", title="") Giải trí
                      h3
                        a(href="detail-life.html") Giới trẻ lặng người trước lời xin lỗi đến từ MC Phan Anh
                      p.content-news Đoạn video clip mang tên “Xin hãy thay đổi vì Thế hệ tương lai” của MC Phan Anh được đăng tải trong thời gian gần đây đang được cư dân mạng truyền tay nhau...  
                .col-md-4
                  .year-end-second
                    .year-secondthumb
                      a(href="detail-life.html" title="Thiên đường giữa chốn trần gian qua góc máy phượt thủ Việt")
                        img(src="http://kul.vn/media/cache/thumbnail_185x105/uploads/media/thumbnail/584b/7f/thumbnail_16x9_bong-hong-lai-2.jpg", alt="Thiên đường giữa chốn trần gian qua góc máy phượt thủ Việt")
                    .year-titles
                      a.year-end-cateout(href="#", title="") Giải trí
                      h3
                        a(href="detail-life.html") Giới trẻ lặng người trước lời xin lỗi đến từ MC Phan Anh
                      p.content-news Đoạn video clip mang tên “Xin hãy thay đổi vì Thế hệ tương lai” của MC Phan Anh được đăng tải trong thời gian gần đây đang được cư dân mạng truyền tay nhau...
                .col-md-4
                  .year-end-second
                    .year-secondthumb
                      a(href="detail-life.html" title="Thiên đường giữa chốn trần gian qua góc máy phượt thủ Việt")
                        img(src="http://kul.vn/media/cache/thumbnail_185x105/uploads/media/thumbnail/584b/7f/thumbnail_16x9_bong-hong-lai-2.jpg", alt="Thiên đường giữa chốn trần gian qua góc máy phượt thủ Việt")
                    .year-titles
                      a.year-end-cateout(href="#", title="") Giải trí
                      h3
                        a(href="detail-life.html") Giới trẻ lặng người trước lời xin lỗi đến từ MC Phan Anh
                      p.content-news Đoạn video clip mang tên “Xin hãy thay đổi vì Thế hệ tương lai” của MC Phan Anh được đăng tải trong thời gian gần đây đang được cư dân mạng truyền tay nhau...
    include ./footer.jade
    script(src='js/jquery-scrolltofixed.js')
    script(src='js/main.js')
